[% USE Dumper %]

<div id="kennisbank_search">
    <div id="accordion">
        <h3><a href="#">Zoekcriteria</a></h3>
        <div>
           <div id="search_zaaktype_popup" class="ui-accordion-table-bg clearfix">
                <form method="POST">
                    [% FOREACH key IN options.keys %]
                        <input type="hidden" name="[% key %]" value="[% options.$key %]"/>
                    [% END %]
                    <input type="hidden" name="search" value="1" />
                    <input type="text" name="term" class="input_large infinite marginBottom" value="" placeholder="Vul hier je zoekterm in">
                    <input type="submit" class="button140 right" name="submit" value="Zoeken"/>
                    <img src="images/loader.gif" id="betrokkene_loader" class="disabled">
                </form>
                
            </div>
        </div>

        <h3><a href="#">
            Resultaten
            </a>
        </h3>

        <div>
            <div class="ui-accordion-table-bg ezra_search_box-results">
                <table class="table_zaaktypen">
                </table>
            </div>
        </div>
    </div>
</div>

