<ul class="spot-enlighter-menu" data-g-show="entries.length">
	<li data-ng-repeat="entry in entries" class="spot-enlighter-case">
		<div class="spot-enlighter-case-title">
			<[entry.object.id]>: <[entry.object.zaaktype_node_id.titel]>
		</div>
		<small class="spot-enlighter-case-desc">
			<[entry.object.onderwerp]>
		</small>
	</li>
</ul>