<div class="pip-block">
    <!--<div class="pip-block-header"><h2>Mijn gegevens</h2></div>-->
    <div class="pip-block-content">

                <form method="post" action="[% c.uri_for('/pip/contact') %]">
                    <fieldset>
                        <input type="hidden" name="ztc_aanvrager_id" value="[% ztc_aanvrager_id %]" />
                        <input type="hidden" name="update" value="1" />
                        [% wgt_config.post_button = 1 %]
                        [% IF betrokkene.btype == 'bedrijf' %]
                        [% PROCESS widgets/betrokkene/view_bedrijf.tt
                            betrokkene_edit = 1
                        %]
                        [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
                            [% PROCESS widgets/betrokkene/view_natuurlijk_persoon.tt %]
                        [% END %]
                    </fieldset>
                </form>

    </div>
</div>
