[% USE Dumper %]

            <div class="next-status-block next-status-block-with-table">
                <div class="notificatie_container">

                    <h2 class="blue">[%
                        component_counter = component_counter + 1;
                        component_counter %]. E-mails voor deze fase
                    </h2>

                    <table class="margin5px ztAjaxTable">
                        <thead>
                            <tr>
                                <th class="td40">Versturen?</th>
                                <th>Naam</th>
                                <th class="td250">Versturen op</th>
                                <th class="td20"></th>
                                <th class="td20"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ztAjaxTable_template">
                                <td class="center">
                                    <input
                                        type="checkbox"
                                        size="40"
                                        value="1"
                                        checked="checked"
                                        name="status_notificatie_run" />
                                </td>
                                
                                <td>
                                    <input
                                        type="hidden"
                                        class="ztAjaxTable_uniquehidden"
                                        value="[% snotificatie.label %]"
                                        name="status_notificatie_id" />
                                </td>
                                <td></td>
                                <td class="td20">
                                    <a href="[% c.uri_for('/zaak/' _ zaak.nr _ '/status/next/notificatie_definitie'); %]" class="edit icon-edit icon" title="E-mail eigenschappen"></a>
                                </td>
                                
                                <td class="td20">
                                    <a href="#" class="ztAjaxTable_del icon icon-del"></a>
                                </td>
                                
                            </tr>

                            [% values = zaak.scalar.field_values() %]

                            [% notificatiecount = 0 %]
                            [% notificaties = zaak.volgende_fase.scalar.zaaktype_notificaties.scalar.search({},
                                { 
                                    order_by => {'-asc' => 'me.id'} 
                                })
                            %]
                            [% WHILE (snotificatie = notificaties.next) %]
                                [% notificatiecount = notificatiecount + 1 %]
                                [% zaaktype_notificatie_id = snotificatie.id %]
                            <tr class="ztAjaxTable_row ztAjaxTable_rownumber_[% notificatiecount %]">
                                <td><input
                                        type="checkbox"
                                        size="40"
                                        value="1"
                                        [% IF snotificatie.automatic || regels_result.schedule_mail.$notificatiecount %]
                                        checked="checked"
                                        [% END %]
                                        name="status_notificatie_run_[% notificatiecount %]" />
                                </td>
                                <td>[% snotificatie.bibliotheek_notificaties_id.label %]
                                    <input
                                        type="hidden"
                                        value="[% snotificatie.bibliotheek_notificaties_id.label %]"
                                        name="status_notificatie_id_[% notificatiecount %]"
                                        class="infinite ztAjaxTable_uniquehidden" />
                                </td>
                                <td>
                                    [% IF regels_result.schedule_mail.$notificatiecount %]
                                        [% is_scheduled = 1 %]
                                        [% current_rule_result = regels_result.schedule_mail.$notificatiecount %]
                                        
                                        [% IF current_rule_result.delay_type == 'minuten' %]
                                            <input
                                                type="hidden"
                                                name="status_notificatie_send_date_[% notificatiecount %]"
                                                value="[% current_rule_result.send_date.epoch %]"
                                            />
                                            <input 
                                                type="hidden"
                                                name="status_notificatie_schedule_test_[% notificatiecount %]"
                                                value="[% current_rule_result.send_date.epoch %]"
                                            />
                                            [% time_temp = current_rule_result.send_date.set_time_zone('Europe/Amsterdam') %]
                                            [% time_temp.dmy %] [% time_temp.hms %]
                                        [% ELSE %]
                                            <input
                                                type="text"
                                                class="ezra_case_next_phase_notification_send_date normal100"
                                                name="status_notificatie_send_date_[% notificatiecount %]"
                                                value="[% current_rule_result.send_date_formatted %]"
                                                />
                                        [% END %]
                                    [% ELSE %]
                                        Direct
                                    [% END %]

                                </td>
                                <td class="td20">
                                    <!--a href="[% c.uri_for('/zaak/' _ zaak.nr _ '/email_settings/' _ notificatiecount _ '/' _ is_scheduled); %]" class="edit icon icon-edit ezra_dialog" title="Bewerk eigenschappen notificatie"></a-->
                                </td>
                                <td class="td20">
                                    <a href="#" class="ztAjaxTable_del icon icon-del">
                                    </a>
                                </td>
                            </tr>
                            [% END %]
                        </tbody>
                    </table>
                    [% BLOCK disabled # not working right now - doesn't seem to be used heavily %]
                    < a
                        href="#"
                        rel="status: [% c.req.params.status %]; initcallback: ezra_zaaktype_notificatie_edit; rowcallback: ezra_zaaktype_add_notificatie"
                        title="E-mail toevoegen"
                        class="knop knop-margin-top ztAjaxTable_add knop-bootstrap"
                        ><i class="icon icon-add"></i> E-mail toevoegen</a>
                        <div class="ui-helper-clearfix"></div>
                    [% END %]
                </div>
            </div>
