<div class="dossier-sidebar" data-zs-accordion data-zs-accordion-active="<[!actions.length&&'1'||'0']>">
	<h3 class="ui-accordion-header">%%Acties%% (<[actions.length]>)</h3>
	<div class="case-actions" data-ng-controller="nl.mintlab.case.CaseActionController">
	    <div class="inner">
	        







<ul data-ng-class="{ 'fase-afgerond': closed }">
	<li class="dossier-sidebar-item case-action" data-ng-class="{ 'action-disabled': isDisabled(action) }" data-ng-repeat="action in actions" data-ng-include="'/html/case/action-type-' + ((action.type == 'email' || action.type == 'template') && action.type || 'other') + '.html'">
	</li>
</ul>

<script type="text/ng-template" id="/html/case/action-type-template.html">
	
	<div class="case-action-info case-action-<[action.type]>" 
	 
		data-zs-popup="'/html/case/action-form-template.html'"
	data-ng-click="!closed&&openPopup()"
	data-zs-title="<[action.description]>" 
	>
		<div class="case-action-icon"></div>
		<strong><[action.label]></strong>
		<br/>
		<span><[action.data.description]></span>
	</div>
	<div class="case-action-state">
		<input type="checkbox" data-ng-disabled="isDisabled(action)" data-ng-model="action.automatic" data-ng-click="handleCheckboxClick($event)" data-ng-change="updateItem(action)" data-zs-title="<[(isDisabled(action)&&!closed)&&'%%In de laatste fase kan een deelzaak niet automatisch worden gestart.%%'||'%%Aangevinkte acties worden automatisch uitgevoerd bij het afronden van de fase%%']>"/>
	</div>
	<button data-ng-show="action.tainted" data-ng-click="resetAction($event, action)" class="icon-font-awesome icon-lock" data-zs-title="%%Actie kan niet door regels worden beïnvloed. Klik om vrij te geven.%%"></button>

</script>

<script type="text/ng-template" id="/html/case/action-type-email.html">
	
	<div class="case-action-info case-action-<[action.type]>" 
	 
		href="<[action.url]>"
	data-zs-title="<[action.description]>"
	data-ng-class="{ 'ezra_dialog': !closed }" 
	>
		<div class="case-action-icon"></div>
		<strong><[action.label]></strong>
		<br/>
		<span><[action.data.description]></span>
	</div>
	<div class="case-action-state">
		<input type="checkbox" data-ng-disabled="isDisabled(action)" data-ng-model="action.automatic" data-ng-click="handleCheckboxClick($event)" data-ng-change="updateItem(action)" data-zs-title="<[(isDisabled(action)&&!closed)&&'%%In de laatste fase kan een deelzaak niet automatisch worden gestart.%%'||'%%Aangevinkte acties worden automatisch uitgevoerd bij het afronden van de fase%%']>"/>
	</div>
	<button data-ng-show="action.tainted" data-ng-click="resetAction($event, action)" class="icon-font-awesome icon-lock" data-zs-title="%%Actie kan niet door regels worden beïnvloed. Klik om vrij te geven.%%"></button>

</script>

<script type="text/ng-template" id="/html/case/action-type-other.html">
	
	<div class="case-action-info case-action-<[action.type]>" 
	 
		href="<[action.url]>"
	data-zs-title="<[action.description]>"
	data-ng-class="{ 'ezra_dialog': !closed }" 
	>
		<div class="case-action-icon"></div>
		<strong><[action.label]></strong>
		<br/>
		<span><[action.data.description]></span>
	</div>
	<div class="case-action-state">
		<input type="checkbox" data-ng-disabled="isDisabled(action)" data-ng-model="action.automatic" data-ng-click="handleCheckboxClick($event)" data-ng-change="updateItem(action)" data-zs-title="<[(isDisabled(action)&&!closed)&&'%%In de laatste fase kan een deelzaak niet automatisch worden gestart.%%'||'%%Aangevinkte acties worden automatisch uitgevoerd bij het afronden van de fase%%']>"/>
	</div>
	<button data-ng-show="action.tainted" data-ng-click="resetAction($event, action)" class="icon-font-awesome icon-lock" data-zs-title="%%Actie kan niet door regels worden beïnvloed. Klik om vrij te geven.%%"></button>

</script>

<script type="text/ng-template" id="/html/case/action-form.html">
	<div data-zs-modal data-ng-init="title=action.label">
		<div data-ng-include="action.url">
		</div>
	</div>
</script>

<script type="text/ng-template" id="/html/case/action-form-template.html">
	<div data-zs-modal data-ng-init="title=action.label">
		<form name="templateForm" class="doc-template-form" data-ng-controller="nl.mintlab.case.CaseTemplateController">
			
			<div class="new-entity-options-row">
				<div class="new-entity-options-label">%%Naam%%</div>
				<div class="new-entity-options-field">
					<input type="text" data-ng-model="filename" data-ng-required="true" class="large300"/>
					<span><['.' + targetFormat]></span>
				</div>
			</div>
			
			<div class="new-entity-options-row" data-ng-show="caseDocs.length">
				<div class="new-entity-options-label">%%Zaakdocument%%</div>
				<div class="new-entity-options-field">
					<select data-ng-model="caseDocument" data-ng-options="(caseDoc.label||caseDoc.bibliotheek_kenmerken_id.naam) for caseDoc in caseDocs">
						<option value="">%%Geen%%</option>
					</select>
				</div>
			</div>
			
			<div class="new-entity-options-row">
				<div class="new-entity-options-label">%%Opslagformaat%%</div>
				<div class="new-entity-options-field">
					<label>
						<input type="radio" data-ng-model="targetFormat" value="odt"/>
						odt
					</label>
					<label>
						<input type="radio" data-ng-model="targetFormat" value="pdf"/>
						pdf
					</label>
				</div>
			</div>
			
			<button data-ng-disabled="templateForm.$invalid||action.automatic" data-ng-click="useTemplate()" class="button140 right">
				%%Aanmaken%%
			</button>
			<button data-ng-disabled="templateForm.$invalid" data-ng-click="saveTemplate()" class="button140 right">
				%%Opslaan%%
			</button>
		</form>
	</div>
</script>
	    </div>
	</div>

	<h3 class="ui-accordion-header" data-ng-show="showChecklist">%%Checklist%% (<[checklistItems.length]>)</h3>
	<div class="checklist" data-ng-controller="nl.mintlab.case.ChecklistController" data-ng-show="showChecklist">
	    <div class="inner">
	        <ul>
    <li data-ng-repeat="item in checklistItems" class="checklist-item dossier-sidebar-item <[item.user_defined&&'user-defined-checklist-item'||'']> <[item.id==-1&&'checklist-item-pending'||'']> <[item.checked&&'checklist-item-checked'||'']>">
        <label>
            <input type="checkbox" data-ng-model="item.checked" data-ng-disabled="closed" data-ng-change="updateItem(item)"
            /><[item.label]>
            <button data-ng-click="removeItem(item)" data-ng-show="!closed&&item.user_defined" class="icon icon-del"
            title="%%Verwijder taak%%">
                x
            </button>
        </label>
    </li>
</ul>
<form data-ng-submit="addItem(label);label=''" data-ng-show="!closed">
    <input type="text" data-ng-model="label" data-ng-required="true" data-zs-placeholder="'%%Voeg hier een taak toe aan de checklist...%%'" />
</form>
	    </div>
	</div>
</div>

<script type="text/zs-translation-data">
{
	"template": "%%Sjabloon%%",
	"email": "%%Email%%",
	"allocation": "%%Toewijzing%%",
	"case": "%%Zaak%%"
}
</script>