[% USE String %]
[%
rechtsvormmap = ZCONSTANTS.kvk_rechtsvormen;
rechtsvormenabled = ZCONSTANTS.kvk_rechtsvormen_enabled;
%]
<div class="table_webformulier">
    <div class="row">
        <div class="column large-3">KvK-nummer:</div>
        <div class="column large-9"><input type="text" name="dossiernummer" class="input_medium"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Handelsnaam:</div>
        <div class="column large-9"><input type="text" name="handelsnaam" class="input_medium"><span class="validator"></span></div>

    </div>
    <div class="row">
        <div class="column large-3">Rechtsvorm:</div>
        <div class="column large-9">
                [% currentrechtsvormid = betrokkene.rechtsvorm | format('%02d') %]
                [% FOREACH rechtsvormid IN rechtsvormenabled %]
                    <input
                        type="radio"
                        name="rechtsvorm"
                        value="[% rechtsvormid %]"
                        [% (rechtsvormid == currentrechtsvormid ?
                        'checked="checked"' : ''
                        ) %]
                        >
                        [% rechtsvormmap.$rechtsvormid %] <br>
                [% END %]
            <span class="validator"></span>
        </div>
    </div>
    <div class="row">
        <div class="column large-3">Vestiging straat:</div>

        <div class="column large-9"><input type="text" name="vestiging_straatnaam" class="input_medium"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Vestiging huisnummer:</div>
        <div class="column large-9"><input type="text" name="vestiging_huisnummer" class="input_mini"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Vestiging toevoeging:</div>
        <div class="column large-9"><input type="text" name="vestiging_huisnummertoevoeging" class="input_mini"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Vestiging postcode:</div>
        <div class="column large-9"><input type="text" name="vestiging_postcode" class="input_mini"> 1234AZ<span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Vestiging woonplaats:</div>
        <div class="column large-9"><input type="text" name="vestiging_woonplaats" class="input_medium"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Telefoonnummer:</div>
        <div class="column large-9"><input type="text" name="telefoonnummer" class="input_medium"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">E-mailadres:</div>
        <div class="column large-9"><input type="text" name="email" class="input_medium"><span class="validator"></span></div>
    </div>
    <!--
    <div class="row">
        <div class="column large-3">Contactpersoon voorletters:</div>
        <div class="column large-9"><input type="text" name="contact_voorletters" class="input_mini"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Contactpersoon tussenvoegsel:</div>
        <div class="column large-9"><input type="text" name="contact_tussenvoegsel" class="input_medium"><span class="validator"></span></div>
    </div>
    <div class="row">
        <div class="column large-3">Contactpersoon achternaam:</div>
        <div class="column large-9"><input type="text" name="contact_geslachtsnaam" class="input_medium"><span class="validator"></span></div>
    </div>
    -->
</div>
