[% 
#  Fill in value using a rule. Parameters:
#  - fieldname
#  - fieldvalue (can be a scalar or list)
%]

<div class="regels_fixed_value">
    [% IF fieldvalue.0 %]
        [% FOREACH fieldvalue_item = fieldvalue %]
            <input type="hidden" name="[% fieldname %]" value="[% fieldvalue_item %]"/>
            <li>[% fieldvalue_item %]</li>
        [% END %]
    [% ELSE %]
        <input type="hidden" name="[% fieldname %]" value="[% fieldvalue %]"/>
        [% fieldvalue %]
    [% END %]
</div>
