[% BLOCK case_phase %]
    <tr>
        <td>Fase:</td>
        <td>
            <select class="ezra_inavigator_case_phase_selector" name="[% fieldname %]">
                <option value="">Niet toevoegen</option>
                <option disabled="disabled">--------------</option>
                [% phases = casetype.phases.reset %]
                [% WHILE(row = phases.next) %]
                    <option value="[% row.status %]">[% row.naam %]</option>
                [% END %]
            </select>
        </td>
        <td>[% PROCESS widgets/general/validator.tt %]</td>
    </tr>
[% END %]


<h3><div class="toggle"></div>Zaakdocumenten ([% casetype.documents.size %])</h3>

<div class="import_inavigator_group_inner" style="display: none;">
<input type="hidden" name="documents_zaaktype_id" value="[% casetype.zaaktype_id %]"/>
<pre>[% #Dumper.dump(casetype.documents) %]</pre>
[% count = 0 %]

[% FOREACH document = casetype.documents %]
<table class="ezra_inavigator_field">
    [% prefix = 'document.' _ count %]
    <input type="hidden" name="document" value="[% prefix %]"/>
    [% IF document.bibliotheek_kenmerken_id %]
        <input type="hidden" name="[% prefix %].bibliotheek_kenmerken_id" value="[% document.bibliotheek_kenmerken_id %]" />
    [% END %]



    [% IF document.in_casetype %]
        <input type="hidden" name="[% prefix %].action" value="update" />
        <!--just import, it's found-->
    [% ELSIF document.bibliotheek_kenmerken_id %]
        <input type="hidden" name="[% prefix %].action" value="update_from_library" />
        <!--found in library:
        choose fase or don't add-->
        [% PROCESS case_phase 
            fieldname = prefix _ '.fase'
        %]
    [% ELSE %]
        <input type="hidden" name="[% prefix %].action" value="create" />
        <!-- found nowhere:
        add to fase
        and choose cat -->
        [% PROCESS case_phase 
            fieldname = prefix _ '.fase'
        %]
        [% PROCESS beheer/zaaktypen/import/icontroller/bibliotheek_categorie_selector.tt 
            fieldname = prefix _ '.bibliotheek_categorie_id'
            hidden = 1
        %]
    [% END %]

    [% FOREACH field = ICONTROLLER_IMPORT_DOCUMENTS_CONFIG %]
        [% IF field.type == 'documentnaam' %]
            <input type="hidden" name="[% prefix %].naam" value="[% document.naam %]" />
        [% ELSE %]
            [% PROCESS beheer/zaaktypen/import/icontroller/validate_field.tt
                field_settings = field
                value = document.item(field.field)
                prefix = prefix
            %]
        [% END %]
    [% END %]

    [% field_settings = {'label' => 'Publiceren op website', 'field' => 'publish_public', 'type' => 'checkbox'} %]
    [% PROCESS beheer/zaaktypen/import/icontroller/validate_field.tt
    %]

    [% count = count + 1 %]
</table>
[% #LAST %][% # dont want to wade through endless %]
[% END %]
</div>



