 
/* @group base */ 

.basic #logo {
    float: left;
    height: 55px;
    margin: 30px 0 30px 38px;
    width: 226px;
}
 
.basic #header{
	width: 100%;
	background: url(../img/vianen-header.jpg) 20px 0 no-repeat;
	height: 110px;
}


 /* @end */
 
 /* @group block */
 
 .block > .header,
 .pip-header,
 .basic .block.succes > .header {
 	background: #1f2579 !important;
 }
	
 /* @end */

 
 
 /* @group knop */
 
.knop{
	border-color: #232d84;
}

.knop:hover{
	border-color: #000;
}

.webform_inner .knop{
	border: 1px solid #BBBBBB;
	border-bottom-color:#999;
	border-top-color:#ccc;
}



/* @end */
 
/* @group button140 */

.button140{background: #232d84;}
.button140:hover{background: #3f499b;}
.button140-prev{background: #333;}
.button140-prev:hover{background: #555;}


/* @end */


/* @group Baarn-ID */

.id-knop.id-knop-vianenid{
	border: 1px solid #232d84;
}


.id-knop.id-knop-vianenid:hover{
	background: #232d84;
}

.id-knop.id-knop-vianenid:active{
	background: rgb(34,34,34);
	background: -moz-linear-gradient(top,  rgb(34,34,34) 0%, rgb(68,68,68) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(34,34,34)), color-stop(100%,rgb(68,68,68)));
	background: -webkit-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -o-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: -ms-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	background: linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}

 
/* @end */



 
/* @group pip */

.pip{
	padding: 20px 30px 25px;
}

.pip-header{
	display: block;
}

/* @end */
 

 
/* @group stappen  */
	
	.stappen-nav{margin: 0px;width: auto;
	}
 
	.groeptekst { padding: 8px 0 12px; }
	
	.groeptekst {
		border-top: none;
		margin: 0; }
	 
		.groeptekst .current-group { bottom: -3px; }

	 
		.stap.active {
			border-bottom-color: #fb953a;}
			
			
	.ideal-knop, input.id-knop-groot { height: 100px !important; }


/* @end */



