/* ***** BEGIN LICENSE BLOCK ********************************************
 * Version: EUPL 1.1
 *
 * The contents of this file are subject to the EUPL, Version 1.1 or
 * - as soon they will be approved by the European Commission -
 * subsequent versions of the EUPL (the "Licence");
 * you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://joinup.ec.europa.eu/software/page/eupl
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Zaaksysteem
 *
 * The Initial Developer of the Original Code is
 * Mintlab B.V. <info@mintlab.nl>
 * 
 * Portions created by the Initial Developer are Copyright (C) 2009-2011
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 * Michiel Ootjers <michiel@mintlab.nl>
 * Jonas Paarlberg <jonas@mintlab.nl>
 * Jan-Willem Buitenhuis <jw@mintlab.nl>
 * Peter Moen <peter@mintlab.nl>
 *
 * ***** END LICENSE BLOCK ******************************************** */
/* @group base.css */
/* @group basics */
* {
  padding: 0;
  margin: 0;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  text-decoration: none;
  background: url(../images/bg.gif) repeat 0 0 #f1f1f1;
}

a {
  color: #333333;
}
a:hover {
  color: #11449e;
}

img {
  border: none;
}

em {
  color: red;
}

ul.list {
  margin-left: 15px;
}

p {
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: 20px;
}
p.bericht {
  margin-bottom: 15px;
}

.blue {
  color: #083E80;
}

.th_16px {
  font-size: 16px;
  font-weight: bold;
}

.td_14px {
  font-size: 14px;
}

.td_16px {
  font-size: 16px;
}

td.label {
  font-weight: bold;
}

h1.in-dialog {
  font-size: 13px;
  position: relative;
  padding: 12px 0;
  border-bottom: 2px solid #ddd;
}

h2 {
  margin-bottom: 15px;
}
h2.zaaknummer {
  float: left;
}

h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

hr {
  border: 1px solid #ddd;
}

small {
  color: #888;
  font-size: 11px;
}

/* @end */
#contentwrapper {
  margin-left: 233px;
  clear: both;
  margin-right: 15px;
  padding: 50px 0 0 0;
}

.ie7 #contentwrapper {
  padding: 0px 0 25px 0;
}

#contentwrapper.layout_simple {
  margin-left: 20px;
}

#contentcolumn {
  margin-top: 15px;
  float: left;
  width: 100%;
}

#leftcolumn {
  float: left;
  clear: left;
  height: 99%;
  width: 205px;
  position: static;
  margin-left: -215px;
  margin-top: 15px;
}

.ie7 #leftcolumn {
  position: relative;
}

#leftcolumn_inner {
  border: 1px solid #999;
  background: #fff;
  width: 193px;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  #leftcolumn_inner {
    margin-bottom: 0;
  }
}

#leftcolumn_inner2 {
  background: url(../images/nav-bg-strong.gif) repeat-y left top;
}

#topsection {
  background: #45525a;
  background: -moz-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c6a70), color-stop(100%, #3f494d));
  background: -webkit-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -o-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -ms-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c6a70', endColorstr='#3f494d',GradientType=0 );
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 2998;
}

.ie7 #topsection {
  position: static;
}

.header-right {
  color: #ffffff;
  font-weight: bold;
  height: 50px;
  margin-left: 223px;
  background: url(../images/head-divide.png) no-repeat left center;
}

/* @group Menu */
.menu_heading {
  color: #4c4c4c;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 10px;
  background: url(../images/nav-title-bg.png) repeat 0 0;
  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #f6f6f6;
  text-decoration: none;
}

.icon_close {
  position: absolute;
  right: 0;
  top: 0;
}

.menu_heading:hover {
  background: url(../images/nav-title-bg-hover.png) repeat 0 0;
  cursor: pointer;
  color: #000;
}

.menu-items {
  line-height: 24px;
  list-style-type: none;
  padding: 6px 0;
  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #f6f6f6;
}

.menu-items.bottom {
  margin-bottom: 0;
  border-bottom: none;
}

.menu-items li {
  margin: 0;
  padding: 0;
}

.menu-items li a {
  background: transparent;
  color: #444;
  display: block;
  padding: 1px 6px;
  margin: 0 6px;
  text-decoration: none;
  font-size: 13px;
  border: 1px solid transparent;
}

.menu-items li a:hover {
  color: #000;
  background-color: #ccc;
  border: 1px solid transparent;
}

.menu-items li a:active {
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.menu-items li a:active {
  background-position: 0 -24px;
}

.menu-items li a.current,
.menu-items li a.current:hover {
  background: #cccccc url("../images/menu-items_arrow.gif") no-repeat 0 9px;
}

.menu-items li a.disabled {
  color: #999;
}

.menu-items li a.disabled:hover {
  background: transparent;
  cursor: default;
}

.menu_heading {
  padding: 6px 5px 3px 28px;
  position: relative;
}

.menu_heading span {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  left: 12px;
}

.werkvoorraad span {
  background: url(../images/icon-menu-werkvoorraad.png) no-repeat 3px center;
}

.zoeken span {
  background: url(../images/icon-menu-magnifier.png) no-repeat 3px center;
}

.beheer span {
  background: url(../images/icon-menu-beheer.png) no-repeat 3px center;
}

.menu-responsive .menu-title {
  padding: 0;
}

.menu-responsive li {
  list-style: none;
}

.menu-responsive .menu_heading {
  display: block;
  padding: 12px 5px 12px 40px;
  background-position: 0px center;
}

/* @end */
/* @group Block */
.block {
  padding: 1px 0 0 !important;
  border: 1px solid #aaa;
  margin-bottom: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 3px #cccccc;
  -moz-box-shadow: 0px 0px 3px #cccccc;
  box-shadow: 0px 0px 3px #cccccc;
  position: relative;
}

.block .blockcontent,
.blockcontent {
  padding: 15px 20px;
}

.header {
  font-size: 1.333em;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  padding: 8px 8px 8px 15px;
  line-height: 1.8;
}

.header h1 {
  font-size: 1em;
}

.block .header {
  border-bottom: 1px solid #cdcdcd;
  background: #efefef url(../images/block-header-bg.gif) repeat-x left bottom;
  position: relative;
}

.header.tabbed {
  background: #efeded;
  padding-left: 16px;
  padding-bottom: 8px;
  position: relative;
}

.header .status {
  font-size: .666em;
}

.flex50 {
  width: 49%;
}

.block-left {
  width: 70%;
  margin-right: 2%;
  float: left;
}

.block-sidebar {
  width: 28%;
  float: left;
}

.block-sidebar-fixed {
  position: fixed;
}

#blockvar-wrap,
.blockvar-wrap {
  margin-right: 305px;
}

.blockvar {
  width: 100%;
  margin-bottom: 20px;
}

.block300,
.blockvar-sidebar {
  width: 280px;
  position: relative;
  margin-right: -320px;
  clear: right;
  padding-left: 20px;
}

.blockvar-sidebar.blockvar-sidebar-fixed {
  position: fixed;
  right: 20px;
  top: 77px;
  margin-right: 0;
}

.block300 .block,
.blockvar-sidebar .block {
  width: 100%;
}

.block-minheight {
  min-height: 440px;
  height: auto !important;
  height: 440px;
}

.block-minheight .blockcontent {
  padding: 10px 20px 70px !important;
}

.tab-interface .min-height {
  min-height: 400px;
}

/* @end */
.spotenlighter {
  z-index: 1;
  position: relative;
}

.spotenlighter .spotenlighter-input {
  padding: 8px 0 9px 0;
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -305px;
  text-align: center;
}

.spotenlighter .ui-autocomplete-input {
  background: rgba(0, 0, 0, 0.2) url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  height: auto;
  padding: 6px 8px;
  width: 200px;
  -webkit-transition: width 100ms ease-in;
  -moz-transition: width 100ms ease-in;
  -o-transition: width 100ms ease-in;
  transition: width 100ms ease-in;
}

.no-rgba .spotenlighter .ui-autocomplete-input {
  background: #3f484c url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
  border: 1px solid #252b2e !important;
  box-shadow: 0 1px 0 #697275, 0 1px 1px #3e494d inset;
  color: #8b9193;
}

.no-boxshadow .spotenlighter .spotenlighter-input-wrap {
  border-bottom: 1px solid #697275;
  width: 218px;
}

.ie8 .spotenlighter .spotenlighter-input-wrap {
  height: 32px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

.ie8 .spotenlighter .focus.spotenlighter-input-wrap,
.ie8 .spotenlighter .spotenlighter-input-active .spotenlighter-input-wrap {
  margin-left: -258px;
}

.ie8 .spotenlighter .spotenlighter-input {
  height: 39px;
}

.ie8 .spotenlighter-input-wrap.focus,
.ie8 .spotenlighter .spotenlighter-input-active .spotenlighter-input-wrap {
  width: 516px;
}

.no-boxshadow .spotenlighter .focus .spotenlighter-input-wrap {
  width: 516px;
}

.oldie .spotenlighter .ui-autocomplete-input {
  display: block;
}

.spotenlighter .ui-autocomplete-input:focus,
.spotenlighter .focus .ui-autocomplete-input {
  border: 1px solid #3F494D !important;
  width: 500px;
  box-shadow: none !important;
  background: white url(../images/spotenlighter-vergrootglas.png) no-repeat right 50%;
  color: #333;
}

.spotenlighter .ui-autocomplete-input:hover {
  border-color: #000 !important;
}

.spotenlighter .spotenlighter-input-active .ui-autocomplete-input,
.spotenlighter .spotenlighter-input-active .ui-autocomplete-input:hover {
  border-color: #393f41 !important;
  background: #fff;
  color: #000;
  width: 500px;
}

.spotenlighter .spotenlighter-input-active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 3px rgba(0, 0, 0, 0.7);
  background: #8b9e9d;
  background: -moz-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8b9e9d), color-stop(100%, #485556));
  background: -webkit-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: -o-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: -ms-linear-gradient(top, #8b9e9d 0%, #485556 100%);
  background: linear-gradient(top, #8b9e9d 0%, #485556 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8b9e9d', endColorstr='#485556',GradientType=0 );
}

.no-rgba .spotenlighter-input-active {
  box-shadow: inset 0 1px 0 #bddbf3;
}

.no-boxshadow .spotenlighter-input-active {
  border-top: 1px solid #bddbf3;
}

.betrokkene .adres, .betrokkene .burgerservicenummer {
  font-size: smaller;
  color: gray;
}

.ui-autocomplete-spotenlighter-betrokkene {
  position: fixed;
}

.ui-autocomplete-spotenlighter .spotenlighter-results-category {
  display: block;
  width: 140px;
  text-align: right;
  color: #bbb;
  font-weight: bold;
  position: absolute;
  line-height: 1.9;
  z-index: 1;
  padding-right: 9px;
}

.ui-menu .ui-menu-item a small {
  color: #bbb;
  font-size: 0.846em;
  padding-bottom: 0.2em;
  display: block;
  line-height: 1.5;
}

.ui-menu .ui-menu-item a .betrokkene small {
  color: #888;
}

.ui-menu.ui-autocomplete-spotenlighter {
  background: url(../images/nieuwe_zaak_starten_bg.gif) repeat-y -200px 0 white;
  max-height: 400px;
  border-top: none;
  z-index: 4 !important;
  position: fixed;
  top: 50px !important;
}

.ie7 .ui-menu.ui-autocomplete-spotenlighter {
  position: absolute;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-hover,
.no-rgba .ui-menu.ui-autocomplete-spotenlighter .ui-menu-item a.ui-state-active {
  background: #5C6A70;
}

.ui-autocomplete-spotenlighter .extra_space {
  padding: 5px;
  height: 1px;
  display: block;
  float: left;
  clear: left;
}

.ui-autocomplete span.naam {
  line-height: 1.4;
  display: block;
  font-weight: bold;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category div {
  display: inline-block;
  float: right;
  border: 1px solid transparent;
  padding: 0 8px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category span {
  padding: 0 8px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div {
  color: #000;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, #f7f7f7), color-stop(52%, #f2f2f2), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  border: 1px solid #888;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .spotenlighter-results-category:hover div:active {
  background: #cecece;
  background: -moz-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cecece), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -ms-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: linear-gradient(top, #cecece 0%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.spotenlighter-input .icon-cancel-search {
  display: none;
  width: 18px;
  height: 18px;
  background: url(../images/icon-cancel-search.png) no-repeat 0 0 !important;
  position: absolute;
  right: 55px;
  top: 50%;
  margin-top: -10px;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item {
  position: relative;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:hover {
  background-color: #aaa;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user:active {
  background-color: #222;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .start-persistent-user {
  display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .start-persistent-user {
  display: block;
}

.ui-menu .ui-menu-item .actions-nav {
  display: none;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .actions-nav {
  box-shadow: none;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -19px;
  display: none;
  border: 1px solid #444;
}

.ui-menu.ui-autocomplete-spotenlighter .ui-menu-item .ui-state-hover .actions-nav {
  display: block;
}

/* @group Header Menu */
.header-menu {
  position: absolute;
  right: 15px;
  top: 6px;
  z-index: 1;
}

.header-menu .header-menu-item {
  width: 24px;
  height: 22px;
  display: block;
  text-indent: -9999px;
  float: left;
  padding: 7px 7px;
  border: 1px solid transparent;
  position: relative;
}

.header-menu .header-menu-item .header-menu-item-icon {
  width: 24px;
  height: 22px;
}

.header-menu .header-menu-item:hover,
.header-menu .hover .header-menu-item {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.oldie .header-menu .header-menu-item:hover,
.oldie .header-menu .hover .header-menu-item {
  background: #667075;
}

.header-menu .header-menu-item:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
}

.oldie .header-menu .header-menu-item:active {
  background: #424c51;
}

.header-menu .header-menu-item-icon {
  background: url(../images/icons-header.png) no-repeat 0 0;
}

.header-menu a.header-user .header-menu-item-icon {
  background-position: -24px 0;
}

.header-menu a.header-messages .header-menu-item-icon {
  background-position: -72px 0;
}

.header-menu a.header-messages .header-menu-item-icon.dropped {
  background-position: -96px 0;
}

.header-menu a.header-user.dropped {
  border-bottom: none;
  position: relative;
  z-index: 2;
}

.header-menu .header-menu-item.dropped:hover,
.header-menu .hover .header-menu-item.dropped {
  background: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.header-menu a.header-user.dropped span {
  background-position: -48px 0;
}

.flyout-menu {
  position: fixed;
  z-index: 2999;
  top: 54px;
  right: 10px;
}

.flyout-menu-inner {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
  color: #333;
}

.no-rgba .flyout-menu-inner {
  border: 1px solid #aaa;
  margin-right: -1px;
  border-bottom-color: #999;
}

.flyout-menu-nub {
  width: 21px;
  height: 10px;
  position: absolute;
  top: -9px;
  right: 10px;
  background: url(../images/icons-header.png) no-repeat -1px -28px;
}

.flyout-menu-title {
  font-weight: bold;
  border-bottom: 1px solid #bbb;
  padding: 5px 10px;
}

.messages-menu {
  width: 480px;
}

.messages-menu .messages-list {
  height: 385px;
  overflow: auto;
}

.messages-menu .message {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.messages-menu .message:hover {
  background: #f2f2f2;
}

.messages-menu .message strong {
  display: block;
}

.user-menu {
  width: 152px;
}

.user-menu-inner {
  width: 150px;
}

.ie8 .user-menu {
  width: 151px;
}

.user-menu a {
  font-size: 11px;
  color: #777;
  padding: 5px 7px 5px 29px;
  border-bottom: 1px solid #ddd;
  display: block;
  text-decoration: none;
  position: relative;
  font-weight: bold;
}

.ie7 .user-menu a {
  height: 20px;
  line-height: 22px;
}

.user-menu a:hover {
  background: #f5f5f5;
}

.user-menu a.user-menu-item-user {
  border-radius: 2px 0 0 0;
}

.user-menu a.user-menu-item-logout {
  border-radius: 0 0 2px 2px;
}

.user-menu a span {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 9px;
  top: 50%;
  margin-top: -5.5px;
  background: url(../images/icons-user-menu.png) 0 0;
}

.user-menu a.user-menu-item-last {
  border-bottom: none;
}

.user-menu a.user-menu-item-logout span {
  background-position: -11px 0;
}

.notification-count {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #de1b1b;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  line-height: 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  text-indent: 0;
}

/* @end */
.branding {
  text-indent: -9999px;
  width: 195px;
  height: 50px;
  float: left;
  margin-left: 18px;
}

.branding a {
  display: block;
  width: 195px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
}

.gemeente_bussum .branding a {
  background-image: url(../images/logos/logo-bussum-klein.png);
}

.gemeente_baarn .branding a {
  background-image: url(../images/logos/logo-baarn-klein.png);
}

.gemeente_debilt .branding a {
  background-image: url(../images/logos/logo-debilt-klein.png);
}

.logo_tholen .branding a {
  background-image: url(../images/logos/logo-tholen.png);
}

.gemeente_tholen .branding a {
  background-image: url(../images/logos/logo-tholen-klein.png);
}

.gemeente_ede .branding a {
  background-image: url(../images/logos/logo-ede.png);
}

.gemeente_test .branding a {
  background-image: url(../images/logos/logo-zaaksysteem.png);
  background-position: center 45%;
}

.gemeente_vianen .branding a {
  background-image: url(../images/logos/logo-vianen.png);
}

.gemeente_rci .branding a {
  background-image: url(../images/logos/logo-rci-klein.png);
}

.gemeente_mintlab .branding a {
  background-image: url(../images/logos/logo-mintlab.png);
}

.gemeente_groningenseaports .branding a {
  background-image: url(../images/logos/logo-seaports.png);
}

.gemeente_caci .branding a {
  background-image: url(../images/logos/logo-caci.png);
}

.gemeente_wijkbijduurstede .branding a {
  background-image: url(../images/logos/logo-wijkbijduurstede.png);
}

/* @group Login */
#login .login-bg {
  background: url(../images/login-bg.png) no-repeat 0 0;
  width: 413px;
  height: 119px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -206px;
  margin-top: 47px;
}

#login .login_maincontainer {
  background: #edf3f6;
  width: 260px;
  height: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  margin-top: -130px;
  padding: 1px 0 0 0;
  border: 1px solid #bbb;
  border-bottom: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

#login #maincontainer {
  height: 260px;
  border: none;
  background: #5c6a70;
  background: -moz-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c6a70), color-stop(100%, #3f494d));
  background: -webkit-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -o-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: -ms-linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  background: linear-gradient(top, #5c6a70 0%, #3f494d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c6a70', endColorstr='#3f494d',GradientType=0 );
  border-radius: 6px;
}

.ie9 #login .login_maincontainer {
  border-radius: 0;
}

#login #contentcolumn {
  margin-top: 0;
  float: none;
}

#login #loginwrap {
  width: 100%;
  margin: 0 auto;
}

#login #contentwrapper {
  margin: 0;
}

#login .block {
  background: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

#login .block .blockcontent {
  padding: 0 15px !important;
}

#login #topsection {
  height: 92px;
  box-shadow: none;
  position: static;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  background: none;
  filter: none;
}

.ie9 #login #topsection {
  filter: none;
}

#login #topsection .branding,
#login #topsection .branding a {
  width: 100%;
  margin: 0;
  height: 92px;
}

#login #topsection .branding a {
  width: 100%;
  margin: 0;
}

#login input.inloggen {
  margin: 10px auto 0;
}

#login .sysmessage {
  width: 230px;
  margin: 15px auto 0;
}

#login .sysmessage li {
  border-color: red;
  background: #fcd6d6;
  margin-bottom: 0;
}

#login #loginwrap .block {
  border: none;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
}

#login #loginwrap .block .header {
  display: none;
}

#login #loginwrap .block .blockcontent {
  padding: 15px;
}

#login .input_gebruiker {
  background: url(../images/icon-aanvrager-kleur.png) no-repeat 10px center white;
}

#login .input_ww {
  background: url(../images/icon-key.png) no-repeat 10px center white;
}

#login #contentwrapper {
  padding: 0 !important;
}

#login .button140 {
  width: 100%;
  background: #777d81;
  background: -moz-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777d81), color-stop(100%, #51595d));
  background: -webkit-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: -o-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: -ms-linear-gradient(top, #777d81 0%, #51595d 100%);
  background: linear-gradient(top, #777d81 0%, #51595d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777d81', endColorstr='#51595d',GradientType=0 );
  box-shadow: inset 0 1px 0 #8d9295, 0 1px 1px rgba(0, 0, 0, 0.08);
  border: 1px solid #333b3d;
  padding: 15px 0;
  height: 42px !important;
}

#login .button140:hover {
  background: #7c8286;
  background: -moz-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7c8286), color-stop(100%, #576065));
  background: -webkit-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: -o-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: -ms-linear-gradient(top, #7c8286 0%, #576065 100%);
  background: linear-gradient(top, #7c8286 0%, #576065 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c8286', endColorstr='#576065',GradientType=0 );
}

#login .button140:active {
  background: #3c4346;
  background: -moz-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c4346), color-stop(100%, #585d60));
  background: -webkit-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: -o-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: -ms-linear-gradient(top, #3c4346 0%, #585d60 100%);
  background: linear-gradient(top, #3c4346 0%, #585d60 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c4346', endColorstr='#585d60',GradientType=0 );
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
}

/** input wrapper */
.input-wrapper {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 0 12px;
  line-height: 18px;
  vertical-align: middle;
}

.input-wrapper input.text {
  z-index: 2;
  margin: 0;
  border: 0;
  background: transparent;
  *background: url(http://hunch.com/media/img/t.png);
  /* ie7 does weird stuff with transparent background, also please don't deep link to this image from your code */
  padding: 10px 10px 10px 35px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 14px;
  width: 185px;
}

.input-wrapper label {
  z-index: 1;
  position: absolute;
  height: 16px;
  padding: 10px 10px 10px 37px;
  font-size: 14px;
  line-height: 16px;
  color: #999;
  overflow: hidden;
}

.input-wrapper.focus label {
  filter: alpha(opacity=40);
  opacity: 0.4;
}

.input-wrapper.filled label {
  display: none;
}

/* @end */
/* @group Nieuwe Zaak Popup */
.nieuwezaak_wrap {
  position: relative;
  width: 193px;
  border: 1px solid #888;
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
  height: 47px;
  margin-bottom: 16px;
  background: url(../images/nieuwezaak-lekker.gif) no-repeat 0 0;
  z-index: 2;
}
.nieuwezaak_wrap.active {
  z-index: 3100;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;
  border-color: #444;
}

a.nieuwezaak {
  width: 128px;
  height: 47px;
  display: block;
  font-size: 1.2em;
  color: #393939;
  font-weight: bold;
  line-height: 3;
  padding-left: 40px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  float: left;
  -webkit-box-shadow: inset -1px 0 0 #ecf298;
  -moz-box-shadow: inset -1px 0 0 #ecf298;
  box-shadow: inset -1px 0 0 #ecf298;
  text-shadow: 0 0 1px #fff;
}
a.nieuwezaak:hover {
  background: url(../images/nieuwezaak-lekker.gif) no-repeat 0 -47px;
  color: #000;
  text-decoration: none;
  border-color: #999;
}
a.nieuwezaak:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}

.nieuwezaak-extra {
  width: 24px;
  height: 47px;
  background: rgba(0, 0, 0, 0.02);
  position: absolute;
  right: 0;
  display: block;
  top: 0;
  z-index: 1;
  border-left: 1px solid #8b9502;
  float: right;
}
.nieuwezaak-extra:hover {
  background: url(../images/nieuwezaak-lekker.gif) no-repeat -50px -47px;
  cursor: pointer;
}
.nieuwezaak-extra:active, .nieuwezaak-extra.active, .nieuwezaak-extra.active:hover {
  background-color: #cfe001;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.nieuwezaak-extra span {
  width: 100%;
  height: 9px;
  background: url(../images/nieuwezaak-extra.png) no-repeat center center;
  position: absolute;
  top: 50%;
  margin-top: -4px;
}

.nieuwe_zaak_extra_box {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #888888;
  left: -1px;
  position: absolute;
  top: 48px;
  width: 220px;
  z-index: 501;
  display: none;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.nieuwe_zaak_extra_box a {
  display: block;
  padding: 12px 10px 12px 40px;
  font-size: 1.2em;
  background: url(../images/nieuw-x.png) no-repeat 12px center;
  text-decoration: none;
}
.nieuwe_zaak_extra_box a:hover {
  background-color: #f4f4f4;
}
.nieuwe_zaak_extra_box a:first-child {
  border-bottom: 1px dotted #888;
}

.nieuwe_zaak_starten {
  width: 761px;
  background: white url(../images/nieuwe_zaak_starten_bg.gif) repeat-y -196px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #555;
  border: 1px solid rgba(0, 0, 0, 0.65);
  position: fixed;
  left: 233px;
  top: 36px;
  z-index: 3100;
  display: none;
  max-height: 450px;
}
.nieuwe_zaak_starten td {
  border-bottom: none !important;
}
.nieuwe_zaak_starten td label {
  font-weight: bold;
}
.nieuwe_zaak_starten td:first-child {
  text-align: right;
  padding-right: 40px;
  font-size: 13px;
}
.nieuwe_zaak_starten .form-actions {
  padding: 20px 20px 20px 174px;
}
.nieuwe_zaak_starten .zoek_veld .search_wrap {
  float: left;
}
.nieuwe_zaak_starten .zoek_veld input[type=text] {
  width: 214px;
}
.nieuwe_zaak_starten label .sub_text {
  font-size: 11px;
  color: #888;
  display: inline;
}
.nieuwe_zaak_starten .zaaktype_onthouden {
  font-size: 11px;
  font-weight: bold;
  margin-top: 3px;
}
.nieuwe_zaak_starten .zaaktype_onthouden input {
  margin-right: 3px;
}
.nieuwe_zaak_starten .radio-item, .nieuwe_zaak_starten .checkbox-item {
  margin-bottom: 6px;
}
.nieuwe_zaak_starten .radio-item:last-child, .nieuwe_zaak_starten .checkbox-item:last-child {
  margin-bottom: 0px;
}
.nieuwe_zaak_starten .file {
  background: url(../images/mime/icon-txt.png) no-repeat 0px center;
  padding: 6px;
  padding-left: 22px;
}

.nieuwe_zaak_starten_content {
  max-height: 420px;
  overflow-y: auto;
  padding: 15px 0 0;
}

.nieuwe_zaak_starten_popup .nieuwe_zaak_starten_tip {
  display: none;
}

.nieuwe_zaak_starten_tip {
  width: 27px;
  height: 57px;
  background: url(../images/nieuwe_zaak_starten_tip.png) no-repeat 0 0;
  position: absolute;
  top: 24px;
  left: -27px;
}

.ezra_nieuwe_zaak_tooltip-hide {
  width: 24px;
  height: 24px;
  background: url(../images/modal-close.png) no-repeat center center;
  position: absolute;
  top: -7px;
  right: -7px;
}
.ezra_nieuwe_zaak_tooltip-hide:hover {
  cursor: pointer;
}

.ie8 .nieuwe_zaak_starten_tip {
  background: url(../images/nieuwe_zaak_starten_tip-ie.png) no-repeat 0 0;
}

table.zaak_aanmaken td {
  padding: 10px 0;
}

table.zaak_aanmaken span {
  display: inline-block;
}

/* @end */
/* @group Auth Widget */
.widget-auth label {
  width: 70px;
  display: inline-block !important;
}

.auth_edit_box {
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  padding: 4px 6px 4px 36px;
  margin-right: 6px;
  position: relative;
  display: inline-block;
}

.auth_edit_box input[type=checkbox] {
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -5px;
}

.auth_edit_box .widget-auth > div {
  float: left;
}

.auth_edit_box .widget-auth > div:first-child {
  margin-right: 5px;
}

.auth_edit_box .widget-auth > div > label {
  width: auto;
  display: inline;
}

/* @end */
/* @group No Padding  */
.ui-accordion-table-bg {
  background: #fff;
  padding-top: 0px;
  padding-bottom: 20px;
}

.ie8 .ui-accordion-table-bg {
  padding: 10px 0;
}

.ui-dialog .ui-accordion-table-bg {
  background: none !important;
}

.no-padding .ui-accordion-content table,
.no-padding .blockcontent .ui-accordion-content table {
  padding: 0 20px !important;
}

.no-padding .ui-accordion-content table.ezra_table_table,
.no-padding .ui-accordion-content table.ezra_table {
  padding-left: 0 !important;
}

.no-padding.ui-tabs-panel,
.no-padding .blockcontent,
.no-padding.ui-dialog-content {
  padding: 0 !important;
}

.no-padding .ui-accordion-header,
.no-padding .ui-accordion-content {
  margin: 0 !important;
}

.ui-accordion-table-bg.geen-resultaten {
  padding-top: 20px !important;
  padding-bottom: 10px !important;
  padding-left: 20px;
}

/* @end */
/* @group SORT */
/* @end */
.system-message-component {
  position: fixed;
  z-index: 4000;
  top: 40px;
  left: 0;
  text-align: center;
  width: 100%;
  height: 10px;
}

.system-message-component button {
  border: none;
  background: none;
}

.system-message-component button.close {
  cursor: pointer;
  font-weight: normal;
  height: 16px;
  line-height: 1.1;
  position: absolute;
  right: 6px;
  text-align: center;
  top: 7px;
  width: 16px;
  text-decoration: none;
  color: #444;
}

.system-message-current {
  display: inline-block;
  line-height: 1.3em;
  padding: 7px 35px 7px 13px;
  border: 1px solid #c9c441;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 13px;
  position: relative;
  margin: 0 5px 5px;
}

.system-message-info {
  background: #f9fccb;
  border-color: green;
  border-color: rgba(0, 0, 0, 0.3);
}

.system-message-error {
  background: #fcc3c3;
  border-color: red;
  border-color: rgba(0, 0, 0, 0.3);
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  z-index: 8000;
}
.spinner > div {
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  width: 48px;
  height: 48px;
  background: url(/tpl/zaak_v1/nl_NL/images/spinner-apple.gif) no-repeat 50% 50% black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}

.spinner.ui-blocked {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.ie8 .spinner.ui-blocked {
  background: url(../images/ie_custom_overlay.png) repeat transparent;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2999;
  text-align: center;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  filter: Alpha(Opacity=50);
  position: fixed;
}

.modal-body {
  background-color: white;
  display: inline-block;
  text-align: left;
  box-shadow: 0 0 20px #222;
  -webkit-box-shadow: 0 0 20px #222;
  position: relative;
  z-index: 1;
  top: 70px;
}

.modal-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  position: relative;
}

.modal-title {
  margin: 1.15em 45px 1.15em 1.3em;
  float: left;
  font-size: 1.231em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal-content {
  padding: 10px 20px 20px;
  max-height: 450px;
  overflow: auto;
}

.modal-close {
  position: absolute;
  right: 14px;
  top: 50%;
  width: 24px;
  margin: -12px 0 0;
  height: 24px;
  border: none;
  background: none;
  background: url(../images/dialog-close.png) no-repeat center center;
  text-indent: -9999px;
}

.modal-close:hover {
  cursor: pointer;
  background-color: #eee;
}

.modal-content form {
  width: 550px;
}

.modal-content form.modal-medium {
  width: 700px;
}

.modal-content form.modal-large {
  width: 920px;
}

.context-menu {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  background: white;
  padding: 4px 0;
  border: 1px solid #ccc;
  list-style: none;
  z-index: 99;
}

.context-menu > li {
  padding: 0;
  margin: 0;
}

.context-menu > li > button {
  background-color: transparent;
  border: none;
  padding: 6px 14px;
  background: transparent;
  line-height: 1.4;
  width: 100%;
  font-size: 12px;
  text-align: left;
  font-family: helvetica;
  color: #333;
  display: inline-block;
  box-sizing: border-box;
}

.context-menu > li > button:hover {
  color: #fff;
  background: #5c6a70;
}

[data-zs-sortable]:hover {
  cursor: move;
}

/* @group Paginering   */
.pagination-current {
  width: 13%;
  float: left;
  font-weight: bold;
  color: #666;
}

.pagination-perpage {
  width: 13%;
  float: right;
}

.pagination-wrap {
  margin: 15px 0 5px;
}

.no-padding .pagination-wrap {
  margin: 15px 20px 5px;
}

.pagination {
  width: 74%;
  float: left;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid #bbb;
  border-left-width: 0;
  background: url(../images/knop-bg.gif) repeat-x 50% 50% white;
}

.pagination ul > li > a:hover {
  background: #ddd;
}

.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > li > a:active {
  background: #ccc;
  box-shadow: inset 1px 1px 1px #bbb;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #000;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 1px 6px;
  font-size: 10.5px;
}

.pagination .next,
.pagination .prev {
  text-indent: -9999px;
  padding: 4px 4px;
}

.pagination .next {
  background: url(../images/pager-next.gif) no-repeat center center;
}

.pagination .prev {
  background: url(../images/pager-prev.gif) no-repeat center center;
}

.pagination .disabled .next,
.pagination .disabled .prev {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  overflow: auto;
}

/* @end */
/* @group Non-Semantic Helper Classes */
/* @group Element Positioning */
.left {
  float: left;
  margin-left: 0;
}

.right {
  float: right !important;
  margin-right: 0 !important;
}

.col {
  float: left;
}

.col_right {
  float: right;
}

.col.marginright {
  margin-right: 10px;
}

.col.col-left {
  margin-right: 10px;
}

/* @end */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* @end */
/* @group No Javascript */
.hide {
  display: none;
}

.nojs-title {
  display: block;
  font-weight: bold !important;
  border-bottom: 2px solid #bbb;
  padding: 15px 15px 15px !important;
  margin: 0 -15px !important;
  background: #f5f5f5;
}

.js .nojs-title {
  display: none;
}

.noscript-notification {
  background: #fff9d7;
  border-bottom: 1px solid #e4da9f;
  padding: 15px 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}

.noscript-notification i {
  background: url(../images/icon-alert.png) no-repeat 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  display: inline-block;
  margin: 0 10px -3px 0;
  height: 16px;
  width: 16px;
}

.jshide {
  display: inline-block;
}

.nojshide {
  display: none;
}

.js .nojshide {
  display: inline-block;
}

.js .jshide {
  display: none;
}

html {
  padding: 50px 0 0;
}

html.js {
  padding: 0 !important;
}

/* @end */
.inline {
  display: inline;
}

.hide {
  display: none;
}

.width-auto {
  display: inline-block !important;
  width: auto;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0 !important;
}

.text-right {
  text-align: right;
}

.margin10 {
  margin-bottom: 10px;
}

.marginbottom, .marginBottom {
  margin-bottom: 20px !important;
}

.no_margin {
  margin-bottom: 0 !important;
}

.rightmargin {
  margin-right: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-15 {
  padding: 15px;
}

/* @group CSS3 Niceness   */
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rounded-left {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-right {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

/* @end */
/* @group Custom Overlay */
.custom_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 4000;
}
.custom_overlay div {
  background-color: #000;
  height: 48px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  padding: 7px;
  position: absolute;
  top: 50%;
  width: 48px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.ie8 .custom_overlay {
  background: url(../images/ie_custom_overlay.png) repeat 0 0;
}

/* @end */
/* @group Spinners */
/* @group Globalspinner */
.globalSpinner {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .85;
  filter: alpha(Opacity=85);
  top: 0;
  background-color: #000;
  text-align: right;
  z-index: 2000;
  overflow: auto;
  display: none;
}

.globalSpinner > div {
  background: url("../images/spinner-global.gif") no-repeat scroll 28px center white;
  font: bold 18px Tahoma,Geneva,sans-serif;
  left: 50%;
  margin-left: -180px;
  margin-top: -45px;
  padding: 30px 40px 30px 30px;
  position: absolute;
  top: 50%;
  width: 290px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* @end */
/* @group Tab Loader */
.tab-loader {
  width: 100%;
  min-height: 350px;
  display: none;
  position: relative;
}

.tab-loader img {
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

/* @end */
/* @group Simple Ajax Loader */
.ajaxloader {
  background: url(../images/ajax-loader.gif) no-repeat center center;
}

/* @end */
/* @group Zaakdossier accordion panel spinner */
.ui-accordion h3 > img {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1.6em;
  top: 19px;
}

/* @end */
/* @group Spinner Klein */
.spinner-klein {
  background: url(../images/loader.gif) no-repeat center center;
  width: 16px;
  height: 11px;
  top: 50%;
  margin-top: -6px;
  left: 20px;
  display: none;
  position: absolute;
}

.spinner_input_wrap {
  position: relative;
  display: inline-block;
}

.spinner_input {
  right: -23px;
  left: auto;
}

/* @end */
/* @group Accordion Search Spinner */
img#betrokkene_loader {
  margin-top: 10px;
  width: 16px;
  height: 11px;
  display: block;
  float: right;
  margin-right: 10px;
  zoom: 1;
}

img.disabled {
  display: none !important;
}

/* @end */
/* @group ztAjaxUpdate_loader */
.ztAjaxUpdate_loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  background: url(../images/ajax-loader.gif) no-repeat center white;
  text-align: center;
  padding: 10px;
  font: normal 16px Tahoma, Geneva, sans-serif;
  border: 1px solid #666;
  z-index: 2;
  overflow: auto;
  bottom: 50%;
  left: 50%;
}

.ztAjaxUpdate {
  position: relative;
}

/* @end */
/* @group Spinner groot */
.spinner-groot,
.formOverlay,
#spinner-groot {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1100;
}

.ie8 .spinner-groot,
.ie8 .formOverlay {
  background: url(../images/spinner-ie-bg.png) repeat transparent;
}

.spinner-groot > div {
  width: 31px;
  height: 31px;
  background: url("../images/spinner-global.gif") no-repeat scroll center top transparent;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
}

.spinner-groot.hasText > div {
  width: 200px;
  height: 130px;
  margin-left: -100px;
  margin-top: -65px;
}

.spinner-groot > div > span.spinner-groot-message {
  background: none repeat scroll 0 0 transparent;
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  display: block;
  padding-top: 40px;
}

.spinner-groot.spinner-groot-no-alpha {
  background: #fff !important;
}

/* @end */
/* @end */
/* @group Dev/Test Blokjes */
.otap_warning {
  display: none;
  font-size: 10.5px;
  font-weight: bold;
  height: 16px;
  left: 235px;
  line-height: 1.4;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 18px;
  width: 24px;
  z-index: 2999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.ie7 .otap_warning {
  position: absolute;
}

.otap_dev .otap_warning {
  color: #fff;
  background-color: red;
  display: none;
}

.otap_test .otap_warning {
  background-color: yellow;
  display: block;
}

/* @end */