/* @group Knop */
.knop {
  background: url(../images/knop-bg.gif) repeat-x 50% 50%;
  line-height: 1.538;
  font-weight: normal;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #bbb;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.35);
  border-top-color: #ccc;
  border-top-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 1em;
  padding: 0.4em 0.615em 0.4em 0.615em;
  position: relative;
  text-decoration: none;
  color: #333;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.knop:hover {
  border-color: #999;
  border-bottom-color: #777;
  border-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.knop[disabled="disabled"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.knop[disabled="disabled"]:hover {
  border-color: #ccc #bbb #999 #bbb;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
  cursor: default;
}

.header > .knop {
  font-size: 0.765em;
}

.knop.knop-go {
  background: #dcee5d;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #dcee5d), color-stop(45%, #dcee5d), color-stop(56%, #c8da49), color-stop(100%, #c8da49));
  background: -webkit-linear-gradient(to bottom, #dcee5d 0%, #dcee5d 45%, #c8da49 56%, #c8da49 100%);
  background: -moz-linear-gradient(to bottom, #dcee5d 0%, #dcee5d 45%, #c8da49 56%, #c8da49 100%);
  background: -o-linear-gradient(to bottom, #dcee5d 0%, #dcee5d 45%, #c8da49 56%, #c8da49 100%);
  background: linear-gradient(to bottom, #dcee5d 0%, #dcee5d 45%, #c8da49 56%, #c8da49 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcee5d', endColorstr='#c8da49',GradientType=0 );
  padding: 0 6px;
}

input.knop {
  padding-left: 28px;
  overflow: hidden;
  line-height: 1;
  background: url(../images/knop-bg.gif) repeat-x 50% 50% !important;
}

.ie8 .knop,
.ie8 input.knop {
  padding-left: 8px;
}

.knop.mini, .knop.knop-mini {
  padding-top: 0;
  padding-bottom: 0;
}

.knop.medium,
.knop.knop-medium {
  padding: 4px 10px 4px 26px;
}

.ie8 .knop.medium {
  padding-left: 10px;
}

.knop.groot {
  padding: 6px 12px 6px 28px;
  background: url(../images/knop-bg-large.gif) repeat-x 50% 50%;
}

.knop.no-icon {
  padding-left: 8px;
}

.knop.with-icon {
  padding-left: 30px;
}

.knop.no-icon.medium {
  padding-left: 10px;
}

.knop.no-icon.groot {
  padding-left: 12px;
}

.knop.margin-top,
.knop.knop-margin-top {
  margin-top: 10px;
}

.knop.right {
  margin-left: 5px;
}

.knop.in-header,
.knop.knop-in-header {
  position: absolute;
  top: 8px;
  right: 10px;
}
.knop.in-header:active,
.knop.knop-in-header:active {
  top: 9px;
}

.knop.float {
  float: left;
  margin-right: 7px;
}

.knop
.knop:active {
  border-color: #bbb;
  top: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.knop.voeg-toe {
  background: url("../images/icon-voegtoe.png") no-repeat scroll 6px center, url(../images/knop-bg.gif) repeat-x 50% 50% !important;
}

.knop.voeg-toe-span span {
  background: url("../images/icon-voegtoe.png") no-repeat scroll center center !important;
}

.ie8 .knop.voeg-toe {
  background: url(../images/knop-bg.gif) repeat-x 50% 50%;
}

.knop.opslaan {
  background: url("../images/icon-save.png") no-repeat scroll 8px center, url(../images/knop-bg.gif) repeat-x 50% 50% !important;
}

.knop.bewerk {
  background: url("../images/icon-mini-bewerk.png") no-repeat scroll 8px center, url(../images/knop-bg.gif) repeat-x 50% 50% !important;
}

.knop.geen-tekst {
  height: 14px;
  padding: 1px 8px;
  background: url("../images/icon-voegtoe.png") no-repeat scroll 3px center, url(../images/knop-bg.gif) repeat-x 50% 50%;
}

.knop.icon-magnifier {
  background: url(../images/icon-magnifier.png) no-repeat center center, url(../images/knop-bg.gif) repeat-x 50% 50%;
}

.ie8 .knop span {
  display: none;
}

.ie8 .knop.with-span-icon {
  padding-left: 28px !important;
}

.knop-bootstrap {
  padding: 3px 8px 3px 8px;
  text-align: center;
}

.knop-bootstrap.knop-medium {
  padding: 4px 8px 4px 8px;
}

.knop-bootstrap > .icon,
.knop-text > .icon,
.has-icon > .icon {
  line-height: 16px;
  vertical-align: text-top;
}

/* @end */
/* @group Button140   */
.button140 {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-bottom: 0.75em;
  padding-top: 0.8125em;
  padding-right: 1.125em;
  padding-left: 1.125em;
  font-size: 0.923em;
  color: white;
  border: 1px solid #444;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #5691be;
  -moz-box-shadow: inset 0 1px 0 #5691be;
  -webkit-box-shadow: inset 0 1px 0 #5691be;
  background: #0e62a2;
  background: -moz-linear-gradient(top, #0e62a2 0%, #074779 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e62a2), color-stop(100%, #074779));
  background: -webkit-linear-gradient(top, #0e62a2 0%, #074779 100%);
  background: -o-linear-gradient(top, #0e62a2 0%, #074779 100%);
  background: -ms-linear-gradient(top, #0e62a2 0%, #074779 100%);
  background: linear-gradient(top, #0e62a2 0%, #074779 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e62a2', endColorstr='#074779',GradientType=0 );
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input.button140,
button.button140 {
  padding-bottom: 0.75em;
  padding-top: 0.8125em;
}

.button140.margin {
  margin: 10px 0;
}

.button140:hover {
  background: #1175c1;
  background: -moz-linear-gradient(top, #1175c1 0%, #094c9e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1175c1), color-stop(100%, #094c9e));
  background: -webkit-linear-gradient(top, #1175c1 0%, #094c9e 100%);
  background: -o-linear-gradient(top, #1175c1 0%, #094c9e 100%);
  background: -ms-linear-gradient(top, #1175c1 0%, #094c9e 100%);
  background: linear-gradient(top, #1175c1 0%, #094c9e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1175c1', endColorstr='#094c9e',GradientType=0 );
  border-color: #444;
  cursor: pointer;
  color: #fff;
  box-shadow: inset 0 1px 0 #5691be,0 1px 1px #ccc;
}

.button140:active {
  position: relative;
  top: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  background: #074779;
  background: -moz-linear-gradient(top, #074779 0%, #0c4d87 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #074779), color-stop(100%, #0c4d87));
  background: -webkit-linear-gradient(top, #074779 0%, #0c4d87 100%);
  background: -o-linear-gradient(top, #074779 0%, #0c4d87 100%);
  background: -ms-linear-gradient(top, #074779 0%, #0c4d87 100%);
  background: linear-gradient(top, #074779 0%, #0c4d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#074779', endColorstr='#0c4d87',GradientType=0 );
}

.button140.grijs {
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  background: linear-gradient(top, #f7f7f7 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 );
  border: 1px solid #aaa;
  color: #333;
  box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  text-shadow: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  filter: none;
}

.button140.grijs:hover {
  border-color: #777;
  box-shadow: 0 1px 1px #ddd !important;
  background-image: none;
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  background: linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
  color: #333;
}

.button140[disabled='disabled'],
input.button140[disabled='disabled'] {
  opacity: 0.3;
  filter: alpha(opacity=30);
  background: #1175c1;
}

.button140[disabled='disabled']:hover {
  cursor: default;
}

.button140[disabled='disabled']:active {
  box-shadow: inset 0 1px 0 #5691be;
  -moz-box-shadow: inset 0 1px 0 #5691be;
  -webkit-box-shadow: inset 0 1px 0 #5691be;
  top: 0;
}

.button140.right {
  margin-left: 10px;
}

.button140.right.last {
  margin-right: 20px !important;
}

.ie8 input.button140:hover {
  background: #333;
}

.ie8 input.button140:active {
  background: #000;
}

/* @end */
/* @group Form Actions Wrapper */
.form-actions {
  padding: 15px 0 0;
}

.form-actions.form-actions-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.form-actions-inner {
  padding: 0 20px;
}

/* @end */
/* @group Actions Nav & Popover */
/* @group Actions Nav */
.actions-nav-wrap {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
}

.actions-nav {
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75), inset 0 1px 0 rgba(255, 255, 255, 0.75);
  height: 36px;
  padding: 0;
  width: 132px;
  background: #ffffff;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #ffffff), color-stop(50%, #f7f7f7), color-stop(52%, #ededed), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(to bottom, #ffffff 0%, #f7f7f7 50%, #ededed 52%, #ededed 100%);
  background: -moz-linear-gradient(to bottom, #ffffff 0%, #f7f7f7 50%, #ededed 52%, #ededed 100%);
  background: -o-linear-gradient(to bottom, #ffffff 0%, #f7f7f7 50%, #ededed 52%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 50%, #ededed 52%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.actions-nav > button,
.actions-nav > a {
  border: 0 none;
  -webkit-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.35), 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.35), 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.35), 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  display: inline-block;
  float: left;
  height: 36px;
  margin: 0;
  position: relative;
  text-indent: -9999px;
  width: 44px;
}

.actions-nav > button.first,
.actions-nav > a.first {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
}

.actions-nav > button.last,
.actions-nav > a.last {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.actions-nav > button:hover,
.actions-nav > a:hover {
  background: rgba(0, 0, 0, 0.02);
}

.actions-nav > button:active,
.actions-nav > button.active,
.actions-nav > a:active,
.actions-nav > a.active {
  background: #cecece;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cecece), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -moz-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: -o-linear-gradient(top, #cecece 0%, #ebebeb 100%);
  background: linear-gradient(top, #cecece 0%, #ebebeb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece', endColorstr='#ebebeb',GradientType=0 );
  -webkit-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.actions-nav > button {
  background: none;
}

.actions-nav > button:hover {
  cursor: pointer;
}

.actions-nav > button.next,
.actions-nav > a.next {
  border-radius: 0 5px 5px 0;
}

.actions-nav > button > .nav-icon,
.actions-nav > a > .nav-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  height: 16px;
  width: 16px;
  background: url(../images/icons-actions-nav.png) no-repeat 0 0;
}

.actions-nav .actions-nav-edit > .nav-icon {
  background-position: -16px 0;
}

.actions-nav .actions-nav-next > .nav-icon {
  background-position: -32px 0;
}

.actions-nav .actions-nav-play > .nav-icon {
  background-position: -48px 0;
}

.actions-nav .actions-nav-stop > .nav-icon {
  background-position: -64px 0;
}

.actions-nav .actions-nav-options > .nav-icon {
  background-position: -80px 0;
}

.actions-nav .actions-nav-contact > .nav-icon {
  background-position: -96px 0;
}

.actions-nav .actions-nav-new-case > .nav-icon {
  background-position: -112px 0;
}

.actions-nav .actions-nav-new-contactmoment > .nav-icon {
  background-position: -128px 0;
}

.actions-nav > button.add-item.active,
.actions-nav > a.add-item.active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

/* styles for no-rgba/no-boxshadow browsers */
.no-boxshadow .actions-nav {
  border: 1px solid #aaa;
  width: 134px;
}

.no-rgba.no-boxshadow .actions-nav > button,
.no-rgba.no-boxshadow .actions-nav > a {
  border-right: 1px solid #999;
}

.no-rgba .actions-nav.button_num_1 > button,
.no-rgba .actions-nav.button_num_1 > a {
  border-right: none;
}

.no-rgba .actions-nav > button:hover,
.no-rgba .actions-nav > a:hover {
  background: #ebebeb;
}

.no-rgba.no-boxshadow .actions-nav > button.last,
.no-rgba.no-boxshadow .actions-nav > a.last {
  border-right: none;
}

.no-rgba .actions-nav.button_num_4 {
  width: 177px;
}

/* end styles for no-rgba browsers */
.actions-nav.button_num_1 {
  width: 44px;
}

.actions-nav.button_num_1 a,
.actions-nav.button_num_1 button {
  border-radius: 5px;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
}

.actions-nav.button_num_1 > button:active,
.actions-nav.button_num_1 > button.active,
.actions-nav.button_num_1 > a:active,
.actions-nav.button_num_1 > a.active {
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.actions-nav.button_num_2 {
  width: 88px;
}

.no-boxshadow .actions-nav.button_num_2 {
  width: 89px;
}

.actions-nav.button_num_4 {
  width: 176px;
}

/* @end */
/* @group Actions Nav Small */
.actions-nav-small {
  background: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f7f7f7), color-stop(52%, #f2f2f2), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  background: linear-gradient(top, #ffffff 0%, #f7f7f7 50%, #f2f2f2 52%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  height: 27px;
  border-radius: 3px;
}

.actions-nav-small.actions-nav-in-header {
  position: absolute;
  right: 10px;
  top: 10px;
}

.actions-nav-small.button_num_1 {
  width: 38px;
}

.actions-nav-small.button_num_1.actions-nav-show-input {
  width: 201px;
}

.actions-nav-small.button_num_1.actions-nav-show-input a {
  border-radius: 0 2px 2px 0;
}

.actions-nav-small.button_num_1.actions-nav-show-input input {
  border-radius: 2px 0 0 2px;
  border-right: 1px solid #888;
  border-left: none;
}

.actions-nav-small.button_num_1 > button:active,
.actions-nav-small.button_num_1 > a:active {
  -webkit-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.actions-nav-small.button_num_2 {
  width: 76px;
}

.actions-nav-small.button_num_3 {
  width: 114px;
}

.no-boxshadow .actions-nav-small.button_num_1 {
  width: 38px;
}

.no-boxshadow .actions-nav-small.button_num_2 {
  width: 78px;
}

.no-boxshadow .actions-nav-small.button_num_3 {
  width: 116px;
}

.actions-nav-small.button_num_1 > button:active,
.actions-nav-small.button_num_1 > button.active,
.actions-nav-small.button_num_1 > a:active,
.actions-nav-small.button_num_1 > a.active {
  -webkit-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.actions-nav-small > button,
.actions-nav-small > a {
  width: 38px;
  height: 27px;
}

.actions-nav-small > button.first,
.actions-nav-small > a.first {
  border-radius: 3px 0 0 3px;
}

.actions-nav-small > button.last,
.actions-nav-small > a.last {
  border-radius: 0 3px 3px 0;
}

.actions-nav-small.button_num_1 > button,
.actions-nav-small.button_num_1 > a {
  border-radius: 2px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7) inset, 0 -1px 0 rgba(255, 255, 255, 0.3);
}

.actions-nav-small.button_num_2 > button.last,
.actions-nav-small.button_num_2 > a.last {
  border-radius: 0 2px 2px 0;
}

.actions-nav-small .actions-nav-add .nav-icon {
  background-position: 0 -16px;
}

.actions-nav-small .actions-nav-options .nav-icon {
  background-position: -15px -16px;
}

.actions-nav-small .actions-nav-next .nav-icon {
  background-position: -30px -16px;
}

.actions-nav-small .actions-nav-filter .nav-icon {
  background-position: -45px -16px;
}

.actions-nav-small .actions-nav-edit .nav-icon {
  background-position: -60px -16px;
}

.actions-nav-small .actions-nav-new .nav-icon {
  background-position: -75px -16px;
}

.actions-nav-small .actions-nav-save .nav-icon {
  background-position: -90px -16px;
}

.actions-nav-small .actions-nav-refresh .nav-icon {
  background-position: -105px -16px;
}

.actions-nav-small input {
  display: none;
  border-radius: 0;
  width: 150px;
  float: left;
  font-size: 15px;
  border: none;
  border-left: 1px solid #888;
}

.actions-nav-small input:focus {
  -webkit-box-shadow: 1px 1px 1px #dddddd inset;
  -moz-box-shadow: 1px 1px 1px #dddddd inset;
  box-shadow: 1px 1px 1px #dddddd inset;
}

.actions-nav-small.actions-nav-show-input {
  width: 239px;
}

.actions-nav-small.actions-nav-show-input input {
  display: block;
}

.header .actions-nav-small {
  margin: 1px 2px 0 0;
}

/* @end */
/* @group Popover */
.popover {
  position: absolute;
  width: 200px;
  padding: 7px 6px 0 6px;
  background: #404a4e;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404a4e), color-stop(100%, #1f2426));
  background: -webkit-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: -moz-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: -o-linear-gradient(top, #404a4e 0%, #1f2426 100%);
  background: linear-gradient(top, #404a4e 0%, #1f2426 100%);
  z-index: 10000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.55);
  border: 1px solid #404a4e;
  display: none;
}

#popover_voegtoe {
  margin: 20px 2px 0 0;
}

.no-boxshadow .popover {
  padding: 6px 6px 0 6px;
}

.popover-tip {
  width: 29px;
  height: 16px;
  position: absolute;
  background: url(../images/popover-tip.png) no-repeat;
  z-index: 10001;
}

.no-boxshadow .popover-tip {
  background: url(../images/popover-tip-no-boxshadow.png) no-repeat 0 bottom;
}

.oldie .popover-tip {
  zoom: 1;
}

.popover .buttons {
  margin: 0;
  padding: 0;
}

.popover .buttons a {
  background: url(../images/knop-bg.gif) repeat-x left 50% whitesmoke;
  position: relative;
  display: block;
  margin: 0 0 6px;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #222;
  font-weight: bold;
  line-height: 1.2;
  outline: 0 none;
  text-align: center;
  text-decoration: none;
  padding: 8px 0;
}

.popover .buttons a:hover {
  background: #6db3f2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6db3f2), color-stop(50%, #54a3ee), color-stop(51%, #3690f0), color-stop(100%, #1e69de));
  background: -webkit-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -o-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
  color: #fff;
  cursor: pointer;
}

.popover .buttons a:active {
  top: 1px;
}

/* @end */
/* @end */
/* @group Dropdown */
.dropdown-wrap {
  position: relative;
  /*z-index: 3;*/
}

.dropdown-wrap-right {
  float: right;
}

.dropdown.dropdown-left {
  width: 280px;
  height: auto;
}

.dropdown-wrap-float {
  float: left;
}

.dropdown-tooltip {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.dropdown-tooltip .dropdown-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #bbb;
  text-align: left;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
}

.dropdown-tooltip .dropdown-content > div,
.dropdown-tooltip .dropdown-content > ul {
  margin: 15px 0 15px;
}

.dropdown-tooltip .dropdown-content > ul > li {
  list-style-type: disc;
}

.dropdown-content a {
  display: inline !important;
  text-decoration: underline !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-pijl {
  position: absolute;
  background: url(../images/dropdown-pijl.png) no-repeat 0 0;
  width: 10px;
  height: 17px;
  top: 14px;
  right: -9px;
  z-index: 10;
}

.dropdown-bottom {
  width: 200px;
}

.dropdown-bottom .dropdown-pijl {
  position: absolute;
  background: url(../images/dropdown-pijl-bottom.png) no-repeat 0 0;
  width: 17px;
  height: 10px;
  top: -9px;
  right: 14px;
  z-index: 10;
}

.dropdown-wrap-absolute {
  position: absolute;
  right: 13px;
  display: inline;
}

.dropdown-init.dropdown-init-hide {
  visibility: hidden;
}

.ezra_show_dropdown:hover .dropdown-init-hide {
  visibility: visible;
}

.dropdown, .dropdown-content {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown {
  width: 170px;
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px #bbbbbb;
  -moz-box-shadow: 1px 1px 2px #bbbbbb;
  box-shadow: 1px 1px 2px #bbbbbb;
  position: absolute;
  z-index: 1000;
  /*visibility: hidden;*/
  right: 0;
  display: none;
}

.oldie .dropdown {
  zoom: 1;
}

.dropdown-menu {
  padding: 6px 0;
}

.ie7 .dropdown {
  zoom: 1;
}

.dropdown a {
  padding: 3px 5px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown a:hover,
.dropdown a.active {
  background: #5c6a70;
  color: #fff;
}

.dropdown a:active {
  top: 1px;
}

.dropdown p {
  padding: 0px 5px;
  margin-top: 3px;
  margin-bottom: 7px;
  font-weight: bold;
  line-height: 1.2;
}

.dropdown-menu a {
  padding: 5px 15px;
}

.dropdown-menu p {
  margin-top: -6px;
  padding: 10px 15px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
}

.dropdown-init {
  cursor: pointer;
  /*z-index:3;*/
  position: relative;
}

.dropdown-init-block {
  display: block;
  position: relative;
  height: 16px;
  width: 19px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  border: 1px solid #a6a6a6;
  background: #fbfbfb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 );
}

.dropdown-init-block span {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  margin: 0;
  background: url(../images/dropdown-klein-pijl.gif) no-repeat center 6px;
}

.dropdown-init-block:hover, .dropdown-init-block.hover {
  border-color: #666;
}

.dropdown-init-block:active, .dropdown-init-block.is_active {
  -webkit-box-shadow: inset 0 1px 1px black;
  -moz-box-shadow: inset 0 1px 1px black;
  box-shadow: inset 0 1px 1px black;
  background: #383838;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383838), color-stop(100%, #484848));
  background: -webkit-linear-gradient(top, #383838 0%, #484848 100%);
  background: -moz-linear-gradient(top, #383838 0%, #484848 100%);
  background: -o-linear-gradient(top, #383838 0%, #484848 100%);
  background: linear-gradient(top, #383838 0%, #484848 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#484848',GradientType=0 );
  border-color: #000;
}

.dropdown-init-block:active span, .dropdown-init-block.is_active span {
  background-position: center -9px;
}

/* @end */
/* @group Element */
.element {
  background: url("../images/element-bg.gif") repeat-x scroll 0 1px white;
  border: 1px solid #BBBBBB !important;
  border-bottom-color: #999 !important;
  border-top-color: #ccc !important;
  border-radius: 3px 3px 3px 3px;
  display: block;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 7px;
  padding: 2px 8px 2px 32px;
  position: relative;
  text-decoration: none;
  font-weight: normal;
  color: #333 !important;
}

.element:hover {
  border-color: #666 !important;
}

.element:active {
  background-position: 0 -35px;
}

.element span,
.knop span {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 7px;
  width: 16px;
  height: 16px;
}

.element.small {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
}

/* @end */
/* @group Misc */
.show-more {
  padding: 8px 0;
  display: block;
  color: #aaa;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
  background: transparent;
  width: 100%;
}

.show-more:hover {
  cursor: pointer;
  background: #f7f7f7;
}

.show-more.show-less .icon-show-more {
  background-position: 0 -18px;
}

/* @end */
/* @group ID Knop */
.id-knop {
  background: #222;
  display: block;
  margin: 0 0 30px;
  border-radius: 5px;
  color: white !important;
  text-decoration: none;
  text-align: center;
  font-size: 1.385em;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  height: auto;
  border: 1px solid #222222;
  padding: 21px 0 20px;
  width: 100%;
}

.id-knop:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background: #555555;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(top, #555555 0%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222',GradientType=0 );
}

.id-knop:active {
  border: 1px solid #222222;
  position: relative;
  top: 1px;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
  background: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #222222 0%, #444444 100%);
  background: -moz-linear-gradient(top, #222222 0%, #444444 100%);
  background: -o-linear-gradient(top, #222222 0%, #444444 100%);
  background: linear-gradient(top, #222222 0%, #444444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#444444',GradientType=0 );
}

.id-knop-groot {
  line-height: 3;
  font-size: 1.692em;
}

.id-knop.id-knop-digid img {
  vertical-align: middle;
  display: inline-block;
}

/* @end */
