div.configuration {
  padding-bottom: 20px;
}

.configuration fieldset {
  margin-bottom: 25px;
}

.configuration legend {
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 5px;
  border-bottom: 3px solid #999;
}

.configuration input[type="text"] {
  width: 300px;
  margin-left: 50px;
}

.configuration select {
  width: 300px;
  margin-left: 50px;
}

.configuration label {
  display: inline-block;
}

.configuration ul {
  margin-bottom: 20px;
  margin-left: 15px;
}
