/* ***** BEGIN LICENSE BLOCK ********************************************
 * Version: EUPL 1.1
 *
 * The contents of this file are subject to the EUPL, Version 1.1 or
 * - as soon they will be approved by the European Commission -
 * subsequent versions of the EUPL (the "Licence");
 * you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://joinup.ec.europa.eu/software/page/eupl
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 * The Original Code is Zaaksysteem
 *
 * The Initial Developer of the Original Code is
 * Mintlab B.V. <info@mintlab.nl>
 * 
 * Portions created by the Initial Developer are Copyright (C) 2009-2011
 * the Initial Developer. All Rights Reserved.
 *
 * Contributor(s):
 * Michiel Ootjers <michiel@mintlab.nl>
 * Jonas Paarlberg <jonas@mintlab.nl>
 * Jan-Willem Buitenhuis <jw@mintlab.nl>
 * Peter Moen <peter@mintlab.nl>
 *
 * ***** END LICENSE BLOCK ******************************************** */
/* @group base */
body {
  font-family: helvetica,'helvetica neue',arial, sans-serif;
  font-size: 0.813em;
  background: #fff;
  margin: 0px;
}

.form,
.form div,
.form h1,
.form h2,
.form h3,
.form p,
.form label,
.form td,
.form th,
.webform,
.webform div,
.webform h1,
.webform h2,
.webform h3,
.webform p,
.webform label,
.webform td,
.webform th,
.header, p, body {
  font-family: helvetica,'helvetica neue',arial, sans-serif;
}

p {
  line-height: 1.7;
}

p, li {
  font-size: 1em;
}

#container {
  width: 960px;
  margin: 0px auto;
  background: #fff;
}

.subnote {
  margin-bottom: 20px;
  font-size: 1.077em;
  color: #222;
  line-height: 1.6;
  margin-top: 0;
}

/* @end */
/* @group block */
.block,
.block * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  padding: 8px 30px;
  border-radius: 0;
  margin: 0;
  background: none;
  border-bottom: none;
  font-weight: bold;
  color: #333;
}

.header > h1 {
  font-size: 1.538em;
  margin: 0;
  line-height: 1.3;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.header > h1.header-title {
  float: left;
  width: 640px;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.header span {
  font-weight: normal;
}

.flex50 {
  width: 50%;
  text-align: left;
}

.flex50.left {
  float: left;
}

.flex50.right {
  float: right;
}

.flex50 .inner {
  padding-right: 75px;
}

.flex50.right .inner {
  padding-left: 20px;
}

/* @end */
/* @group Intake */
/* @group pre-login & login pagina's */
.prelogin p {
  margin: 0;
}

.prelogin-button {
  margin-top: 30px;
}

.prelogin-button button {
  font-family: helvetica, sans-serif;
  font-weight: normal;
}

.prelogin-button button span.a {
  margin-right: 5px;
}

.prelogin-info {
  border-radius: 10px;
  padding: 20px;
  background: #eef8fd;
  margin-top: 0px;
  font-size: 0.846em;
}

.prelogin-info-pip {
  background: none;
  padding: 25px 0 0;
  border-radius: 0;
  border-top: 1px dotted #aaa;
}

.prelogin-logos {
  width: 22%;
  text-align: center;
  margin-right: 3%;
}

.prelogin-logos img {
  margin-bottom: 5px;
}

.prelogin-info-tekst {
  width: 72%;
}

.prelogin-info-logo {
  width: 50px;
  height: 50px;
}

.prepayment img {
  vertical-align: middle;
}

/* @end */
/* @group BedrijfsID Loginpagina */
#loginwrap {
  background: transparent;
}
#loginwrap .input_medium {
  margin-bottom: 10px;
  width: 300px;
  font-size: 1.385em;
}
#loginwrap label {
  line-height: 2;
}
#loginwrap input[type="submit"] {
  margin: 30px 0 5px;
}

/* @end */
/* @group Stappen */
.system-message {
  padding: 13px 13px 14px;
  border: 1px dashed #C8C104;
  margin-bottom: 16px;
  background: #f9fccb;
  font-weight: bold;
  line-height: 1.5;
  font-weight: normal;
  color: #333;
  font-size: 0.923em;
  margin: 15px 0;
}

/* @end */
/* @group Eindpagina */
.done h2 {
  margin-bottom: 20px;
}

.done h2 i {
  font-size: 1em;
  vertical-align: baseline;
  margin-right: 5px;
}

.mislukt {
  padding: 30px 30px 30px 110px;
  background: url(../images/icon-betaling-mislukt.jpg) no-repeat 0 center;
}

.mislukt p {
  margin-bottom: 0px;
}

.mislukt h1 {
  font-size: 2.308em;
  font-weight: normal;
  margin-bottom: 10px;
}

.betaling table {
  border-top: 1px solid #eee;
}

/* @end */
/* @end */
/* @group Custom */
.button140,
.button140:hover {
  border: none;
  box-shadow: none;
  text-shadow: none;
  filter: none;
}

.form label.titel {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.skip {
  display: none;
}

.knop-right {
  margin-left: 4px;
}

.wym_skin_default.wym_skin_enlarge {
  top: 10px !important;
}

/* @end */
/* @group Browser Check */
.browser-check {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3300;
}

.no-rgba .browser-check {
  background: url(../images/ie_custom_overlay.png);
}

.browser-check-inner {
  position: absolute;
  background: #fff;
  width: 620px;
  height: 270px;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -135px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  z-index: 4000;
}

.browser-check h1,
.browser-check p {
  text-align: center;
}

.browser-check h1 {
  font-size: 1.692em;
  margin: 40px 0 5px;
  color: #000;
  font-family: 'helvetica neue',helvetica, arial, sans-serif;
  line-height: 1.1;
  font-weight: normal;
}

.browser-check p {
  font-size: 1.154em;
  margin: 15px 0 25px;
}

.browsers {
  width: 300px;
  margin: 0 auto;
}

.browser-check a {
  width: 80px !important;
  height: 105px !important;
  float: left;
  margin: 0 10px;
}

.browser-check a:hover {
  background: #eee;
  cursor: pointer;
}

.browser-check a span.icon {
  background: url(../images/browsers-sprite.png) 0 center no-repeat;
  width: 80px !important;
  height: 80px !important;
  display: block;
  padding: 0 !important;
}

.browser-check a span.text {
  text-align: center;
  display: block;
}

.browser-check a.firefox span.icon {
  background-position: -80px 0;
}

.browser-check a.safari span.icon {
  background-position: -160px 0;
}

.browser-check a.opera span.icon {
  background-position: -240px 0;
}

/* @end */
/* @group Generic template */
html.basic, .basic body {
  height: 100%;
}

.basic body {
  font-family: helvetica;
  background: #f6f6f6;
  margin: 0px;
}

.basic #container {
  margin: 0px auto;
  background: #fff;
  min-height: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 3px #ccc;
  position: relative;
}

img {
  border: none;
}

.basic #main {
  padding: 0;
}

.basic #logo {
  float: left;
  height: 55px;
  margin: 30px 0 30px 38px;
  width: 226px;
}

.basic #header {
  height: 115px;
}

.basic #header .inner {
  width: 960px;
  margin: 0 auto;
}

.basic #header h1#logo {
  font-size: 1.846em;
  color: #222;
  font-weight: bold;
}

.basic #header h1#logo span {
  font-weight: normal;
  color: #F36666;
  float: right;
}

.basic #header .pijl {
  width: 100%;
  height: 7px;
  background: url(../img/pijl-logo.gif) no-repeat center 0;
  position: absolute;
  bottom: -1px;
  z-index: 1;
}

.basic ul.nav li {
  float: left;
  color: #bbb;
  margin: 0 4px 0 0;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
}

.basic .webform_inner {
  position: static;
}

.basic .webform .header > div {
  line-height: 58px;
}

.basic .header > .knop {
  margin: 0 0 0 7px;
  border-color: #888 !important;
  border-color: rgba(0, 0, 0, 0.6) !important;
}

.basic .blockcontent {
  padding: 25px;
}

.basic .header {
  color: #fff;
  height: 58px;
  display: table;
  vertical-align: middle;
  table-layout: fixed;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.basic .header h1 {
  line-height: 58px;
}

.basic .block > .header > .header-actions {
  height: 58px;
  line-height: 58px;
}

.basic .block.succes > .header {
  line-height: 58px;
  padding: 0 25px;
  margin: 0;
  color: #fff;
}

.basic .pip_inlog_wrapper h1 {
  display: none;
}

/* @end */
/* @group Non-Semantic Helper Classes */
/* @group Element Positioning */
.left {
  float: left;
  margin-left: 0;
}

.right {
  float: right !important;
  margin-right: 0 !important;
}

.col {
  float: left;
}

.col_right {
  float: right;
}

.col.marginright {
  margin-right: 10px;
}

.col.col-left {
  margin-right: 10px;
}

/* @end */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* @end */
/* @group No Javascript */
.hide {
  display: none;
}

.nojs-title {
  display: block;
  font-weight: bold !important;
  border-bottom: 2px solid #bbb;
  padding: 15px 15px 15px !important;
  margin: 0 -15px !important;
  background: #f5f5f5;
}

.js .nojs-title {
  display: none;
}

.noscript-notification {
  background: #fff9d7;
  border-bottom: 1px solid #e4da9f;
  padding: 15px 20px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}

.noscript-notification i {
  background: url(../images/icon-alert.png) no-repeat 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  display: inline-block;
  margin: 0 10px -3px 0;
  height: 16px;
  width: 16px;
}

.jshide {
  display: inline-block;
}

.nojshide {
  display: none;
}

.js .nojshide {
  display: inline-block;
}

.js .jshide {
  display: none;
}

html {
  padding: 50px 0 0;
}

html.js {
  padding: 0 !important;
}

/* @end */
.inline {
  display: inline;
}

.hide {
  display: none;
}

.width-auto {
  display: inline-block !important;
  width: auto;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0 !important;
}

.text-right {
  text-align: right;
}

.margin10 {
  margin-bottom: 10px;
}

.marginbottom, .marginBottom {
  margin-bottom: 20px !important;
}

.no_margin {
  margin-bottom: 0 !important;
}

.rightmargin {
  margin-right: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-15 {
  padding: 15px;
}

/* @group CSS3 Niceness   */
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rounded-left {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-right {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

/* @end */
/* @group Custom Overlay */
.custom_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 4000;
}
.custom_overlay div {
  background-color: #000;
  height: 48px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  padding: 7px;
  position: absolute;
  top: 50%;
  width: 48px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.ie8 .custom_overlay {
  background: url(../images/ie_custom_overlay.png) repeat 0 0;
}

/* @end */
/* @group Spinners */
/* @group Globalspinner */
.globalSpinner {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: .85;
  filter: alpha(Opacity=85);
  top: 0;
  background-color: #000;
  text-align: right;
  z-index: 2000;
  overflow: auto;
  display: none;
}

.globalSpinner > div {
  background: url("../images/spinner-global.gif") no-repeat scroll 28px center white;
  font: bold 18px Tahoma,Geneva,sans-serif;
  left: 50%;
  margin-left: -180px;
  margin-top: -45px;
  padding: 30px 40px 30px 30px;
  position: absolute;
  top: 50%;
  width: 290px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* @end */
/* @group Tab Loader */
.tab-loader {
  width: 100%;
  min-height: 350px;
  display: none;
  position: relative;
}

.tab-loader img {
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

/* @end */
/* @group Simple Ajax Loader */
.ajaxloader {
  background: url(../images/ajax-loader.gif) no-repeat center center;
}

/* @end */
/* @group Zaakdossier accordion panel spinner */
.ui-accordion h3 > img {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 1.6em;
  top: 19px;
}

/* @end */
/* @group Spinner Klein */
.spinner-klein {
  background: url(../images/loader.gif) no-repeat center center;
  width: 16px;
  height: 11px;
  top: 50%;
  margin-top: -6px;
  left: 20px;
  display: none;
  position: absolute;
}

.spinner_input_wrap {
  position: relative;
  display: inline-block;
}

.spinner_input {
  right: -23px;
  left: auto;
}

/* @end */
/* @group Accordion Search Spinner */
img#betrokkene_loader {
  margin-top: 10px;
  width: 16px;
  height: 11px;
  display: block;
  float: right;
  margin-right: 10px;
  zoom: 1;
}

img.disabled {
  display: none !important;
}

/* @end */
/* @group ztAjaxUpdate_loader */
.ztAjaxUpdate_loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  background: url(../images/ajax-loader.gif) no-repeat center white;
  text-align: center;
  padding: 10px;
  font: normal 16px Tahoma, Geneva, sans-serif;
  border: 1px solid #666;
  z-index: 2;
  overflow: auto;
  bottom: 50%;
  left: 50%;
}

.ztAjaxUpdate {
  position: relative;
}

/* @end */
/* @group Spinner groot */
.spinner-groot,
.formOverlay,
#spinner-groot {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1100;
}

.ie8 .spinner-groot,
.ie8 .formOverlay {
  background: url(../images/spinner-ie-bg.png) repeat transparent;
}

.spinner-groot > div {
  width: 31px;
  height: 31px;
  background: url("../images/spinner-global.gif") no-repeat scroll center top transparent;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
}

.spinner-groot.hasText > div {
  width: 200px;
  height: 130px;
  margin-left: -100px;
  margin-top: -65px;
}

.spinner-groot > div > span.spinner-groot-message {
  background: none repeat scroll 0 0 transparent;
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  display: block;
  padding-top: 40px;
}

.spinner-groot.spinner-groot-no-alpha {
  background: #fff !important;
}

/* @end */
/* @end */
