/* @group medewerkers.css */
.block-inner-scroll {
  position: absolute;
  left: 233px;
  top: 65px;
  right: 15px;
  bottom: 15px;
}

.block-inner-scroll .block-inner-scroll-left,
.block-inner-scroll .block .blockcontent,
.block-inner-scroll-inner {
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
}

.block-inner-scroll-inner {
  border: 1px solid #aaa;
  border-top: none;
  background: #fff;
}

.block-inner-scroll .block-inner-scroll-left {
  margin: 0;
  right: 285px;
}

.block-inner-scroll .block .blockcontent {
  /*top: 49px;*/
  overflow: auto;
  padding: 0;
}

.block-inner-scroll .block-inner-scroll-right .blockcontent {
  top: 49px;
  padding-top: 6px;
}

.block-inner-scroll .block .blockcontent .lastrow td {
  border-bottom: 1px solid #ddd;
}

.block-inner-scroll .block .blockcontent .treeTable td {
  padding-left: 26px;
}

.block-inner-scroll .block .blockcontent .treeTable td.td-del {
  padding-left: .9em;
}

.block-inner-scroll .block .blockcontent .treeTable td.td-del .right {
  float: none;
}

.block-inner-scroll .block .blockcontent li {
  padding: 2px;
  border-radius: 2px;
}

.block-inner-scroll .block .blockcontent li:hover {
  background: #eee;
}

.block-inner-scroll .block .blockcontent li .icon-del {
  visibility: hidden;
}

.block-inner-scroll .splitter {
  position: absolute;
  left: 0;
  top: 49px;
  bottom: 0;
  right: 0;
}

.block-inner-scroll .block .blockcontent td,
.block-inner-scroll .block .blockcontent .lastrow td {
  border-bottom: none;
}

.block-inner-scroll .block .blockcontent td {
  padding: 0.4em 0.3em;
}

.block-inner-scroll .block-inner-scroll-left .blockcontent-right {
  background: #f7f7f7;
  left: 30%;
}

.block-inner-scroll .block-inner-scroll-left .blockcontent-right tr:nth-child(odd) td {
  background: #fff;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.oldie .block-inner-scroll .block-inner-scroll-left .blockcontent-right td {
  border-bottom: 1px solid #eee;
}

.block-inner-scroll .block-inner-scroll-left .blockcontent-left {
  padding-top: 6px;
  width: 30%;
  right: 60%;
}

.block-inner-scroll .block-inner-scroll-right {
  position: absolute;
  width: 265px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.ui-layout-resizer {
  cursor: col-resize !important;
}

.ui-layout-toggler {
  background: #777 !important;
}

.gebruikers .entry-posixaccount .entry_name,
.entry-posixaccount-draggable .entry_name {
  padding-left: 24px;
  background: url(../images/icon-user-blue.png) no-repeat 0 center;
}

.gebruikers .entry-posixaccount {
  padding-left: 15px !important;
}

.gebruikers .entry-posixgroup .entry_name,
.entry-posixgroup-draggable .entry_name {
  padding-left: 24px;
  background: url(../images/icon-users.png) no-repeat 0 center;
}

.gebruikers .entry-organizationalunit .entry_name,
.entry-organizationalunit-draggable .entry_name {
  padding-left: 22px;
  background: url(../images/icon-user-folder.png) no-repeat 0 center;
}

.gebruikers .entry-organization .entry_name {
  padding-left: 21px;
  background: url(../images/icon-building.png) no-repeat 0 center;
}

.gebruikers .entry-organization .entry_name a {
  font-weight: bold;
}

.gebruikers .entry_name a {
  text-decoration: none;
}

.gebruikers .ezra_entryrol .icon-del {
  display: inline-block;
}

.gebruikers .ui-draggable-dragging {
  border: none;
}

.gebruikers .ou-active td {
  background: #eee;
}

.treeTable tr.accept td .entry_name a {
  color: #fff !important;
}

.gebruikers .treeTable tr.ou-active.accept td .entry_name a {
  color: #000 !important;
}

.gebruikers .blockcontent-right .accept td {
  background: #3875d7 !important;
  color: #fff;
}

.gebruikers .block ul {
  margin-left: 15px;
}

/* @end */
