/* @group Globals */
.pip {
  font-family: helvetica,'helvetica-neue',arial,sans-serif !important;
  padding-top: 20px;
  clear: both;
}

.pip *, .pip-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pip,
.pip h1,
.pip h2,
.pip h3,
.pip span,
.pip strong,
.pip p,
.pip em,
.pip a,
.pip td,
.pip th {
  font-family: helvetica,'helvetica-neue',arial,sans-serif !important;
}

.pip a {
  color: #000;
}

.pip td {
  font-size: inherit;
  line-height: 1.6;
}

.pip ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.right {
  float: right;
}

.pip-block {
  margin-bottom: 40px;
}

.ie7 .pip-block {
  width: 100%;
}

h4 {
  color: #444;
  font-weight: bold;
  font-size: 1.231em;
  padding: 0;
  margin: 0;
}

.table-title {
  padding: 16px 0;
  border-bottom: 2px solid #ccc;
}

.table-title-docs h4 {
  width: 80%;
  float: left;
  line-height: 1.9;
}

.table-title-docs .knop {
  float: right;
}

.pip-block-header h2 {
  margin: 0;
}

.table-title h4 {
  color: #000;
  line-height: 1.5;
}

.table-title em {
  font-weight: normal;
  text-transform: none;
  font-size: .85em;
  color: #444;
  display: block;
}

.pip-table {
  width: 100%;
  border: none;
}

.pip-table .lastrow td {
  border-bottom-width: 2px;
}

.pip-table a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pip-table td {
  vertical-align: middle;
  padding: 15px 0px;
  border-bottom: 1px solid #ddd;
}

.pip input[type=text] {
  border: 1px solid #ccc;
  border-radius: 0;
}

.pip-bussum-fix {
  display: none;
}

/* @end */
/* @group Nav */
.pip-header {
  display: none;
}

.pip-nav {
  border-bottom: 2px solid #b1b1b1;
  padding: 0px;
  font-size: 1em;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.pip-nav ul li {
  float: left;
  padding: 0;
  line-height: 1;
}

.pip-nav ul li.divide {
  border-left: 1px solid #dadada;
  border-right: 1px solid #fff;
  height: 27px;
  padding: 0;
  margin: 0 25px;
  display: none;
}

.pip-nav ul li.current a {
  color: #000;
  border-bottom-color: #b1b1b1;
}

.pip-nav ul li a {
  padding: 14px 0;
  position: relative;
  color: #222;
  text-decoration: none;
  margin: 0 17px 0 0px;
  display: block;
  border-bottom: 3px solid transparent;
}

.pip-nav ul li a:hover {
  color: #000;
  border-bottom-color: #b1b1b1;
}

.pip-nav ul li a i {
  margin-right: 3px;
}

.pip-nav ul.right li a {
  color: #777;
  margin: 0 0 0 20px;
  padding-right: 3px;
}

.pip-nav ul.right li a:hover {
  color: #000;
}

/* @end */
/* @group Overzicht */
.pip h3 {
  font-size: 1.231em;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.6;
  padding: 0;
  font-weight: normal;
}

.pip h3 span {
  font-weight: bold;
}

.pip-zaaknummer {
  font-size: 2.154em !important;
  line-height: 1;
  font-weight: normal !important;
  text-align: center;
}

.pip-zaaknummer h2 {
  margin: 0 !important;
  font-weight: normal;
  padding: 0;
  color: #000;
  line-height: 1;
}

.pip-zaaknummer a {
  text-decoration: none;
  font-weight: normal !important;
}

td.field_me_id {
  width: 70px;
  padding-right: 25px;
  padding-left: 10px;
}

.pip-zaaknummer a {
  color: #bbb;
}

.js .pip-zaaknummer a:hover,
.js .ezra_clickable_tr:hover .pip-zaaknummer a {
  color: #666;
  text-decoration: none;
}

.pip-zaaknummer a:active {
  color: #000;
}

.pip-zaaktitel h2 {
  font-size: 1.154em;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.pip-table-onafgerond .pip-zaaktitel h2 {
  padding: 5px 0 0;
}

.pip-table-onafgerond th[colspan="2"] {
  padding-left: 90px;
}

.pip-zaaktitel span {
  color: #333;
  line-height: 1.8;
  font-size: 1em;
}

td.pip-voortgang {
  width: 170px;
}

.pip-voortgang-wrap,
.pip-button-afronden {
  float: right;
  background: #47c45d;
  border-radius: 3px;
  text-decoration: none;
}

.pip-voortgang-wrap {
  width: 170px;
  position: relative;
  height: 2.692em;
  padding: 2px;
}

.pip-voortgang-wrap.too_late .pip-voortgang-perc,
.pip-voortgang-wrap.too_late {
  background-color: #ef3c3c;
}

.pip-voortgang-wrap .pip-voortgang-perc {
  background-image: url(../images/pip-voortgang-stripe.png);
  background-repeat: repeat;
  height: 2.35em;
  border-radius: 3px;
}

.pip-voortgang-wrap .pip-voortgang-dagen {
  color: #fff;
  font-size: 1.077em;
  padding: 8px 0;
  overflow-x: hidden;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  line-height: 1.5;
  font-weight: bold;
}

.pip-block-afgehandeld .pip-voortgang-wrap .pip-voortgang-dagen {
  padding-left: 20px;
  background: url(../images/fase-done-wit.png) no-repeat 14px center;
  width: 145px;
}

a.pip-button-afronden {
  font-size: 1.077em;
  padding: 8px 20px;
  /*height: 22px;*/
  color: #fff;
  line-height: 1.5;
  font-weight: bold;
  background: #1494C1;
}

a.pip-button-afronden:hover,
.ezra_clickable_tr:hover a.pip-button-afronden {
  background: #1DA6D6;
  text-decoration: none;
}

.pip-icon-niet-afgerond {
  width: 70px;
  height: 47px;
  background: url(../images/icons-pip.png) no-repeat 18px -96px;
}

.js .ezra_clickable_tr:hover td {
  cursor: pointer;
  background: #f4f4f4;
}

.data-table thead th {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: bold;
  font-size: 0.846em !important;
  border-bottom-width: 1px;
  color: #aaa;
  border-bottom-color: #ddd !important;
}

.data-table thead th a {
  color: #aaa !important;
  text-decoration: none !important;
}

.data-table thead th.days_left,
.data-table thead th.align-right {
  text-align: right;
}

/* @end */
/* @group Dossier */
.pip-dossier-titel {
  margin-bottom: 10px;
}

.pip-dossier-titel td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pip-dossier-titel tr.lastrow td {
  border-bottom: none !important;
}

.pip-dossier-titel td.pip-zaaknummer {
  width: 50px;
  text-align: left;
  padding-left: 5px;
  padding-right: 15px;
}

/* @group fase balk */
.fase-count-2 .fase {
  width: 49.6%;
}

.fase-count-3 .fase {
  width: 32.9%;
}

.fase-count-4 .fase {
  width: 24.6%;
}

.fase-count-5 .fase {
  width: 19.6%;
}

.fase-count-6 .fase {
  width: 16.25%;
}

.fase-tl-wrap {
  padding: 0;
  position: relative;
  margin-bottom: 30px;
}

.fasen {
  list-style: none;
  table-layout: fixed;
  width: 100%;
  font-size: 1em;
  line-height: 1.8;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.fasen .fase {
  padding: 0;
  background: #fff;
  border-bottom: 0 !important;
  overflow: hidden;
  float: left;
  margin-right: .4%;
}

.fasen .fase a {
  text-decoration: none;
  display: inline-block;
}

.fasen .fase a:hover {
  border-bottom: 1px dotted;
}

.fasen .fase strong {
  line-height: 1.4;
  display: block;
  color: #fff;
}

.fasen .fase strong span {
  color: rgba(255, 255, 255, 0.7);
}

.fasen .fase:last-child {
  border-right: none;
}

.fasen .fase div.active {
  color: #083E80;
  font-weight: bold;
}

.fasen .fase.done strong {
  padding: 0 0 0 22px;
  background: url(../images/fase-done-wit.png) no-repeat 0 3px;
  color: #fff;
}

.fasen .fase.huidig strong {
  padding: 0 0 0 17px;
  background: url(../images/fase-current-wit.png) no-repeat 0 3px;
  color: #fff;
}

.fasen .fase.huidig {
  color: #fff;
}

/* @group PIP Fase kleuren */
/*.fasen .fase{
    border-right: 2px solid #fff;
}*/
.fasen .fase:first-child {
  border-radius: 5px 0 0 5px;
}

.fasen .fase:last-child {
  border-radius: 0 5px 5px 0;
}

.fasen .fase.done a strong,
.fasen .fase.huidig a strong {
  color: #fff;
}

/* not yet done */
.fasen .fase {
  padding: 14px 14px 20px;
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: left;
  background: #555;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #555;
}

.fasen .fase.active {
  border-bottom-color: #000;
}

/* done */
.fasen .fase.done {
  background: #38aa4a;
  border-bottom-color: #38aa4a;
}

.fasen .fase.done.active {
  border-bottom-color: #2c622b;
}

/* current   */
.fasen .fase.huidig {
  background: #1494C1;
  border-bottom-color: #1494C1;
}

.fasen .fase.huidig.active {
  border-bottom-color: #0c5873;
}

/* later afronden knop */
.pip-voortgang-wrap,
.pip-button-afronden {
  background: #47c45d;
}

.pip-voortgang-wrap .pip-voortgang-perc {
  background-color: #40b555;
}

/* @end */
/* @end */
/* @group zaakdossier tabs */
.ui-tabs.pip-tabs {
  box-shadow: none;
  border: none;
  padding: 0;
}

.ui-tabs.pip-tabs .ui-widget-header {
  background: none;
  padding: 0;
}

.ui-tabs.pip-tabs .ui-tabs-panel {
  border: 1px solid #bbb;
  border-top: none;
  border-radius: 0;
}

.ui-tabs.pip-tabs .ui-corner-top {
  border-radius: 0;
}

.ui-tabs.pip-tabs .ui-tabs-nav li {
  margin-right: 5px;
}

.ie7 .ui-tabs.pip-tabs .ui-tabs-nav li {
  width: 200px;
}

.ui-tabs.pip-tabs .ui-tabs-nav li a {
  padding: 0.9em 1.4em;
}

.ie7 .ui-tabs.pip-tabs .ui-tabs-nav li a {
  float: none;
  display: block;
}

.ui-tabs.pip-tabs .ui-tabs-panel,
.ui-tabs.pip-tabs .ui-tabs-panel td,
.ui-tabs.pip-tabs .ui-tabs-panel th {
  font-size: 1em;
}

.ui-tabs.pip-tabs .ui-tabs-panel td {
  padding: 0.8em 0.3em;
}

/* @group tabs */
.marginbottom {
  margin-bottom: 25px;
}

.doc_intake_row td {
  vertical-align: middle;
}

.doc_intake_row td a {
  text-decoration: underline;
}

.docs {
  line-height: 1.5;
}

.docs .dummy td {
  border-bottom: none;
  padding: 0;
  margin: 0;
  height: 0;
  display: none;
}

.doc_intake_row .doc-titel span {
  color: #777;
}

#zaak-elements-geo .table_td_left_zaakinformatie {
  font-size: 1.538em;
  padding: 0.2em 0;
}

/* @end */
/* @end */
/* @group Dropdown */
.dropdown-wrap {
  position: relative;
  /*z-index: 3;*/
}

.dropdown-wrap-right {
  float: right;
}

.dropdown.dropdown-left {
  width: 280px;
  height: auto;
}

.dropdown-wrap-float {
  float: left;
}

.dropdown-tooltip {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.dropdown-tooltip .dropdown-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #bbb;
  text-align: left;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
}

.dropdown-tooltip .dropdown-content > div,
.dropdown-tooltip .dropdown-content > ul {
  margin: 15px 0 15px;
}

.dropdown-tooltip .dropdown-content > ul > li {
  list-style-type: disc;
}

.dropdown-content a {
  display: inline !important;
  text-decoration: underline !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dropdown-pijl {
  position: absolute;
  background: url(../images/dropdown-pijl.png) no-repeat 0 0;
  width: 10px;
  height: 17px;
  top: 14px;
  right: -9px;
  z-index: 10;
}

.dropdown-bottom {
  width: 200px;
}

.dropdown-bottom .dropdown-pijl {
  position: absolute;
  background: url(../images/dropdown-pijl-bottom.png) no-repeat 0 0;
  width: 17px;
  height: 10px;
  top: -9px;
  right: 14px;
  z-index: 10;
}

.dropdown-wrap-absolute {
  position: absolute;
  right: 13px;
  display: inline;
}

.dropdown-init.dropdown-init-hide {
  visibility: hidden;
}

.ezra_show_dropdown:hover .dropdown-init-hide {
  visibility: visible;
}

.dropdown, .dropdown-content {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown {
  width: 170px;
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px #bbbbbb;
  -moz-box-shadow: 1px 1px 2px #bbbbbb;
  box-shadow: 1px 1px 2px #bbbbbb;
  position: absolute;
  z-index: 1000;
  /*visibility: hidden;*/
  right: 0;
  display: none;
}

.oldie .dropdown {
  zoom: 1;
}

.dropdown-menu {
  padding: 6px 0;
}

.ie7 .dropdown {
  zoom: 1;
}

.dropdown a {
  padding: 3px 5px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown a:hover,
.dropdown a.active {
  background: #5c6a70;
  color: #fff;
}

.dropdown a:active {
  top: 1px;
}

.dropdown p {
  padding: 0px 5px;
  margin-top: 3px;
  margin-bottom: 7px;
  font-weight: bold;
  line-height: 1.2;
}

.dropdown-menu a {
  padding: 5px 15px;
}

.dropdown-menu p {
  margin-top: -6px;
  padding: 10px 15px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
}

.dropdown-init {
  cursor: pointer;
  /*z-index:3;*/
  position: relative;
}

.dropdown-init-block {
  display: block;
  position: relative;
  height: 16px;
  width: 19px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  border: 1px solid #a6a6a6;
  background: #fbfbfb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 );
}

.dropdown-init-block span {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  margin: 0;
  background: url(../images/dropdown-klein-pijl.gif) no-repeat center 6px;
}

.dropdown-init-block:hover, .dropdown-init-block.hover {
  border-color: #666;
}

.dropdown-init-block:active, .dropdown-init-block.is_active {
  -webkit-box-shadow: inset 0 1px 1px black;
  -moz-box-shadow: inset 0 1px 1px black;
  box-shadow: inset 0 1px 1px black;
  background: #383838;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #383838), color-stop(100%, #484848));
  background: -webkit-linear-gradient(top, #383838 0%, #484848 100%);
  background: -moz-linear-gradient(top, #383838 0%, #484848 100%);
  background: -o-linear-gradient(top, #383838 0%, #484848 100%);
  background: linear-gradient(top, #383838 0%, #484848 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#484848',GradientType=0 );
  border-color: #000;
}

.dropdown-init-block:active span, .dropdown-init-block.is_active span {
  background-position: center -9px;
}

/* @end */
.dropdown-init.dropdown-init-hide {
  visibility: hidden;
}

.ezra_show_dropdown:hover .dropdown-init-hide {
  visibility: visible;
}

.dropdown, .dropdown-content {
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropdown {
  width: 170px;
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px #bbb;
  -moz-box-shadow: 1px 1px 2px #bbb;
  box-shadow: 1px 1px 2px #bbb;
  position: absolute;
  z-index: 1000;
  /*visibility: hidden;*/
  right: 0;
  display: none;
}

.oldie .dropdown {
  zoom: 1;
}

.dropdown-menu {
  padding: 6px 0;
}

.ie7 .dropdown {
  zoom: 1;
}

.dropdown a {
  padding: 3px 5px;
  text-decoration: none;
  display: block;
  position: relative;
}

.dropdown a:hover,
.dropdown a.active {
  background: #5c6a70;
  color: #fff;
}

.dropdown a:active {
  top: 1px;
}

.dropdown p {
  padding: 0px 5px;
  margin-top: 3px;
  margin-bottom: 7px;
  font-weight: bold;
  line-height: 1.2;
}

.dropdown-menu a {
  padding: 3px 15px;
}

.dropdown-menu p {
  margin-top: -6px;
  padding: 10px 15px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
}

.dropdown-init {
  cursor: pointer;
  /*z-index:3;*/
  position: relative;
}

.dropdown-init-block {
  display: block;
  position: relative;
  /*margin-right: 10px;*/
  height: 16px;
  width: 19px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #a6a6a6;
  box-shadow: inset 0 1px 0 #fff;
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -o-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  background: linear-gradient(top, #fbfbfb 0%, #f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 );
}

.dropdown-init-block span {
  width: 100%;
  display: block;
  position: absolute;
  height: 100%;
  margin: 0;
  background: url(../images/dropdown-klein-pijl.gif) no-repeat center 6px;
}

.dropdown-init-block:hover, .dropdown-init-block.hover {
  border-color: #666;
}

.dropdown-init-block:active, .dropdown-init-block.is_active {
  box-shadow: inset 0 1px 1px #000;
  background: #383838;
  background: -moz-linear-gradient(top, #383838 0%, #484848 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #484848));
  background: -webkit-linear-gradient(top, #383838 0%, #484848 100%);
  background: -o-linear-gradient(top, #383838 0%, #484848 100%);
  background: -ms-linear-gradient(top, #383838 0%, #484848 100%);
  background: linear-gradient(top, #383838 0%, #484848 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#484848',GradientType=0 );
  border-color: #000;
}

.dropdown-init-block:active span, .dropdown-init-block.is_active span {
  background-position: center -9px;
}

/* @end */
.pip #opmerking p {
  font-size: 1.231em;
  line-height: 1.6;
  margin-bottom: 15px;
  margin-top: 0;
}

.pip #opmerking textarea {
  width: 98%;
  background: none;
  box-shadow: inset 1px 1px 2px #ddd;
}

table.docs span {
  color: #888;
  font-size: 1em;
}

table.docs td.doc-icon a {
  float: left;
}

table.docs td {
  vertical-align: middle;
}

table.docs td.doc-titel {
  line-height: 1.5;
}

.icon-pending {
  background: url(../images/icon-pending.png) no-repeat left center;
  padding-left: 20px;
}

#email_message {
  font-family: courier;
  font-weight: bold;
}

.zaken_filter_inner {
  position: relative;
}

.pip .kenmerk-label {
  margin-top: 0;
}

.pip .kenmerk ul {
  margin-left: 17px;
}

.pip .document-module {
  position: relative;
}

.js .pip .ui-tabs > div#zaak-elements-documents {
  padding: 0;
}

.pip .documents .drag-over.document-component {
  padding: 1em;
  border: 0.5em solid #5b696f;
  z-index: 100;
  position: relative;
}

/* @end */
/* @group Paginering   */
.pagination-current {
  width: 13%;
  float: left;
  font-weight: bold;
  color: #666;
}

.pagination-perpage {
  width: 13%;
  float: right;
}

.pagination-wrap {
  margin: 15px 0 5px;
}

.no-padding .pagination-wrap {
  margin: 15px 20px 5px;
}

.pagination {
  width: 74%;
  float: left;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid #bbb;
  border-left-width: 0;
  background: url(../images/knop-bg.gif) repeat-x 50% 50% white;
}

.pagination ul > li > a:hover {
  background: #ddd;
}

.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > li > a:active {
  background: #ccc;
  box-shadow: inset 1px 1px 1px #bbb;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #000;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 1px 6px;
  font-size: 10.5px;
}

.pagination .next,
.pagination .prev {
  text-indent: -9999px;
  padding: 4px 4px;
}

.pagination .next {
  background: url(../images/pager-next.gif) no-repeat center center;
}

.pagination .prev {
  background: url(../images/pager-prev.gif) no-repeat center center;
}

.pagination .disabled .next,
.pagination .disabled .prev {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  overflow: auto;
}

/* @end */
.pagination {
  float: right;
}

/* @group Inlogpagina */
.pip_inlog_wrapper h1 {
  margin-bottom: 15px;
  font-size: 2.154em;
  color: #000;
  padding: 10px 20px 20px;
  text-align: left;
  font-weight: normal;
}

.pip_inlog .pip-block-header {
  font-size: 1.385em;
  text-transform: none;
  color: #000;
  border-bottom: none;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.pip_inlog .flex50 {
  width: 49%;
  float: left;
}

.pip_inlog .flex50.left {
  margin-right: 2%;
}

.pip_inlog .pip-block {
  padding: 30px 35px;
  background: #f0f6f9;
  border-radius: 10px;
}

.pip_inlog .pip-block-content {
  padding: 0;
}

.pip_inlog .pip-block-content p {
  line-height: 1.6;
}

/* @end */
/* @group pip register */
.pip-register {
  padding: 25px;
  background: #fff;
  border: none !important;
}

.pip-register strong {
  margin-bottom: 15px;
  font-size: 1.0777em;
  display: block;
}

.pip-register table {
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.pip-register h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.pip-register input[type=text],
.pip-register input[type=password] {
  width: 306px;
}

.pip-register input[type=submit] {
  background-color: #333;
  padding: 8px 28px 8px 17px;
  border-radius: 0;
  border-radius: 3px;
}

.pip-register input[type=submit]:hover {
  background-color: #555;
}

.pip-register label.titel {
  color: #999 !important;
  text-align: right !important;
  padding: 0 18px 0 0 !important;
  display: block;
  line-height: 1.2;
}

.pip-register td,
.pip-register th,
.pip-register tr.lastrow td {
  border: none !important;
}

.pip-register td,
.pip-register th {
  padding: 7px 0 !important;
}

.pip-register td.first {
  vertical-align: middle;
  padding: 0 !important;
}

.pip-register .form-actions {
  margin-left: 180px;
  padding: 0 !important;
}

.pip-register-next {
  margin-left: 130px;
}

/* @end */
textarea[name="toelichting"] {
  width: 300px;
}

tr.lastrow td {
  border-bottom: 1px solid #e1e1e1 !important;
}

.document-upload-component {
  height: 5.5em !important;
}

.pip-kenmerk-actions {
  position: absolute;
  right: 0;
}

.field-edit {
  padding-right: 90px;
}
