/* @group WOZ */
.woz-intro {
  margin: 20px 0;
}

.woz label {
  font-weight: bold;
}

.woz td .knop {
  margin: 0 0 0 10px;
}

.woz .td {
  width: 30%;
}

.woz table {
  /*border-top: 1px solid #ddd !important;*/
  margin-bottom: 30px;
}

.woz table .lastrow td {
  border-bottom: 1px solid #ddd !important;
}

.woz h1 {
  margin: 20px 0;
}

.woz-base {
  margin-bottom: 35px;
  padding-right: 130px;
}

.woz-crumb, .woz-crumb a {
  font-size: 11px;
  color: #999;
}

.woz-crumb a:hover {
  color: #333;
}

.woz-base-header {
  position: relative;
  padding: 20px 0 12px;
}

.woz-base-header .knop {
  position: absolute;
  top: 17px;
  right: 0px;
}

.woz-base-header h1 {
  margin: 0;
}

.woz-base-header .knop {
  position: absolute;
  top: 20px;
  right: -130px;
  padding: 12px 18px 12px 44px;
  background: url(../images/knop-bg-medium.gif) repeat-x 50% 50%;
}

.woz-base-header .knop span {
  left: 15px;
}

.woz-base-info {
  font-size: 14px;
}

.woz-base-info .divide {
  margin: 0 4px;
}

.woz-waarde {
  margin-bottom: 30px;
}

.woz-waarde-blok {
  width: 24.25%;
  margin-right: 1%;
  float: left;
}

.woz-waarde-blok:last-child {
  margin: 0;
}

.woz-waarde-blok-inner {
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 10px;
  text-align: center;
  height: 170px;
  box-shadow: 1px 1px 1px #eee;
}

.woz-waarde h3 {
  font-size: 13px;
  color: #000;
  margin: 37px 0 10px;
  padding: 0px 40px 0;
  font-weight: normal;
}

.woz-waarde-blok-double {
  margin: 0 20px;
}

.woz-waarde strong {
  font-size: 30px;
}

.woz-datum h3 {
  margin-bottom: 5px;
  padding: 0;
}

.woz-datum strong {
  font-size: 16px;
}

.woz-waardepeil {
  border-bottom: 1px dashed #bbb;
  padding-bottom: 18px;
  margin-bottom: 15px;
}

.woz-waardepeil h3 {
  margin-top: 23px;
}

.woz-toestandspeil h3 {
  margin-top: 0;
}

/* @group uit form.css */
.woz-in-zaaktype {
  margin-right: -300px;
}

.woz-in-zaaktype td {
  vertical-align: middle !important;
}

.woz .td {
  width: 30%;
}

/* @end */
/* @group ui pip.css */
.woz {
  position: relative;
}

.woz label {
  font-weight: bold;
}

.woz td .knop {
  margin: 0 0 0 10px;
}

.woz .td {
  width: 30%;
}

.woz-base {
  margin-bottom: 35px;
  padding-right: 130px;
}

.woz-crumb,
.woz-crumb a {
  font-size: 11px;
  color: #999;
}

.woz-crumb a:hover {
  color: #333;
}

.woz-base-header {
  position: relative;
  padding: 20px 0 12px;
}

.woz-base-header .knop {
  position: absolute;
  top: 20px;
  right: -130px;
  padding: 12px 18px 12px 44px;
  background: url(../images/knop-bg-large.gif) repeat-x 50% 50%;
}

.woz-base-header .knop span {
  left: 15px;
}

.woz-base-header h1 {
  margin: 0;
}

.woz-base-info {
  font-size: 14px;
}

.woz-base-info .divide {
  margin: 0 4px;
}

.woz-waarde {
  margin-bottom: 30px;
}

.woz-waarde-blok {
  width: 24.25%;
  margin-right: 1%;
  float: left;
}

.woz-waarde-blok:last-child {
  margin: 0;
}

.woz-waarde-blok-inner {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 1px #F8F8F8;
  height: 170px;
  padding: 10px;
  text-align: center;
}

.woz-waarde h3 {
  font-size: 13px;
  color: #000;
  margin: 37px 0 10px;
  padding: 0px 40px 0;
}

.woz-waarde-blok-double {
  margin: 0 20px;
}

.woz-waarde strong {
  font-size: 30px;
}

.woz-datum h3 {
  margin-bottom: 5px;
  padding: 0;
}

.woz-datum strong {
  font-size: 16px;
}

.woz-waardepeil {
  border-bottom: 1px dashed #bbb;
  padding-bottom: 18px;
  margin-bottom: 15px;
}

.woz-waardepeil h3 {
  margin-top: 23px;
}

.woz-toestandspeil h3 {
  margin-top: 0;
}

.woz-uitleg p {
  margin-bottom: 20px;
}

.woz .knop.in-header {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

/* @end */
/* @end */
