/* @group zaaktypebeheer.css   */
/* @group Header */
.ztb-header {
  color: #888;
}

.ztb-header strong {
  color: #000;
}

.widget_term > .widget_term_content {
  margin-right: 5px;
}

/* @end */
/* @group Vooringevulde aanvrager */
.preset_client {
  padding: 5px 10px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  max-width: 810px;
  margin-top: 10px;
}

.preset_client .zoek_veld {
  width: 310px;
}

.preset_client {
  padding: 5px 10px;
  background: #f8f8f8;
  border: 1px solid #eee;
  max-width: 810px;
  margin-top: 10px;
}

.preset_client .zoek_veld {
  width: 310px;
}

/* @end  */
/* @group Overzicht */
.mijlpaal_definitie {
  position: relative;
}

.mijlpalen th {
  padding: 0.6em 0.2em;
}

.mijlpalen td {
  padding: 14px 2px 0;
  vertical-align: middle;
}

.mijlpalen td {
  border-bottom: none;
}

.mijlpalen input[type=text] {
  font-size: 14px;
  padding: 6px 8px;
  width: 88%;
}

.mijlpalen .lastrow td {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.mijlpalen .firstrow td {
  padding-top: 20px;
}

/* @end */
/* @group Configuratie */
/* @group Elementen */
.mijlpaal_content {
  position: relative;
  min-height: 500px;
}

.ie8 .mijlpaal_content {
  min-height: auto;
}

.mijlpaal_element .lastrow td {
  border-bottom: 1px solid #ddd;
}

.mijlpaal_element_kenmerken .mijlpaal_element_rij .td_14px {
  padding-left: 30px;
}

.mijlpaal_element_kenmerken .mijlpaal_element_rij.mijlpaal_element_rij_groep .td_14px {
  padding-left: 0px;
  font-weight: bold;
}

.mijlpaal_element .add-group {
  margin-top: 15px;
  margin-left: 20px !important;
}

.mijlpaal_configureren .mijlpaal_content .blockcontent {
  padding-bottom: 70px !important;
}

.mijlpaal_element > div > div {
  padding: 7px 15px 7px 25px;
  color: #666;
  display: block;
  line-height: 20px;
  font-size: 12px;
  background: #ffffcc;
  border-bottom: 1px solid #ccc;
}

.mijlpaal_element > div > div > span {
  display: inline-block;
  vertical-align: middle;
}

.mijlpaal_element > div > div > span.icon {
  margin-right: 6px;
}

/* @end */
/* @group Rechterknoppen*/
a.element#regel span {
  background: url(../images/icon-direction.png) no-repeat 0 0;
}

a.element#kenmerk span {
  background: url(../images/icon-kenmerk.png) no-repeat 0 0;
}

a.element#sjabloon span {
  background: url(../images/icon-sjabloon.png) no-repeat 0 0;
}

a.element#checklist span {
  background: url(../images/icon-check.png) no-repeat 0 0;
}

a.element#status span {
  background: url(../images/icon-clock.png) no-repeat 0 0;
}

a.element#relatie span {
  background: url(../images/icon-layers.png) no-repeat 0 0;
}

a.element#notificatie span {
  background: url(../images/icon-envelope.png) no-repeat 0 0;
}

a.element#resultaat span {
  background: url(../images/icon-cake.png) no-repeat 0 0;
}

/* @end */
/* @group Voortgang */
.mijlpaal_voortgang .blockcontent {
  padding: 0px !important;
}

.mijlpaal_voortgang p.mijlpaal {
  color: #000;
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0;
}

.mijlpaal_voortgang p.mijlpaal.current {
  color: #000;
  background: #eee;
  background: #f4f4f4;
  padding: 5px 20px;
}

.mijlpaal_voortgang p.mijlpaal.done a {
  background: url(../images/icon-check.png) no-repeat 96% center;
}

.mijlpaal_voortgang p.mijlpaal.empty a {
  background: url(../images/icon-cross.png) no-repeat 96% center;
}

.mijlpaal_voortgang p.mijlpaal a {
  display: block;
  text-decoration: none;
  padding: 5px 20px;
}

.mijlpaal_voortgang p.mijlpaal a:hover {
  background-color: #f9f9f9;
}

/* @end */
/* Notificatie preview dialog */
.notificatie-preview .notificatie-header .line {
  border-bottom: 1px #eee solid;
  line-height: 3;
}

.notificatie-preview .notificatie-header .line strong {
  width: 90px;
  float: left;
}

.notificatie-preview .message {
  padding: 10px 0 0;
}

.notificatie-preview .message-content {
  font-family: courier;
  padding: 5px 0 0;
}

/* @end */
/* @group Regels */
#regel_definitie {
  background: #fff;
}

#regel_definitie table#regel_template > tbody > tr:last-child > td {
  border-bottom: 1px solid #ccc !important;
}

#regel_definitie table#regel_template > tbody > tr > td > table > tbody > tr:last-child td {
  border-bottom: none !important;
}

#regel_definitie table#regel_template > tbody > tr > td > table > tbody > tr td {
  padding: 0.8em .3em;
}

#regel_definitie table#regel_template > tbody > tr > td {
  padding: 0;
  border-color: #ccc;
  border-bottom: none !important;
}

.voeg-regel-toe {
  padding: 6px 7px 6px 10px;
  background: url("../images/block-header-bg.gif") repeat-x scroll left 1px white;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  height: 20px;
}

.rules_inner_table {
  margin-bottom: 20px;
  border: 1px solid #bbb;
  border-bottom-color: #aaa;
  padding: 0 10px;
  background: #fbfbfb;
}

.rules_inner_table > tbody > tr > td {
  border-bottom-style: dotted;
  border-color: #bbb;
}

.rules_inner_table.last {
  margin-bottom: 0;
}

tr.naam_regel td {
  padding: 0 0em 1.5em !important;
}

tr.naam_regel strong, tr.naam_regel input {
  font-size: 1.25em;
}

#regel_definitie .knop.geen-tekst {
  border-bottom-style: none !important;
  border-bottom-width: medium !important;
  border-radius: 0 3px 0 0;
  border-top-style: none !important;
  border-top-width: medium !important;
  box-shadow: none;
  height: 14px;
  margin-right: -8px !important;
  margin-top: -5px !important;
  padding: 9px 24px 8px !important;
  background: url("../images/icon-voegtoe.png") no-repeat scroll center center, url("../images/knop-transparent.png") repeat-x 50% 50% !important;
  border-color: ccc !important;
  background-color: #fff;
}

.ie8 #regel_definitie .knop.geen-tekst {
  background: url("../images/icon-voegtoe.png") no-repeat scroll center center #f9f9f9;
}

#regel_definitie .knop.geen-tekst:hover {
  background-color: #e1f0d2;
  border-color: #bbb !important;
}

#regel_definitie .knop.geen-tekst:active {
  background-color: #ccc;
  top: 0;
  box-shadow: inset 0px 0px 3px #999;
}

#regel_definitie table#pauzeer-aanvraag > tbody > tr:first-child > td.border-bottom {
  border-bottom: 1px solid #eee !important;
}

.kenmerk_filter input.error,
.kenmerk_filter input.error:hover {
  background: #ffdada;
  border-color: red;
}

.regel-email-inplannen input {
  padding: 2px;
  margin-right: 4px;
}

.regel-email-inplannen > div {
  margin: 0 0 14px;
}

.regel-email-inplannen > div:last-child {
  margin: 0;
}

/* @end */
/* @group Rechten */
.ztb-rollen tr.lastrow td {
  border-bottom: 1px solid #e5e5e5 !important;
}

.show {
  padding: 4px 10px;
  border: 1px solid #ccc;
  width: 180px;
  display: block;
}

.show:hover {
  cursor: pointer;
}

.auth-checkboxes {
  position: absolute;
  width: 180px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: -1px;
  min-height: 105px;
  overflow: auto;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  z-index: 3;
}

.auth-checkboxes .auth-checkbox {
  margin-bottom: 2px;
}

.auth-hide-checkboxes:hover {
  cursor: pointer;
  border-color: #000;
}

/* @end */
/* @group Breadcrumb */
#breadcrumb-wrap {
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 0 0 15px;
  padding: 1px 0 0;
  border: 1px solid #aaa;
}

#breadcrumb {
  background: white url(../images/knop-bg-large.gif) repeat-x left center;
  height: 47px;
}
#breadcrumb a, #breadcrumb span.last {
  display: block;
  float: left;
  font-size: 0.9167em;
  padding: 0 13px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  height: 47px;
  line-height: 4;
  overflow: hidden;
}
#breadcrumb .prev a {
  background: url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #e0e0e0;
  color: #000;
}
#breadcrumb a.prev {
  background: url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #e0e0e0;
  color: #000;
}
#breadcrumb a.prev:hover {
  text-decoration: underline;
}
#breadcrumb a.prev .home {
  padding: 0 13px 0 19px;
}
#breadcrumb span.pijl {
  height: 47px;
  display: block;
  float: left;
  width: 19px;
}
#breadcrumb span.next {
  background: url(../images/breadcrumb-next.png) no-repeat right center;
}
#breadcrumb span.prev-pijl {
  background: url(../images/breadcrumb-prev.png) no-repeat right center;
}
#breadcrumb span.grey {
  background: url(../images/breadcrumb-bg-prev.gif) no-repeat right center;
}
#breadcrumb span.divider {
  background: url(../images/breadcrumb-divider.png) no-repeat right center;
}
#breadcrumb td {
  padding: 0;
  text-align: center;
}
#breadcrumb td a {
  float: none;
}
#breadcrumb td .prev {
  background: url(../images/breadcrumb-bg-current.gif) repeat scroll 0 center #e0e0e0;
}

.voortgang a:hover {
  text-decoration: underline !important;
}

/* @end */
/* @group Finish pagina */
.ztb-finish-fasen-overzicht h3 {
  margin: 0 0 7px 0px;
  padding: 0 0 0 19px;
  position: relative;
}

.ztb-finish-fasen-overzicht h3:hover {
  cursor: pointer;
}

h3 .expander {
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  zoom: 1;
  /* IE7 Hack */
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
}

h3 .expander {
  background-image: url(../images/toggle-expand-dark.png);
}

h3.expanded .expander {
  background-image: url(../images/toggle-collapse-dark.png);
}

/* @end */
/* @group Tooltip Filters */
a .tooltip {
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
  background: #fff !important;
  color: black;
  border: 1px solid #e0e0e0;
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 3;
  display: none;
  height: auto;
  margin-top: auto;
}

a span.tooltip {
  -webkit-transition: opacity 0s linear;
  padding: 2px 3px;
  margin-left: 8px;
  width: auto;
}

a:hover span.tooltip {
  display: inline;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
  text-align: left;
  line-height: 1.5;
  padding: 5px 10px;
  cursor: hand;
}

/* @end */
/* @end */
