[% USE Dumper %]

[% BLOCK kenmerk_row %]
    <tr>
        <td class="td250"><input type="text" name="bulk_update_kenmerken_[% IF index %][% index %][% ELSE %]new[% END %]" class="ezra_objectsearch_kenmerk" value="[% kenmerk.bibliotheek_kenmerken_id %]" placeholder="Zoek kenmerk.."/></td>
        <td class="td250">value comes here</td>
    </tr>
[% END %]

[% count = 0 %]
[% FOREACH kenmerk = kenmerken %]
    [% PROCESS kenmerk_row 
        kenmerk = kenmerk 
        index  = count %]
    [% count = count + 1 %]
[% END %]

[% PROCESS kenmerk_row 
    kenmerk = {} 
%]