[% USE Dumper %]

<div id="start_intern">
<div id="notificatie_definitie">
<form action="/zaak/[% zaak.id %]/[% IF email_settings_mode %]email_settings[% ELSE %]send_email[% END %]" method="POST" class="[% IF email_settings_mode %]ezra_phase_email_settings_form[% END %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="notificatie_number" value="[% notificatie_number %]" />
<table id="notificatie_template">
    <tbody>
        <tr>
            <td class="td180">Ontvanger</td>
            <td class="td260">
                <select name="recipient_type" class="ezra_notificatie_rcpt">
                    [% FOR rcpt_hash IN ZCONSTANTS.mail_rcpt %]
                        [% NEXT IF in_status && !IN_ZAAKSTATUS %]
                        <option
                            value="[% rcpt_hash.key %]"
                            [% (rcpt_hash.key == zaaktype_notificatie.rcpt ? ' selected="selected"' : '') %]
                        >[% rcpt_hash.value.naam %]</option>
                    [% END %]
                </select>
            </td>
        </tr>
        <tr class="ezra_notificatie_rcpt_behandelaar">
            <td class="td180">Behandelaar:</td>
            <td class="td260">
                <div class="ezra_select_betrokkene zoek_veld">
                    <div class="medewerker search_wrap">
                        <input
                            type="hidden"
                            name="notificatie_ztc_aanvrager_id"
                            value="[% zaaktype_notificatie.behandelaar%]"
                        />
                        <input type="text"
                            value="[% history.ztc_aanvrager %]"
                            class="input_large"
                            name="notificatie_ztc_aanvrager"
                        />
                    </div>
                    <a href="#" title="Zoek een nieuwe aanvrager" class="ezra_search_betrokkene knop knop-bootstrap" rel="medewerker">
                        <i class="icon icon-magnifier"></i>
                    </a><span class="validator"></span>
                    
                </div>
            </td>
        </tr>
        <tr class="ezra_notificatie_rcpt_overig">
            <td class="td180">E-mailadres:</td>
            <td class="td260">
                <input type="text" name="notificatie_email" value="[% zaaktype_notificatie.email %]" />
            </td>
        </tr>
        [% UNLESS is_scheduled %]
        <tr>
            <td class="td180">Onderwerp:</td>
            <td class="td260">
                <input type="text" name="notificatie_onderwerp" value="[% zaaktype_notificatie.bibliotheek_notificaties_id.subject %]" />
            </td>
        </tr>
        <tr>
            <td class="td180">Bericht:</td>
            <td class="td260">
                <textarea name="notificatie_bericht" rows="10" cols="60">[% zaaktype_notificatie.bibliotheek_notificaties_id.message %]</textarea>
            </td>
        </tr>
        [% END %]
    </tbody>
<table>
<div class="form-actions">
    <input type="submit" value="[% IF email_settings_mode %]Opslaan[% ELSE %]Verstuur[% END %]" class="button140">
</div>
</form>
</div>
</div>
