


<tr>
    <input type="hidden" name="regels_voorwaarden" value="[% voorwaarde_index %]"/>
    <td class="td250">

        [% kenmerk_fieldname = fieldname _ '_kenmerk' %]
        [% INCLUDE selecteer_milestone_kenmerk 
            kenmerk_name = 'regels_' _ fieldname _ '_kenmerk'
            populate_avoid_array = 1
            value = params.$kenmerk_fieldname
            show_wijk_options = distinct_parkeergebieden.size # show wijk options if the table is filled with at least one wijk option
            show_contactchannels = 1
        %]        
    </td>
    <td>
        <div class="kenmerk_filter">
            [% value_fieldname = fieldname _ '_value' %]
            [% kenmerk_fieldname = fieldname _ '_kenmerk' %]
            [% kenmerk_id = global.kenmerk_selection %]
            [% operator_name = fieldname _ '_operator' %]

            [% IF kenmerk_id == 'aanvrager' %]
                [% kenmerk.kenmerk_options = [ 'Natuurlijk persoon' , 'Niet natuurlijk persoon' ] %]
                [% kenmerk_item = { 'type' => 'select' } %]
            [% ELSIF kenmerk_id == 'contactchannel' %]
                [% kenmerk.kenmerk_options = ZCONSTANTS.contactkanalen %]
                [% kenmerk_item = { 'type' => 'select' } %]
            [% ELSIF wijk_kenmerken.$kenmerk_id %]
                [% kenmerk.kenmerk_options = distinct_parkeergebieden %]
                [% kenmerk_item = { 'type' => 'select' } %]
            [% ELSE %]
                [% kenmerk_item = kenmerk_info.${kenmerk_id} %]
                [% kenmerk = c.model('Bibliotheek::Kenmerken').get('id', kenmerk_item.bibliotheek_kenmerken_id) %]
            [% END %]

            [% kenmerk_item.data        = params.${value_fieldname} %]
            [% kenmerk_item.operator    = params.${operator_name}   %]
            [% veldoptie_name           = 'regels_' _ value_fieldname %]

            [% IF 
                kenmerk_id          == 'aanvrager_postcode' || 
                kenmerk_item.type   == 'bag_adres' || 
                kenmerk_item.type   == 'bag_straat_adres'
            %]
                <div>
                    [% from_param = value_fieldname _ '_postcode_from' %]
                    [% to_param   = value_fieldname _ '_postcode_to'   %]
                    Postcode van: <input type="text" maxlength="6" class="ezra_regel_postcode mini60" name="[% veldoptie_name %]_postcode_from" value="[% params.$from_param %]" placeholder="1234ZZ"/>
                    tot: <input type="text" maxlength="6" class="ezra_regel_postcode mini60" name="[% veldoptie_name %]_postcode_to" value="[% params.$to_param %]" placeholder="1234ZZ"/>
                    <input type="hidden" name="[% veldoptie_name %]" value="1" /><!-- asserts that an actual postcode needs to be present -->
                </div>
            [% ELSE %]
                [% PROCESS widgets/general/kenmerk_filter.tt 
                    veldoptie_type =  kenmerk_item.type
                    veldoptie_opties = kenmerk.options
                    veldoptie_name = 'regels_' _ value_fieldname
                    veldoptie_operator_fieldname = 'regels_' _ operator_name
                %]
            [% END %]
        </div>
    </td>
    <td class="td20">
        [% IF params.voorwaarden && params.voorwaarden.size > 1 || new_voorwaarde %]<a class="remove icon-del icon" href="#" />[% END %]
    </td>
</tr>
