/* @group Acties */

.case-actions .inner{
    padding: 0;
}

.case-action{
    position: relative;
    padding: 12px 12px 12px 86px;
    display: block;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    span{
        color: #888;
    }
    button[data-ng-show="action.tainted"]{
        background-color:transparent;
        width:16px;
        height:16px;
        position:absolute;
        right:15px;
        top:50%;
        margin-top:-8px;
        @include opacity(.4);
        &:hover{
            cursor: pointer;
            @include opacity(1);
        }
    }
}

.case-action-icon{
    position: absolute;
    left: 42px;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top:-16px;
    background: url(../images/icons-zaakdossier.png);
}

.case-action-state{
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
}

.case-action-case .case-action-icon{
    background-position: -64px -80px;
}

.case-action-template .case-action-icon{
    background-position: -32px -80px;
}

.case-action-email .case-action-icon{
    background-position: 0 -80px;
}

.case-action-allocation .case-action-icon{
    background-position: -64px -48px;
}

/* @end */