.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2999;
    text-align: center;
}

.modal-backdrop{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#000;
    opacity: 0.5;
    filter:Alpha(Opacity=50);
    position: fixed;
}

.modal-body {
    background-color: white;
    display: inline-block;
    text-align: left;
    box-shadow: 0 0 20px #222;
    -webkit-box-shadow: 0 0 20px #222;
    position: relative;
    z-index: 1;
    top: 70px;
}

.modal-header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    position: relative;
}

.modal-title{
    margin: 1.15em 45px 1.15em 1.3em;
    float: left;
    font-size: 1.231em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal-content{
    padding: 10px 20px 20px;
    max-height: 450px;
    overflow: auto;
}

.modal-close{
    position: absolute;
    right: 14px;
    top: 50%;
    width: 24px;
    margin: -12px 0 0;
    height: 24px;
    border: none;
    background: none;
    background: url(../images/dialog-close.png) no-repeat center center;
    text-indent: -9999px;
}

.modal-close:hover{
    cursor: pointer;
    background-color: #eee;
}

.modal-content form{
    width: 550px;
} 

.modal-content form.modal-medium{
    width:700px;
}

.modal-content form.modal-large{
    width:920px;
}