.spinner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //background: white;
    background:rgba(0,0,0,0.45);
    @include opacity(0);
    visibility: hidden;
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);
    z-index: 8000;
    > div{
        padding:7px;
        @include border-radius(3px);
        width: 48px;
        height: 48px;
        background: url(/tpl/zaak_v1/nl_NL/images/spinner-apple.gif) no-repeat 50% 50% #000;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: -16px;
    }
}

.spinner.ui-blocked {
    visibility: visible;
    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);
    @include transition-delay(0.5s);
}

.ie8 .spinner.ui-blocked{
    background: url(../images/ie_custom_overlay.png) repeat transparent;
}