/* @group Auth Widget */

.widget-auth label{
    width: 70px;
    display: inline-block !important;
}

.auth_edit_box {
    border-style: solid;
    border-width: 1px;
    border-color:#bbb;
    padding:4px 6px 4px 36px;
    margin-right:6px;
    position: relative;
    display: inline-block;
}

.auth_edit_box input[type=checkbox]{
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -5px;
}

.auth_edit_box .widget-auth > div{
    float: left;    
}

.auth_edit_box .widget-auth > div:first-child{
    margin-right: 5px;
}

.auth_edit_box .widget-auth > div > label{
    width: auto;
    display: inline;
}

/* @end */ 