.branding {
    text-indent: -9999px;
    width: 195px;
    height: 50px;
    float: left;
    margin-left: 18px;
}

.branding a{
    display: block;
    width: 195px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}

.gemeente_bussum .branding a{
    background-image: url(../images/logos/logo-bussum-klein.png);
}

.gemeente_baarn .branding a{
    background-image: url(../images/logos/logo-baarn-klein.png);
}

.gemeente_debilt .branding a{
    background-image:url(../images/logos/logo-debilt-klein.png);
}

.logo_tholen .branding a{
    background-image:url(../images/logos/logo-tholen.png);
}

.gemeente_tholen .branding a{
    background-image:url(../images/logos/logo-tholen-klein.png);
}

.gemeente_ede .branding a{
    background-image:url(../images/logos/logo-ede.png);
}

.gemeente_test .branding a{
    background-image:url(../images/logos/logo-zaaksysteem.png);
    background-position: center 45%;
}

.gemeente_vianen .branding a{ 
    background-image: url(../images/logos/logo-vianen.png); 
} 

.gemeente_rci .branding a{
    background-image: url(../images/logos/logo-rci-klein.png); 
}

.gemeente_mintlab .branding a{
    background-image: url(../images/logos/logo-mintlab.png); 
}

.gemeente_groningenseaports .branding a{
    background-image: url(../images/logos/logo-seaports.png); 
}

.gemeente_caci .branding a{
    background-image: url(../images/logos/logo-caci.png);
}

.gemeente_wijkbijduurstede .branding a{
    background-image: url(../images/logos/logo-wijkbijduurstede.png);
}