/* @group Button140   */
    
    .button140 {
        border-style: solid;
        border-width: 0;
        cursor: pointer;
        font-family: inherit;
        font-weight: bold;
        line-height: 1;
        margin: 0 0 1.25em;
        position: relative;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding-bottom: 0.75em;
        padding-top: 0.8125em;
        padding-right: 1.125em;
        padding-left: 1.125em;
        font-size: 0.923em;
        color: white;
        border: 1px solid #444;
        border-radius: 2px;
        box-shadow: inset 0 1px 0 #5691be;
        -moz-box-shadow: inset 0 1px 0 #5691be;
        -webkit-box-shadow: inset 0 1px 0 #5691be;
        background: rgb(14,98,162);
        background: -moz-linear-gradient(top,  rgba(14,98,162,1) 0%, rgba(7,71,121,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,98,162,1)), color-stop(100%,rgba(7,71,121,1)));
        background: -webkit-linear-gradient(top,  rgba(14,98,162,1) 0%,rgba(7,71,121,1) 100%);
        background: -o-linear-gradient(top,  rgba(14,98,162,1) 0%,rgba(7,71,121,1) 100%);
        background: -ms-linear-gradient(top,  rgba(14,98,162,1) 0%,rgba(7,71,121,1) 100%);
        background: linear-gradient(top,  rgba(14,98,162,1) 0%,rgba(7,71,121,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e62a2', endColorstr='#074779',GradientType=0 );
    }
    
    button::-moz-focus-inner,
    input::-moz-focus-inner{
        border: 0;
        padding: 0;
    }
    
    input.button140,
    button.button140 {
        padding-bottom: 0.75em;
        padding-top: 0.8125em;
    }
    
    .button140.margin{ margin:10px 0; }

    .button140:hover{
        background: rgb(17,117,193);
        background: -moz-linear-gradient(top,  rgba(17,117,193,1) 0%, rgba(9,76,158,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,117,193,1)), color-stop(100%,rgba(9,76,158,1)));
        background: -webkit-linear-gradient(top,  rgba(17,117,193,1) 0%,rgba(9,76,158,1) 100%);
        background: -o-linear-gradient(top,  rgba(17,117,193,1) 0%,rgba(9,76,158,1) 100%);
        background: -ms-linear-gradient(top,  rgba(17,117,193,1) 0%,rgba(9,76,158,1) 100%);
        background: linear-gradient(top,  rgba(17,117,193,1) 0%,rgba(9,76,158,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1175c1', endColorstr='#094c9e',GradientType=0 );
        border-color: #444;
        cursor: pointer;
        color: #fff;
        box-shadow: inset 0 1px 0 #5691be,0 1px 1px #ccc;
    }
    
    .button140:active{
        position: relative;
        top: 1px;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        background: rgb(7,71,121);
        background: -moz-linear-gradient(top,  rgba(7,71,121,1) 0%, rgba(12,77,135,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,71,121,1)), color-stop(100%,rgba(12,77,135,1)));
        background: -webkit-linear-gradient(top,  rgba(7,71,121,1) 0%,rgba(12,77,135,1) 100%);
        background: -o-linear-gradient(top,  rgba(7,71,121,1) 0%,rgba(12,77,135,1) 100%);
        background: -ms-linear-gradient(top,  rgba(7,71,121,1) 0%,rgba(12,77,135,1) 100%);
        background: linear-gradient(top,  rgba(7,71,121,1) 0%,rgba(12,77,135,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074779', endColorstr='#0c4d87',GradientType=0 );
    }
    
    .button140.grijs{
        background: rgb(247,247,247);
        background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(237,237,237,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(237,237,237,1)));
        background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
        background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
        background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
        background: linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 );
        border: 1px solid #aaa;
        color:#333;
        box-shadow: inset 0 1px 0 #fff;
        -moz-box-shadow: inset 0 1px 0 #fff;
        -webkit-box-shadow: inset 0 1px 0 #fff;
        text-shadow: none;
        -moz-text-shadow: none;
        -webkit-text-shadow: none;
        filter: none;
    }
    
    .button140.grijs:hover{
        border-color: #777;
        box-shadow: 0 1px 1px #ddd !important;
        background-image: none;
        background: rgb(242,242,242);
        background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(229,229,229,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(229,229,229,1)));
        background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%);
        background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%);
        background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%);
        background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(229,229,229,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 );
        color: #333;
    }
    
    .button140[disabled='disabled'],
    input.button140[disabled='disabled']{
        opacity: 0.3;
        filter: alpha(opacity=30);
        background: rgb(17,117,193);
    }
    
    .button140[disabled='disabled']:hover{
        cursor: default;
    }
    
    .button140[disabled='disabled']:active{
        box-shadow: inset 0 1px 0 #5691be;
        -moz-box-shadow: inset 0 1px 0 #5691be;
        -webkit-box-shadow: inset 0 1px 0 #5691be;
        top: 0;
    }
    
    .button140.right{ margin-left:10px; }
    
    .button140.right.last { margin-right: 20px !important; }

    .ie8 input.button140:hover { background: #333; }
     
    .ie8 input.button140:active { background: #000; }

/* @end */

/* @group Form Actions Wrapper */

    .form-actions{
        padding: 15px 0 0;
    }
    
    .form-actions.form-actions-bottom{
        position: absolute;
        bottom:0px;
        width:100%;
    }
    
    .form-actions-inner{
        padding: 0 20px;
    }

/* @end */