@import "partials/dependencies";

/* @group Dropdown */

.dropdown-wrap{
    position: relative;
    /*z-index: 3;*/
}

.dropdown-wrap-right{float:right;}

.dropdown.dropdown-left{
    width:280px;
    height:auto;
}

.dropdown-wrap-float{
    float: left;
}

.dropdown-tooltip{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background:none !important;
    border:none !important;
    padding:0 !important;
}

.dropdown-tooltip .dropdown-content{
    @include border-radius(3px);
    @include box-shadow(-1px 1px 2px rgba(0,0,0,0.15));
    background:#fff;
    //padding:6px 10px;
    border:1px solid #bbb;
    text-align: left;
    color: #333;
    font-weight: normal;
    line-height: 1.5;
}

.dropdown-tooltip .dropdown-content > div,
.dropdown-tooltip .dropdown-content > ul {
    margin: 15px 0 15px;
}

.dropdown-tooltip .dropdown-content > ul > li{
    list-style-type: disc;
}

.dropdown-content a{
    display: inline !important;
    text-decoration: underline !important;
    margin: 0 !important;padding: 0 !important;
}

.dropdown-pijl{
    position: absolute;
    background: url(../images/dropdown-pijl.png) no-repeat 0 0;
    width:10px;
    height:17px;
    top:14px;
    right:-9px;
    z-index:10;
}

.dropdown-bottom{
    width: 200px;
}

.dropdown-bottom .dropdown-pijl{
    position: absolute;
    background: url(../images/dropdown-pijl-bottom.png) no-repeat 0 0;
    width:17px;
    height:10px;
    top:-9px;
    right:14px;
    z-index:10;
}

.dropdown-wrap-absolute{
    position: absolute;
    right:13px;
    display: inline;
}

.dropdown-init.dropdown-init-hide{visibility: hidden;}
.ezra_show_dropdown:hover .dropdown-init-hide{
    visibility: visible;
}

.dropdown, .dropdown-content{
    background:#fff;
    padding:10px;
    border:1px solid #ccc;
}

.dropdown{
    width:170px;
    position: absolute;
    @include box-shadow(1px 1px 2px #bbb);
    position:absolute;
    z-index: 1000;
    /*visibility: hidden;*/
    right: 0;
    display: none;
}

.oldie .dropdown{
    zoom: 1;
}

.dropdown-menu{
    padding: 6px 0;
}

.ie7 .dropdown{
    zoom: 1;
}

.dropdown a{
    padding:3px 5px;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdown a:hover,
.dropdown a.active{
    background: rgb(92,106,112);
    color:#fff;
}

.dropdown a:active{top:1px;}

.dropdown p{
    padding:0px 5px;
    margin-top:3px;
    margin-bottom:7px;
    font-weight: bold;
    line-height: 1.2;
}

.dropdown-menu a{
    padding: 5px 15px;
}

.dropdown-menu p{
    margin-top: -6px;
    padding: 10px 15px;
    background: #f8f8f8;
    border-bottom: 1px solid #e6e6e6;
}

.dropdown-init{
    cursor: pointer;
    /*z-index:3;*/
    position: relative;
}

.dropdown-init-block{
    display: block;
    position: relative;
    height: 16px;
    width:19px;
    @include border-radius(2px);
    @include box-shadow(inset 0 1px 0 #fff);
    border:1px solid #a6a6a6;
    background: rgb(251,251,251);
    @include background(linear-gradient(top, rgba(251,251,251,1) 0%,rgba(242,242,242,1) 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2f2f2',GradientType=0 );
}

.dropdown-init-block span{
    width: 100%;
    display: block;
    position: absolute;
    height: 100%;
    margin: 0;
    background: url(../images/dropdown-klein-pijl.gif) no-repeat center 6px;
}

.dropdown-init-block:hover,.dropdown-init-block.hover{
    border-color: #666;
}

.dropdown-init-block:active,.dropdown-init-block.is_active{
    @include box-shadow(inset 0 1px 1px #000);
    background: rgb(56,56,56);
    @include background(linear-gradient(top,  rgba(56,56,56,1) 0%,rgba(72,72,72,1) 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#484848',GradientType=0 );
    border-color: #000;
}

.dropdown-init-block:active span,.dropdown-init-block.is_active span{
    background-position: center -9px;
}

/* @end */