/* @group stappen */
    
    .stap-content-multiple{
        margin-bottom: 1em;
    }
    
    .stap-tekst{
        clear:both;
        margin:0;
        padding: 0 0 .35em;
        border-top: none;
        position: relative;
        border-bottom: 2px solid #ddd;
    }
    
    .stap-tekst-no-border{
        border: none;
    }
        
        .stap-tekst .stap-titel,
        .stap-tekst .stap-beschrijving{
            padding:0;
        }
        
        .stap-tekst .stap-titel,
        .blockcontent > h2{
            font-size:1.5em;
            //line-height: 1.4;
            font-weight: bold;
            margin: .25em 0 .5em;
        }
        
        .stap-tekst h3{
            font-size: 1.1em;
            margin:1.75em 0 1em;
        }
        
        .stap-tekst .stap-beschrijving{
            line-height: 1.7;
            font-weight: normal;
            color: #222;
            margin:0 0 .8em;
        }
        
        .stap-tekst .stap-beschrijving ul{
            margin:.7em 0 1em;
            padding-left: 1em;
        }
        
        .stap-tekst .stap-beschrijving p{
            margin:.7em 0 1em;
        }
        
    .stap-tekst.stap-tekst-enkel{
        padding: 0 !important;
    }
    
    .form-navigation{
        list-style: none;
        display: block;
        padding: 0px;
        border: 1px solid #ccc;
        border-bottom: none;
        background: #eeeeee;
        max-width: 100%;
        width: 100%;
        display: table;
        margin: 0 0 1.5em;
    }
    
    .form-navigation li{
        display: table-cell;
        padding: 5px 15px 5px 30px;
        text-align: center;
        vertical-align: middle;
        height: 44px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .form-navigation li a{
        text-decoration: none;
    }
    
    .form-navigation-disabled li{
        color: #999;
    }
    
    .stappen-nav{
        border: 1px solid #ccc;
        border-bottom: none;
        background: none;
        padding: 0;
        margin: 0;
        width: 100%;
        display: none;
    }
    
        .stap{
            background: #f8f8f8;
            background-image: url(../images/voortgang-pijl.png);
            background-repeat: no-repeat;
            background-position: -15px center;
            position: relative;
            border-bottom: 3px solid #ccc;
        }
        
        .stap a{
            color: #666;
        }
        
        .stap a:hover{
            cursor: default;
        }
        
        .stap.done a{
            text-decoration: underline;
        }
        
        .stap.done a,
        .stap.active a{
            color: #000;
            font-weight: bold;
        }
        
        .stap.done a:hover{
            cursor: pointer;
        }
        
        .stap.active{
            color:#000;
            background: #e6e6e6;
            background-image: url(../images/voortgang-pijl.png);
            background-repeat: no-repeat;
            background-position: -15px center;
            border-bottom-color: #000;
            font-weight: bold;
        }
        
        .stap.active a{
            font-weight: bold;
        }
        
        .stap.next-to-active{
            background-image: url(../images/voortgang-pijl-active-2.png); 
        }
            
        .stap.first{ 
            padding-left:15px; 
            background-image: none; }
        
    /* @end */