/* @group Header Menu */

.header-menu{
    position: absolute;
    right: 15px;
    top: 6px;
    z-index: 1;
}

.header-menu .header-menu-item{
    width: 24px;
    height: 22px;
    display: block;
    text-indent: -9999px;
    float: left;
    padding: 7px 7px;
    border: 1px solid transparent;
    position: relative;
}

.header-menu .header-menu-item .header-menu-item-icon{
    width: 24px;
    height: 22px;
}

.header-menu .header-menu-item:hover,
.header-menu .hover .header-menu-item{
    background-color: rgba(255,255,255,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.3);
}

.oldie .header-menu .header-menu-item:hover,
.oldie .header-menu .hover .header-menu-item{
    background: #667075;
}

.header-menu .header-menu-item:active{
    box-shadow: 0 1px 0 rgba(255,255,255,0.3), inset 0 1px 1px rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.3);
}

.oldie .header-menu .header-menu-item:active{
    background: #424c51;
}

.header-menu .header-menu-item-icon{
    background: url(../images/icons-header.png) no-repeat 0 0;
}

.header-menu a.header-user .header-menu-item-icon{
    background-position: -24px 0;
}

.header-menu a.header-messages .header-menu-item-icon{
    background-position: -72px 0;
}

.header-menu a.header-messages .header-menu-item-icon.dropped{
    background-position: -96px 0;
}

.header-menu a.header-user.dropped{
    border-bottom: none;
    position: relative;
    z-index: 2;
}

.header-menu .header-menu-item.dropped:hover,
.header-menu .hover .header-menu-item.dropped{
    background: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.header-menu a.header-user.dropped span{
    background-position: -48px 0;
}

.flyout-menu{
    position: fixed;
    z-index: 2999;
    top: 54px;
    right: 10px;
}

.flyout-menu-inner{
    background: #fff;
    border: 1px solid rgba(0,0,0,0.35);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    color: #333;
}

.no-rgba .flyout-menu-inner{
    border: 1px solid #aaa;
    margin-right: -1px;
    border-bottom-color: #999;
}

.flyout-menu-nub{
    width: 21px;
    height: 10px;
    position: absolute;
    top: -9px;
    right: 10px;
    background: url(../images/icons-header.png) no-repeat -1px -28px;
}

.flyout-menu-title{
    font-weight: bold;
    border-bottom: 1px solid #bbb;
    padding: 5px 10px;
}

.messages-menu{
    width: 480px;
}

.messages-menu .messages-list{
    height: 385px;
    overflow: auto;
}

.messages-menu .message{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.messages-menu .message:hover{
    background: #f2f2f2;
}

.messages-menu .message strong{
    display: block;
}

.user-menu{
    width: 152px;   
}

.user-menu-inner{
    width: 150px;
}

.ie8 .user-menu{
    width: 151px;
}

.user-menu a{
    font-size: 11px;
    color: #777;
    padding: 5px 7px 5px 29px;
    border-bottom: 1px solid #ddd;
    display: block;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

.ie7 .user-menu a{
    height: 20px;
    line-height: 22px;
}

.user-menu a:hover{
    background: #f5f5f5;
}

.user-menu a.user-menu-item-user{
    border-radius: 2px 0 0 0;
}

.user-menu a.user-menu-item-logout{
    border-radius: 0 0 2px 2px;
}

.user-menu a span{
    position: absolute;
    width: 11px;
    height: 11px;
    left: 9px;
    top: 50%;
    margin-top: -5.5px;
    background: url(../images/icons-user-menu.png) 0 0;
}

.user-menu a.user-menu-item-last{
    border-bottom: none;
}

.user-menu a.user-menu-item-logout span{
    background-position: -11px 0;
}

.notification-count{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: #de1b1b;
    color: #fff;
    font-size: 11px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    line-height: 16px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-indent: 0;
}

/* @end */