#contentwrapper{
    margin-left:233px;
    clear:both;
    margin-right:15px;
    padding: 50px 0 0 0;
}

.ie7 #contentwrapper{
    padding: 0px 0 25px 0;
}

#contentwrapper.layout_simple {
    margin-left:20px;
}

#contentcolumn{
    margin-top: 15px;
    float:left;
    width:100%;
}

#leftcolumn{
    float: left;
    clear:left;
    height: 99%;
    width: 205px;
    position: static;
    margin-left:-215px;
    margin-top:15px;
}

.ie7 #leftcolumn{
    position: relative;
}

#leftcolumn_inner{
    border:1px solid #999;
    background:#fff;
    width:193px;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom:20px;
    @media only screen and (max-width: $breakpoint) {
        margin-bottom:0;
    }
}

#leftcolumn_inner2{
    background: url(../images/nav-bg-strong.gif) repeat-y left top;
}

#topsection{
    background: $primary-color;
    background: -moz-linear-gradient(top,  rgb(92,106,112) 0%, rgb(63,73,77) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(92,106,112)), color-stop(100%,rgb(63,73,77)));
    background: -webkit-linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    background: -o-linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    background: -ms-linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    background: linear-gradient(top,  rgb(92,106,112) 0%,rgb(63,73,77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6a70', endColorstr='#3f494d',GradientType=0 );
    height: 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    z-index: 2998;
}

.ie7 #topsection{
    position: static;
}

.header-right {
    color: #ffffff;
    font-weight: bold;
    height: 50px;
    margin-left: 223px;
    background: url(../images/head-divide.png) no-repeat left center;
}