<form data-ng-controller="nl.mintlab.core.form.FormController">
	
	<div class="form-field form-field-name-<[field.name]>" data-ng-repeat="field in fields | filter:showField:field" data-ng-include="'/html/form/form-field.html'">
	</div>
	
	<div class="form-field-button-list">
		<button data-ng-repeat="action in actions" data-ng-click="handleActionClick(action, $event)" data-ng-disabled="isActionDisabled(action)">
			<[action.label]>
		</button>
	</div>
	
</form>

<script type="text/ng-template" id="/html/form/form-field.html">
	<div class="form-field-label">
		<label for="<[getFieldId(field)]>">
			<[field.label]>
		</label>
	</div>
	
	<div class="form-field-input" data-ng-include="'/html/form/form-field-type-' + field.type + '.html'">
	</div>
	
	<div class="form-field-description" data-zs-template="field.desc">
	</div>
</script>

<script type="text/ng-template" id="/html/form/form-field-type-text.html">
	<input type="text" name="<[field.name]>" data-zs-form-field data-ng-model="scope[field.name]" data-ng-required="getRequired(field)" data-zs-restrict="<[field.data.restrict]>" data-ng-pattern="<[field.data.pattern]>" id="<[getFieldId(field)]>" data-zs-placeholder="field.data.placeholder"/>
</script>

<script type="text/ng-template" id="/html/form/form-field-type-radio.html">
	<label data-ng-repeat="option in field.options">
		<input type="radio" name="<[field.name]>" data-zs-form-field data-ng-model="scope[field.name]" value="<[option.value]>"/>
		<[option.label]>
	</label>
</script>

<script type="text/ng-template" id="/html/form/form-field-type-checkbox.html">
	<label>
		<input type="checkbox" name="<[field.name]>" data-zs-form-field data-ng-model="scope[field.name]"/>
	</label>
</script>

<script type="text/ng-template" id="/html/form/form-field-type-select.html">
	<select data-ng-model="scope[field.name]" name="<[field.name]>" data-zs-form-field data-ng-options="option.value as option.label for option in field.options">
	</select>
</script>

<script type="text/ng-template" id="/html/form/form-field-type-spot-enlighter.html">
	<input type="text" name="<[field.name]>" data-zs-form-field data-ng-model="scope[field.name]" data-zs-object-required="getRequired(field)" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="field.data.restrict||''" data-zs-spot-enlighter-label="<[field.data.label]>" data-zs-placeholder="field.data.placeholder" />
		
</script>

<script type="text/ng-template" id="/html/form/form-field-type-textarea.html">
	<textarea data-ng-model="scope[field.name]" data-ng-required="getRequired(field)" data-zs-form-field data-ng-pattern="<[field.data.pattern]>" id="getFieldId(field)"></textarea>
</script>