@import "partials/license-block";
@import "partials/dependencies";

/* @group base.css */


/* @group basics */

* {
    padding: 0;
    margin: 0;
    font-family: $font-family;
}

body {
    margin:0;
    padding:0;
    line-height: 1.5em;
    font-family: $font-family;
    font-size: $base-font-size;
    color: $text-color;
    text-decoration: none;
    background:url(../images/bg.gif) repeat 0 0 $background-color;
}

a{
    color:$text-color;
    &:hover {color:$anchor-hover-color;}
}

img{border:none;}

em{color:red;}

ul.list{margin-left:15px}

p{
    font-size:1em;
    line-height:1.8;
    margin-bottom:20px;
    &.bericht{margin-bottom:15px;}
}

.blue{ color:#083E80;}

.th_16px{
    font-size:16px;
    font-weight: bold;
}

.td_14px{ font-size:14px; }

.td_16px{ font-size:16px; }

td.label{font-weight: bold;}

h1.in-dialog{
    font-size:13px;
    position: relative;
    padding:12px 0;
    border-bottom:2px solid #ddd;
}

h2{
    margin-bottom:15px;
    &.zaaknummer{ float:left; }
}

h3{ 
    margin-bottom: 10px;
    font-size: 16px;
}

hr{
    border: 1px solid #ddd;
}

small{
    color: #888;
    font-size: 11px;
}

/* @end */


@import "partials/scaffolding";
@import "partials/menu";
@import "partials/block";
@import "partials/spotenlighter";
@import "partials/header-menu";
@import "partials/branding";
@import "partials/login-page";
@import "partials/nieuwe-zaak-popup";
@import "partials/auth-widget";


/* @group No Padding  */

.ui-accordion-table-bg {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 20px; }
    
.ie8 .ui-accordion-table-bg { padding: 10px 0; }
 
.ui-dialog .ui-accordion-table-bg { background: none !important; }
 
.no-padding .ui-accordion-content table,
.no-padding .blockcontent .ui-accordion-content table  { padding: 0 20px !important; }
 
.no-padding .ui-accordion-content table.ezra_table_table,
.no-padding .ui-accordion-content table.ezra_table { padding-left: 0 !important; }
 
//.no-padding .ezramap_container { padding: 10px 20px; }
 
.no-padding.ui-tabs-panel,
.no-padding .blockcontent,
.no-padding.ui-dialog-content { padding: 0 !important; }
 
.no-padding .ui-accordion-header,
.no-padding .ui-accordion-content { margin: 0 !important; }
 
//.no-padding .blockcontent { padding: 0px !important; }
 
.ui-accordion-table-bg.geen-resultaten {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    padding-left: 20px; }
 
/* @end */


/* @group SORT */

//.betrokkene_search_results_wrapper {position: relative;}
//#miframe { display: none; }
//#next_status_subzaak .description {margin-bottom: 0px;}
//.filter_tab {height:20px}

/* @end */

@import "partials/angular-system-message";
@import "partials/angular-spinner";
@import "partials/angular-modal";
@import "partials/angular-context-menu";

[data-zs-sortable]:hover {
    cursor: move;
}

@import "partials/pagination";
@import "partials/helpers";

/* @group Dev/Test Blokjes */

.otap_warning {
    display: none;
    font-size: 10.5px;
    font-weight: bold;
    height: 16px;
    left: 235px;
    line-height: 1.4;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 18px;
    width: 24px;
    z-index: 2999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ie7 .otap_warning{
    position: absolute;
}

.otap_dev .otap_warning {
    color:#fff;
    background-color: red;
    display: none;
}

.otap_test .otap_warning {
    background-color: yellow;
    display: block;
}
/* @end */