@import "partials/settings";
@import "compass/css3";

$crud-header-color: #f9f9f9;

.crud{
    font-size:1em;
    table-layout: fixed;
    white-space: nowrap;
}

.crud thead{
    background:$crud-header-color;
    th{
        border-top:1px solid #a9a9a9;
        border-bottom:1px solid #a9a9a9;
        height: 50px;
        vertical-align: middle;
    }
}

.crud tr{
    &:hover{
        background:$crud-header-color;
    }
    &:focus{
        outline:none;
    }
    td{
        padding:1.1em 0.5em;
    }
}

.crud thead button{
    background:none;
    font-size:1em;
    font-weight: bold;
} 

.crud thead.crud-hidden > tr > th {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    overflow: hidden;
    height:0;
    & > * {
        height: 0;
        overflow: hidden;
        visibility: none;
    }
}

.crud thead.crud-header button{
    padding:0 14px 0 0;
    position: relative;
    .column-sort{
        position:absolute;
        right:0;
        top:50%;
        font-size:.8em;
        margin-top:-.6em;
    }
    &:hover{
        text-decoration: underline;
    }
}

.crud-table-select-cell{
    text-align: center;
}

.crud-table-action-cell > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}

.crud-table-action-cell{
    padding:0;
}

.crud thead .crud-table-action-cell button{
    @include border-radius(2px);
    vertical-align: middle;
    font-weight: bold;
    border:1px solid #b9b9b9;
    @include box-shadow(0 1px 1px rgba(0,0,0,0.05));
    background: #f9f9f9;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
    @include background(linear-gradient(top,#f9f9f9 0%,#e9e9e9 100%));
    padding: 0 8px;
    color: #444;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin-right:6px;
    margin-bottom:0;
    &:hover{
        background: #f5f5f5;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );
        @include background(linear-gradient(top,#f5f5f5 0%,#e0e0e0 100%));
        @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
        border-color: #999;
    }
    &:active{
        background: #e0e0e0;
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.2));
        border-color: #999;
    }
}