/* @group Import */
        .import ul {
            margin-left: 20px;
        }

        .import thead {
            font-weight: bold;
        }

        .import .ui-autocomplete-input {
            width: 300px;
        }

        .import .action input[type=text] {
            width: 300px;
        }
    
        /* @group basics */
        
        
 
        .versiebeheer_tabel{
            margin-bottom: 20px;
        }
        
        .import{
            padding-bottom: 20px;
        }
        
        .import fieldset{
            margin-bottom: 25px;
        }
        
        .import .succes{
            background:url(../images/succes.png) no-repeat 10px 50%;
            padding: 1.2em 0 1em 75px;
            margin-top: 10px;
            font-size: 2em;
            color: #007E4F;
            margin-bottom: 15px;
            line-height: 1.2;
        }
        
        .import .error{
            padding:30px 30px 30px 110px;background: url(../images/error.png) no-repeat 0 center;font-size: 2.25em;line-height: 1.6;margin-bottom: 15px;
        }
        
        .import .error span{
            font-size: 13px;
            display: block;
        }
        
        .import .import-uitleg{
            margin: 0 0 15px;
            line-height: 1.7;
            font-size: 14px;
        }
        
        .import_group{
            margin-bottom:30px;
            box-shadow: 1px 1px 3px #e8e8e8;
        }
        
        .import_group_inner {
            position:relative;
        }
        
        .import_group .import_title{
            background-image: linear-gradient(top, #FFFFFF, #E9E9E9);
            background-color: #e9e9e9;
            border-color: #d0d0d0 #b3b3b3 #bbb #d0d0d0;
            border-style: solid;
            border-width: 1px 1px 4px;
            border-radius: 2px 2px 0 0;
            padding: 17px 10px 17px 0px;
        }
        
        .import_group h3{
        color: #555;
        font-size: 13px;
        position: relative;
        padding-left: 50px;
        margin: 0;
        }
        
        .import_group h3 span{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 19px;
        }
        
        .import_group h3.Zaaktype span{background: url(../images/icon-zaaktype.png) no-repeat scroll 0 0;}
        .import_group h3.BibliotheekKenmerken span{background: url(../images/icon-kenmerk.png) no-repeat scroll 0 0;}
        .import_group h3.BibliotheekSjablonen span{background: url(../images/icon-sjabloon.png) no-repeat scroll 0 0;}
        .import_group h3.Filestore span{background: url(../images/icon-doc.png) no-repeat 0 0;}
        .import_group h3.LdapOu span{background: url(../images/icon-organisation.png) no-repeat 0 0;}
        .import_group h3.Filestore span{background: url(../images/icon-file-mac.png) no-repeat 0 0;}
        .import_group h3.LdapRole span{background: url(../images/icon-user-ldap.png) no-repeat 0 0;}
        .import_group h3.ZaaktypeCategorie span{background: url(../images/icon-tag.png) no-repeat 0 0;}
        .import_group h3.BibliotheekNotificaties span{background: url(../images/icon-envelope.png) no-repeat 0 0;}
        
        .import .spinner-klein{
            background-image: url(../images/ajax-loader-green.gif);
        }
        
        .import .import_item_error .spinner-klein{
            background-image: url(../images/ajax-loader-red.gif);
        }
        
        /* @end */
        
        
        /* @group Top Level Balken */
        
        .import .import_item_inner{
            background-image: linear-gradient(bottom, #b7dc94, rgb(189,238,165)) !important;
            background-color: rgb(189,238,165);
            border-color: #dbdbdb #b3b3b3 #a4a4a4 #c8c8c8;
            border-width: medium 1px 1px;
            border-style: none solid solid;
            box-shadow: inset 0 1px 0 #fff;
            position: relative;
        }
        
        .import .import_item_inner:hover{
            background-color: #a2e681;
            cursor: pointer;
        }
        
        .import .import_item_inner.open{
            border-bottom-color: #aaa;
        }
        
        .import .import_item_active .check{
            position: absolute;
            background:url(../images/import-check.png) no-repeat;
            width:23px;
            height:17px;
            right:20px;
            top:50%;
            margin-top:-8px;
        }
        
        .import .import_item_error{
            background-image: linear-gradient(bottom, #e8baba, #ffcccc);
            background-color: #ffcccc;
            box-shadow: inset 0 1px 0 #f4f3f2;
            border-color: #dbdbdb #b3b3b3 #a4a4a4 #a4a4a4;
        }
        
        .import .import_item_error:hover{
            background-color: #ffbfbf;
        }
        
        .import .import_item_inner.import_item_active{
            box-shadow: inset 1px 1px 2px #9ec989;
            border-color: #b3b3b3 #d0d0d0 #d0d0d0 #b7b7b7;
        }
        
        .import .import_item_inner.import_item_active.bottom{
            border-color: #aaa #aaa #bbb #bbb;
        }
        
        .import .title{
            box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.4),  1px 0 0 rgba(0,0,0,0.08);
            padding: 0px 0 0px 0;
            width: 32%;
            height: 59px;
            float: left;
        }
        
        .import .title strong{
            padding-left: 48px;
        }
        
        .import .title strong,.import .rfa .action{
            display: table-cell;
            vertical-align: middle;
            height: 59px;
        }
        
        .import .rfa{
            float: left;
            width: 58%;
            padding-right: 10%;
            height: 59px;
        }
        
        .import .rfa .action{
            position: relative;
            padding-left: 50px;
            background: url(../images/import-check.png) 20px center no-repeat;
        }
        
        .import .import_item_error .rfa .action{
            background: url(../images/import-error.png) 20px center no-repeat;
        }
        
        
        
        /* @end */
        
        
        /* @group Uitklapmenu */
        
        .import .import_item_inner.top{
            box-shadow: inset 0 2px 2px #ddd !important;
            border-bottom:1px solid #ddd;
            border-top: none;
        }
        
        .import .import_item_inner.bottom{
            border-top:none;
            box-shadow: inset 0 -2px 2px #ddd !important;
        }
        
        .import_overlay{
        }
        
        .import_overlay .import_item_inner:hover{
            border-color: #bbb !important;
        }
        
        .import_overlay .import_item_inner{
            margin-top:0;
            font-weight: bold;
            background-color: #fff;
            background-image: none !important;
            border-color: #bbb;
            z-index: 0;
        }
        
        .import_overlay .import_item_inner .title{
            background: #e8e8e8;
            background: rgba(0,0,0,0.05);
        }
        
        .import_overlay .import_item_inner.with-category .title, .import_overlay .import_item_inner.with-category .title strong{
            height: 125px;
        }
        
        .import_overlay .import_item_inner.with-category .rfa{
            height: 125px;
        }
        
        .import_overlay .import_item_inner.with-category .rfa .action{
            display: block;
            height: auto;
            font-weight: normal;
        }
        
        .import_overlay .import_item_inner.with-category .rfa .action{
            padding: 12px 0 0 18px;
        }
        
        .import_overlay .import_item_inner.with-category .rfa .action.voeg-meegeleverd-toe{
            padding-top: 15px;
        }
        
        .import_overlay .import_item_inner.no-category .rfa .action.voeg-meegeleverd-toe{
            padding-top: 16px;
            display: block;
            height: auto;
        }
        
        .import_overlay .no-category .rfa .action label{
            float: left;
            line-height: 2;
        }
       
        .import_overlay .rfa .action{
            padding-left: 18px !important;
            background: none !important;
            font-weight: normal;
        }
        
        .import_overlay .rfa .action .ui-selectmenu{
            display: inline-block !important;
        }
        
        .import_overlay .rfa .action .ui-selectmenu-status{
            height: 19px;
            white-space: nowrap;
            margin-right: 2.1em;
            padding-right: 0;
            overflow: hidden;
        }
        
        .import_overlay .rfa .action label{
            display: inline-block;
            width: 145px;
        }
        
        .import_overlay .with-category .rfa .action label{
            float: left;
            line-height: 2;
        }
        
        .import_overlay .with-category .rfa .action.multi-categorie label{
            float: none;
            display: inline;
            width: auto;
        }
        
        .import_overlay .rfa .action label span{
            font-size: 11px;
            font-style: italic;
        }
        
        .import_overlay .rfa .knop{
            position: absolute;
            bottom: 16px;
            right: 13px;
        }
        
        .import_overlay .rfa .knop.opslaan{
        background-position: 6px center !important;
        height: 28px !important;
        padding: 4px 11px !important;
        text-indent: -9999px;
        width: 30px;
        }
        
        .import_overlay .rfa .knop:active{
            bottom: 15px !important;
            top: auto;
        }
        
        .import_overlay .import_item_inner:hover{
            background-color: #eee !important;
            cursor: pointer;
        }
        
        .import_overlay .import_item_inner.import_item_active{
            box-shadow: none;
            border-color: #bbb;
            background-image: none;
            background-color: #f5f5f5;
        }
        
        .import_overlay .import_item_inner.import_item_inactive{
            
        }
        
        .import_overlay .import_item_inner.import_item_inactive .check{
            display: none;
        }
        
        .import_overlay select{
            max-width: 190px;
        }
        
        .import .toggle{
            background: url(../images/import-toggle.png) no-repeat 0 0;
            height: 11px;
            width: 15px;
            position: absolute;
            left: 20px;
            top: 50%;
            margin-top: -5px;
        }
        
        .import .open .toggle{
            background-position: 0 -11px;
        }
        
        
        .import .radio-button{
            background: url(../images/import-radiobuttons.png) no-repeat 0 0;
            width: 26px;
            height: 26px;
            position: absolute;
            left: 15px;
            top: 50%;
            margin-top: -13px;
        }
        
        .import .radio-button:hover, .import_overlay .import_item_inner:hover .radio-button{
            background-position: 0 -26px;
        }
        
        .import .radio-button:active, .import_overlay .import_item_inner:active .radio-button{
            background-position: 0 -52px;
        }
        
        .import .import_item_active .radio-button{
            background-position: -26px 0;
        }
        
        .import .import_item_active .radio-button:hover, .import_overlay .import_item_inner.import_item_active:hover .radio-button{
            background-position: -26px -26px;
        }
        
        .import .import_item_active .radio-button:active, .import_overlay .import_item_inner.import_item_active:active .radio-button{
            background-position: -26px -52px;
        }
        
        .import_error_tooltip_wrap{
            position: relative;
        }
        
        .import_error_tooltip{
            position: absolute;
            background: #111 url(../images/icon-alert.png) 10px center no-repeat;
            background: rgba(0,0,0,0.7) url(../images/icon-alert.png) 10px center no-repeat;
            color: #fff;
            width: 130px;
            top:15px;
            /*left: 365px;*/
            border-radius: 3px;
            font-size: 11px;
            display: none;
            text-align: left;
            padding: 5px 5px 5px 33px;
            font-weight: bold;
            z-index: 1;
            margin-left: 15px;
        }
        
        .import_error_tooltip .tip{
            display: block;
            width: 5px;
            height: 9px;
            background: url(../images/import-tip-left.gif) no-repeat 0 0;
            position: absolute;
            top: 10px;
            left: -5px;
            opacity: 0.7;
        }
        
        /* @end */
        
        
        /* @group Options Knoppen */
        
        .import .options{position: absolute;right:0;top: 0;padding: 13px 7px 13px 305px;opacity: .15;
        }
        
        .import .options a{
            float:left;
            width:30px;
            height:30px;
            text-indent: -9999px;
            display: block;
            border:1px solid #7a9a6b;
            border-radius: 3px;
            box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px #CBCBCB inset;
            margin:0 5px;
        }
        
        .import .import_item_error .options a{
            border: 1px solid #a58384;
            /*box-shadow:0 0 2px #bd8c8c;*/
        }
        
        .import .options a:hover{border-color:#555;box-shadow:0 0 2px #79a464;}
        .import .options a:active{box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px #CBCBCB inset;}
        .import .options a.active:hover{border:1px solid #7a9a6b;}
        
        
        
        .import .options a.active{
            box-shadow:0 1px 0 #e4f5db, inset 0 1px 1px #7ba568;
            background-color:#8dbd77 !important;
            border-color:#6e8a60 !important;
            opacity: 1;
        }
        
        .import .import_item_error .options a.active, .import .import_item_error .options a:active{
            box-shadow:0 1px 0 #d18484 inset, 0 1px 0 #FCEAEA;
            background-color:#f28484 !important;
            border-color:#927272 !important;
        }
        
        
        
        .import .options a.revert{
            background:url(../images/button-revert.png) no-repeat center -9px, url(../images/import-button-bg.gif) repeat-x 0 center;
        }
        
        
        
        .import .import_item_error .options a.revert{
                background:url(../images/button-revert.png) no-repeat center -9px, url(../images/import-button-bg-error.gif) repeat-x 0 center;
        }
        
        .import .options a.revert.active{background:url(../images/button-revert.png) no-repeat center -59px;}
        
        .import .options a.info{
            background:url(../images/button-info.png) no-repeat center -5px, url(../images/import-button-bg.gif) repeat-x 0 center;
        }
        
        .import .import_item_error .options a.info{
                background:url(../images/button-info.png) no-repeat center -5px, url(../images/import-button-bg-error.gif) repeat-x 0 center;
        }
        
        .import .options a.info.active{background:url(../images/button-info.png) no-repeat center -45px;}
        
        .import_item_inner:hover .options{opacity:1;}
        
        /* @end */
        
        /* @group i-navigator */
        
        .import_inavigator_group{
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #fff;
        }
        
        .import_inavigator_group h3,
        .import_inavigator_group h3.inactive:hover{
            padding: 0;
            padding: 15px 20px 15px 50px;
            background: #e9e9e9;
            box-shadow: 0 0 2px rgba(0,0,0,0.1);
        }
        
        .import_inavigator_group h3.inactive{
            color: #bbb;
            cursor: default;
        }
        
        .import_inavigator_group h3:hover{
            background: #e0e0e0;
        } 
        
        .import_inavigator_group h3.open{
            border-bottom: 1px solid #ccc;
        }
        
        .import_inavigator_group h3.open.closed{
            border-bottom: none;
        }
        
        .import_inavigator_group_inner{
            padding: 10px 15px;
        }
        
        .import_inavigator .import_overlay .import_item_inner{
            font-weight: normal;
        }
        
        .import_inavigator .import_group{
            border-top: 1px solid #bbb;
        }
        
        .import_inavigator .import_overlay .import_item_inner:hover{
            background-color: #f5f5f5 !important;
        }
        
        .import_inavigator table{
            table-layout: fixed;
        }
        
        .import_inavigator table td:first-child{
            width: 28%;
        }
        
        .import_inavigator table td > input[type=text]{
            width: 95%;
        }
        
        .import_inavigator input[value="Valideer"]{
            margin: 20px;
        }
        
        .import_inavigator_group_results table{
            margin-bottom: 20px;
            border-bottom: 2px solid #ddd;
        }
        
        .import_inavigator_group_results table {
            margin:20px 0;
            border: 1px solid #bbb;
            background: #fff;
            padding: 10px;
        }
        
        .import_inavigator_group_results table td{
            padding: 0.8em;
        }
        
        .import_inavigator .import_checkbox{
            position: absolute;
            right: 18px;
            top: 50%;
            margin-top: -9px;
        }
        
        .ezra_inavigator_zaaktype_title{
            width: 85%;
        }
        
        .import_inavigator.import .rfa{
            padding-right: 0;
        }
        
        .import_inavigator .actions-nav{
            position: absolute;
            right: 45px;
            top: 50%;
            margin-top: -14px;
            opacity: .3;
            filter: alpha(opacity=30);
        }
        
        .import_inavigator .import_item_inner:hover .actions-nav{
            opacity:1;
            filter: alpha(opacity=100);
        }
        
        .import_inavigator .import_overlay .rfa{
            width: 72% !important;
            padding-right: 0 !important;
        }
        
        
        /* @end */
        
        /* @group IE8 Styles */
        
        .ie8 .import_group { border-bottom: none; }
         
        .ie8 .import_item_inner:hover .title,
        .ie8 .import_item_inner:hover .rfa {
            cursor: pointer;
            background: none; }
         
        .ie8 .import_item_inner:hover { background: #b5e38f; }
         
        .ie8 .import_item_error:hover { background: #e8baba; }
         
        .ie8 .import_overlay .import_item_inner .title { background: none; }
         
        .ie8 .import_overlay .rfa .knop.opslaan { background: url("../images/icon-save.png") no-repeat scroll 5px center #e7e7e7 !important; }
         
        .ie8 .import .options a.revert { background: url(../images/button-revert.png) no-repeat center -9px #e3f8d8 !important; }
         
        .ie8 .import .import_item_error .options a.revert { background: url(../images/button-revert.png) no-repeat center -9px #f9e9e9 !important; }
         
        .ie8 .import .options a.info { background: url(../images/button-info.png) no-repeat center -5px #e3f8d8 !important; }
         
        .ie8 .import .import_item_error .options a.info { background: url(../images/button-info.png) no-repeat center -5px #f9e9e9 !important; }
         
        .ie8 .import_overlay { border-top: 1px solid #bbb; }
         
        /* @end */
    
    
    /* @end */
