/* @group Media Queries */

@media screen and (max-width: 1024px) {

    .header-right{
        background: none;
    }
    
    .spotenlighter .spotenlighter-input{
        margin-left: -417px;
    }
    
    .intern #contentwrapper{
        margin-left: 20px;
    }
    
    .intern #leftcolumn {
        margin-left: 0;
        width: 100%;
        position: static;
    }

    .intern .login_maincontainer #leftcolumn{
        width:auto;
        margin-left:auto;
    }
    
    .intern #leftcolumn_inner{
        width: 73%;
        float: left;
        margin-left: 2%;
        border: none;
    }
    
    .intern .nieuwezaak_wrapper{
        width: 25%;
        float: left;
    }
    
    .intern .nieuwezaak_wrap{
        width: 100%;
        margin-bottom: 0;
    }
    
    .intern #leftcolumn_inner2{
        background: url(../images/nav-bg-strong-vertical.gif) repeat-x 0 -150px;
        border: 1px solid #AAAAAA;
    }
    
    .intern a.nieuwezaak{
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        padding-left: 0;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .intern .nieuwe_zaak_starten{
        left: 20px;
        top: 135px;
    }
    
    .intern .nieuwe_zaak_starten_tip{
        width: 57px;
        height: 27px;
        background: url(../images/nieuwe_zaak_starten_tip_1024.png) no-repeat 0 0;
        position: absolute;
        top: -27px;
        left: 44px;
    }
    
    .intern .menu-title{
        float: left;
        width: 33.3333%;
        border-radius: 0;
        position: relative;
    }
    
    .intern .first .menu_heading{
        border-radius: 5px 0 0 5px !important;
        border-left: 0;
    }
    
    .intern .last .menu_heading{
        border-radius: 0 5px 5px 0 !important;
        border-right: 0;
    }
    
    .intern .menu_heading{
        border-right: 1px solid #f1f0f0;
        border-left: 1px solid #ccc;
        padding: 13px 0 13px 0px !important;
        text-align: center;
        border-bottom: none;
        background-image: none;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
        background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 ); /* IE6-9 */
    }
    
    .intern .menu_heading:hover{
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
        background: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
    }
    
    .intern .menu_heading span{
        display: none;
    }
    .intern .zoeken span{left: 54px;}
    .intern .beheer span{left: 55px;}
    .intern .werkvoorraad span{left: 28px;}
    
    
    .intern ul.menu-items{
        background: none repeat scroll 0 0 #FFFFFF;
        border-radius: 5px 5px 5px 5px;
        border-top: 1px solid #BBBBBB;
        box-shadow: 1px 1px 4px #CCCCCC;
        display: none;
        position: absolute;
        top: 47px;
        width: 99%;
        z-index: 1000;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: 2px solid #ccc !important;
        z-index: 10;
    }
    
    .contact-dashboard{
        left: 20px;
        top: 239px;
    }
    
    .ui-tabs .ui-tabs-panel.taken-inner-scroll,
    .ui-tabs .ui-tabs-panel.tab-inner-scroll{
        top: 242px;
        left: 20px;
    }
    
}

/* @end */