@import "partials/dependencies";

/* @group  Zaken Zoeken  */

    /* @group Filters Icons */
    
    a.element#zaaktype span.bg{background: url(../images/icon-zaaktype.png) no-repeat 0 0;}
    a.element#aanvrager span.bg{background: url(../images/icon-man.png) no-repeat 0 0;}
    a.element#aanvrager_bedrijf span.bg{background: url(../images/icon-bedrijf.png) no-repeat 0 0;}
    a.element#adres span.bg{background: url(../images/icon-house.png) no-repeat 0 0;}
    a.element#urgentie span.bg{background: url(../images/icon-alert.png) no-repeat 0 0;}
    a.element#afdeling span.bg{background: url(../images/icon-organisation.png) no-repeat 0 0;}
    a.element#behandelaar span.bg{background: url(../images/icon-persoon.png) no-repeat 0 0;}
    a.element#coordinator span.bg{background: url(../images/icon-coordinator.png) no-repeat 0 0;}
    a.element#periode span.bg{background: url(../images/icon-calendar.png) no-repeat 0 0;}
    a.element#new span{background: url(../images/icon-report_add.png) no-repeat 0 0;}
    
    /* @end */
    
    .zaken-zoeken-filters{
        .search-no-filters {
            color:#bbb;
            font-size:2em;
            text-align: center;
            font-weight: bold;
            position: relative;
            top:170px;
            padding:14px 0px 0 14px;
            line-height:1.5;
        }
        a.search_filter_not_available:hover,
        a.search_filter_not_available {
            color:#c0c0c0 !important;
            border-color:#e0e0e0 !important;
        }
        a.search_filter_not_available span.bg{opacity: 0.4;}
    }

    .zaken-zoeken{
        li a.divider{
            padding:0.6em 1em 0 !important;
            span{
                display: block;
                border-left:1px solid #fff;
                border-right:1px solid #bbb;
                height:18px;
            }
        }
        .dialog-content-inner label{
            padding:10px 0;
            display: block;
            font-weight: bold;
        }
        .dropdown-init#groepeer-resultaten{
            top:9px;
            right:8px;
            position: absolute;
        }
        .ui-accordion-content{
            position: relative; 
        }
        .ui-accordion-content-active + h3{
            @include box-shadow(0 -2px 2px rgba(0,0,0,0.1));
            z-index: 2;
        }
        .ui-accordion-header.ui-state-active{
            @include box-shadow(0 1px 2px rgba(0,0,0,0.1));
            z-index: 2;
        }
    }
    
    .zaken-zoeken-kolommen{
        .add_kenmerkveld{
            padding-left:10px;
            margin-left:457px !important;
            margin-top:7px;
        }
        .add_kenmerkveld:hover{
            cursor: pointer;
            color:#000;
        }
        .config_header {
            font-weight: bold;
            text-decoration: none;
            color: #222;
            padding-top:15px;
            padding-bottom:5px;
            .filter_column { 
                float:left;
                margin-right:380px;
            }
            .filter_column_right { 
                margin-right:0px;
            }
        }
    } 
    
    .kenmerk_filter_operator {
        //float: left;
        margin-right: 10px;
        margin-bottom: 10px; }
    
    #ezra_input_search_betrokkene_intern,
    #ezra_input_search_betrokkene_extern {
        background: #eee;
    }

    .publish-item{
        border: 1px solid #ddd;
        background:#f7f7f7;
        margin-bottom: 15px;
        & > div{
            padding:15px;
        }
        .publish-meeting{
        }
        .publish-subcases{
            .publish-subcase-entity{
                border:1px solid #bbb;
                margin-bottom:15px;
                background:#fff;
                & > div{
                    
                    padding:8px 10px;
                }
                .publish-subcase-entity-title{
                    background:#e7e7e7;
                    border-bottom:1px solid #bbb;
                }
                .publish-subcase-entity-info{
                    border-bottom:1px solid #ddd;
                }
            }
            ul{
                margin-left:20px;
            }
            .publish-documents{
                margin-left:30px;
            }
        }
        input.publish-subcase-action{
            margin-right:10px;
        }
    }

/* @end */
