[% USE Dumper %]


[% # preprocess kenmerk to create a lookup for kenmerk id => { kenmerk data } %]
[% kenmerk_info = {} %]
[% first_kenmerk_id = 0 %]
[% available_kenmerken = milestone.elementen.kenmerken %] 
[% FOREACH mkenmerki IN available_kenmerken.keys.nsort %]
    [% kenmerk_item = available_kenmerken.$mkenmerki %]
    [% IF !kenmerk_item.is_group %]
        [% kenmerk_info.${kenmerk_item.bibliotheek_kenmerken_id} = kenmerk_item %]
        [% IF !first_kenmerk_id %]
            [% first_kenmerk_id = kenmerk_item.bibliotheek_kenmerken_id %]
        [% END %]
    [% END %]
[% END %]






[% available_acties_order = [ 'toon_kenmerk', 'verberg_kenmerk', 'pauzeer_aanvraag', 'vul_waarde_in', 'wijzig_afhandeltermijn', 'sjabloon_genereren', 'toewijzing', 'schedule_mail'] %]
[% available_acties = {
        'pauzeer_aanvraag' => 'Pauzeer aanvraag',
        'toon_kenmerk' => 'Toon kenmerk',
        'verberg_kenmerk' => 'Verberg kenmerk',
        'vul_waarde_in' => 'Vul waarde in',
        'wijzig_afhandeltermijn' => 'Wijzig afhandeltermijn',
        'sjabloon_genereren' => 'Genereer sjabloon',
        'toewijzing' => 'Toewijzing',
        'schedule_mail' => 'E-mail versturen'
    } 
%]
[% # contains kenmerken that have been referenced in the voorwaarden, to make sure a kenmerk does not alter itself. %]
[% avoid_kenmerken = {} %] 
[% global.kenmerk_selection = '' %]
[% wijk_kenmerken = {} %]


[% #do it only once, performance %]
[% distinct_parkeergebieden = c.model('DB::Parkeergebied').parkeergebieden %]


[% BLOCK selecteer_milestone_kenmerk %]
[% # show_all_kenmerken: display the full list, otherwise only show kenmerken that can be used as
   # filters.
   # show_value_kenmerken: display the list minus a few types that are impractical for this purpose
%]

    [% allowed_kenmerk_types = { 
        option              => 1, 
        checkbox            => 1, 
        select              => 1, 
        bag_adres           => 1,
        bag_straat_adres    => 1,
       }
    %]
    [% kenmerk_types_for_wijk_display = {
            googlemaps => 1,
            bag_adres => 1,
            bag_openbareruimte => 1,
            bag_straat_adres => 1,
        }
    %]

    Kenmerk:
    [% PROCESS beheer/zaaktypen/milestones/rules/field_select.tt %]
[% END %]




<div id="regel_definitie">
<form>
<input type="hidden" name="milestone_number" value="[% milestone_number %]" />
<input type="hidden" name="zaaktype_id" value="[% zaaktype_id %]" />
<input type="hidden" name="zaaktype_update" value="" />
<div class="regel_definitie_wrapper">
<div class="regel_definitie_inner">
<div class="spinner-groot"><div></div></div>
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]"/>
<input type="hidden" name="update" value="1"/>
<input type="hidden" name="rownumber" value="[% rownumber %]"/>
<table class="table_zaakinformatie" border="0" id="regel_template">
    <tbody>
        <tr class="naam_regel">
            <td class="td200">
                <strong style="margin-right:6px;">Regelnaam:</strong>
                <input type="text"
                    class="large300 input_large"
                    value="[% params.naam %]"
                    name="regels_naam"
                />
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="voeg-regel-toe"><strong>Voorwaarden</strong><a class="add_voorwaarde knop voeg-toe geen-tekst right" href="#"></a></div>
            </td>
        </tr>
        
        <tr>
            <td>
                <table border="0" width="100%" class="rules_inner_table">
                    [% voorwaarden = params.voorwaarden %]
                    [% IF !voorwaarden %][% voorwaarden = [ '1' ] %][% END %]
                    [% FOREACH voorwaarde_index = voorwaarden %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/condition.tt  
                            fieldname = 'voorwaarde_' _ voorwaarde_index
                        %]
                    [% END %]
        
                    [% IF new_voorwaarde %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/condition.tt  
                            fieldname = 'voorwaarde_' _ new_voorwaarde
                            voorwaarde_index = new_voorwaarde
                        %]
                    [% END %]
        
                </table>
                
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="voeg-regel-toe"><strong>Acties</strong><a class="add_actie knop voeg-toe geen-tekst right" href="#"></a></div>
            </td>
        </tr>
        
        
        <tr>
            <td>
                <table class="rules_inner_table">
                    [% acties = params.acties %]
                    [% IF !acties %][% acties = [ '1' ] %][% END %]
                    [% FOREACH actie_index = acties %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/action.tt 
                            fieldname = 'actie_' _ actie_index
                            fieldgroup = 'acties'
                            can_remove_always = new_actie
                        %]
                    [% END %]
                    [% IF new_actie %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/action.tt 
                            fieldname = 'actie_' _ new_actie 
                            actie_index = new_actie
                            fieldgroup = 'acties'
                            can_remove_always = 1
                        %]
                    [% END %]
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <div class="voeg-regel-toe last"><strong>Anders</strong><a class="add_anders knop voeg-toe geen-tekst right" href="#"></a></div>
            </td>
        </tr>
        
        
        <tr>
            <td>
                <table class="rules_inner_table last">
                    [% anders = params.anders %]
                    [% IF !anders %]
                        [% anders = [] %]
                    [% END %]
                    [% FOREACH actie_index = anders %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/action.tt 
                            fieldname = 'ander_' _ actie_index
                            fieldgroup = 'anders'
                            can_remove_always = 1
                        %]
                    [% END %]
                    [% IF new_anders %]
                        [% PROCESS beheer/zaaktypen/milestones/rules/action.tt 
                            fieldname = 'ander_' _ new_anders 
                            actie_index = new_anders
                            fieldgroup = 'anders'
                            can_remove_always = 1
                        %]
                    [% END %]
                </table>
            </td>
        </tr>
        
    </tbody>
</table>
<div class="form-actions">
    <input type="button" value="Opslaan" class="button140 save_regel"/>
</div>
</div>
</div>
</form>
</div>
