<p>Deze setting wijzigd het sjabloon dat gebruikt wordt om e-mail notificaties te versturen bij een toewijzing wijziging op een zaak</p>

<label>
    E-mail template
    <select name="[% parameter %]">
        <option value=""[% IF !id %] selected="selected"[% END %]>Geen template (notificaties uit)</option>
        [% FOREACH template IN config %]
        <option value="[% template.id %]"[% IF template.id == value %] selected="selected"[% END %]>[% template.label %]</option>
        [% END %]
    </select>
</label>
