[% USE Scalar %]
[% USE Dumper %]

[% PROCESS beheer/zaaktypen/breadcrumb.tt %]


[% BLOCK generic_field %]
    <tr>
        <td class="td300">[% label %]</td>
        <td class="td310">
            <input
                type="text"
                name="node.properties.[% fieldname %]"
                class="input_large"
                value="[% params.node.properties.$fieldname %]"
            />
        </td>
        <td class="tdvar">
            [% PROCESS widgets/general/validator.tt  message = validator_message %]
            [% PROCESS widgets/general/tooltip.tt    message = tooltip_message %]
        </td>
    </tr>
[% END %]


[% BLOCK textarea_field %]
    <tr>
        <td class="td300">[% label %]</td>
        <td class="td310">
            <textarea
                name="node.properties.[% fieldname %]"
                class="input_large"
                
            />[% params.node.properties.$fieldname %]</textarea>
        </td>
        <td class="tdvar">
            [% PROCESS widgets/general/validator.tt  message = validator_message %]
            [% PROCESS widgets/general/tooltip.tt    message = tooltip_message %]
        </td>
    </tr>
[% END %]

[% BLOCK generic_dropdown_field %]
    <tr>
        <td class="td300">[% label %]</td>
        <td class="td310">
            <select name="node.properties.[% fieldname %]" class="replace-select">
                 [% FOREACH option IN dropdown_options %]
                    <option
                        value="[% option %]"
                        [% (
                            params.node.properties.$fieldname
                                == option
                                    ? 'selected="selected"'
                                    : ''
                    ) %]>[% option %]</option>
                [% END %]
            </select>
        </td>
        <td class="tdvar">
            [% PROCESS widgets/general/validator.tt  message = validator_message %]
            [% PROCESS widgets/general/tooltip.tt    message = tooltip_message %]
        </td>
    </tr>
[% END %]



<div id="fresh-form">
<form method="POST" action="[% formaction %]" class="zvalidate use_submit ezra_zaaktypebeheer" enctype="multipart/form-data">
    <input type="hidden" name="zaaktype_update" value="1" />
<div class="block clearfix">
    <p class="header ztb-header">
        [% IF(zaaktype_id) %]
            <strong>[% params.node.titel %]</strong> -  
        [% ELSE %]
            Zaaktype aanmaken
        [% END %]
        Algemene attributen
    </p>
    <div class="blockcontent">
        <table class="marginbottom form">
            <thead>
                <tr>
                    <th colspan="3" class="th_16px blue">Basisattributen</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="td300">Categorie</td>
                <td class="td310">
                    [% PROCESS widgets/general/categorie.tt 
                    fieldname = 'zaaktype.bibliotheek_categorie_id' %]
                </td>
                <td class="tdvar">
                    [% PROCESS widgets/general/validator.tt  message = 'Categorie is verplicht' %]
                    [% PROCESS widgets/general/tooltip.tt    message = 'Selecteer hier de juiste categorie.' %]
                </td>
            </tr>
            
            
            
            <tr>
                <td class="td300">Naam zaaktype</td>
                <td class="td310">
                    <input
                        type="text"
                        name="node.titel"
                        class="input_large"
                        value="[% params.node.titel %]"
                    />
                </td>
                <td class="tdvar">
                    [% PROCESS widgets/general/validator.tt  message = 'De naam van dit zaaktype is verplicht' %]
                    [% PROCESS widgets/general/tooltip.tt    message = 'Type hier de naam van het zaaktype.' %]
                </td>
            </tr>
                            
            
            
            <tr>
                <td class="td300">Identificatie</td>
                <td class="td310">
                    <input
                        type="text"
                        name="node.code"
                        class="input_large"
                        value="[% params.node.code %]"
                    />
                </td>
            <td class="tdvar">
                    <div class="validator rounded"><div class="validate-tip"></div><div class="validate-content rounded-right"><span></span></div></div>
                    [% PROCESS widgets/general/tooltip.tt   message = 'Vul hier de unieke code van het zaaktype in. Let op, voor sommige zaaktypen is er een landelijke code beschikbaar (zie de catalogus)' %]                    
                </td>
            </tr>
            <tr>
                <td>Speciaal webformulier</td>
                <td>
                    <select name="definitie.custom_webform" class="replace-select">
                            <option
                                value=""
                                [% (
                                    params.definitie.custom_webform
                                        == ''
                                            ? 'selected="selected"'
                                            : '')
                                %]
                            > Geen</option>
                        [% FOREACH webformulier IN ZOPTIONS.CUSTOM_WEBFORMS.keys %]
                            [% webformulier_data = ZOPTIONS.CUSTOM_WEBFORMS.$webformulier %]
                            <option
                                value="[% webformulier %]"
                                [% (
                                    params.definitie.custom_webform
                                        == webformulier
                                            ? 'selected="selected"'
                                            : '')
                                %]
                            > [% webformulier_data.label %]</option>
                        [% END %]
                    </select>
                </td>
                <td>

                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                        </div>
                    </div>
                    [% PROCESS widgets/general/tooltip.tt    message = 'Selecteer hier het type besluit dat wordt toegepast voor het afhandelen van dit zaaktype.' %]
                </td>
            </tr>
            
              
            <tr>
                <td class="td300">Procesbeschrijving</td>
                <td class="td310">
                    <input
                        type="text"
                        name="definitie.procesbeschrijving"
                        class="input_large"
                        value="[% params.definitie.procesbeschrijving %]"
                    />
                </td>
                <td class="tdvar">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span> De url van dit zaaktype is verplicht.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">De url van de procesomschrijving van dit zaaktype, bijvoorbeeld http://www.gemeente.nl/123.pdf</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td300">Handeling initiator</td>
                <td class="td310">
                    <select name="definitie.handelingsinitiator" class="replace-select">
                        [% FOREACH hinit IN ZOPTIONS.HANDELINGSINITIATORS.sort %]
                            <option
                                value="[% hinit %]"
                                [% (
                                    params.definitie.handelingsinitiator
                                        == hinit
                                            ? 'selected="selected"'
                                            : ''
                            ) %]>[% c.loc(hinit) %]</option>
                        [% END %]
                    </select>
                </td>
                <td class="tdvar">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span> Handelingsinitiator is verplicht
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">De handelingsinititator geeft aan via welke handeling de zaak wordt aangevraagd.</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>

            [% PROCESS generic_field
                label = 'Aanleiding'
                fieldname = 'aanleiding'
                validator_message = 'Aanleiding'
                tooltip_message = 'Aanleiding'
            %]

            [% PROCESS generic_field
                label = 'Doel'
                fieldname = 'doel'
                validator_message = 'Doel'
                tooltip_message = 'Doel'
            %]

            [% PROCESS generic_field
                label = 'Archiefclassificatiecode'
                fieldname = 'archiefclassicatiecode'
                validator_message = 'Archiefclassificatiecode'
                tooltip_message = 'Archiefclassificatiecode'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Vertrouwelijkheidsaanduiding'
                dropdown_options = ['-', 'Openbaar', 'Beperkt openbaar', 'Intern', 'Zaakvertrouwelijk', 'Vertrouwelijk', 'Confidentieel', 'Geheim', 'Zeer geheim']
                fieldname = 'vertrouwelijkheidsaanduiding'
                validator_message = 'Vertrouwelijkheidsaanduiding'
                tooltip_message = 'Vertrouwelijkheidsaanduiding'
            %]

            [% PROCESS generic_field
                label = 'Verantwoordelijke'
                fieldname = 'verantwoordelijke'
                validator_message = 'Verantwoordelijke'
                tooltip_message = 'Verantwoordelijke'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Bezwaar en beroep mogelijk'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'beroep_mogelijk'
                validator_message = 'Bezwaar en beroep mogelijk'
                tooltip_message = 'Bezwaar en beroep mogelijk'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Publicatie'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'publicatie'
                validator_message = 'Publicatie'
                tooltip_message = 'Publicatie'
            %]

            [% PROCESS textarea_field
                label = 'Publicatietekst'
                fieldname = 'publicatietekst'
                validator_message = 'Publicatietekst'
                tooltip_message = 'Publicatietekst'
            %]

            [% PROCESS generic_field
                label = 'Verantwoordingsrelatie'
                fieldname = 'verantwoordingsrelatie'
                validator_message = 'Verantwoordingsrelatie'
                tooltip_message = 'Verantwoordingsrelatie'
            %]

            [% PROCESS generic_dropdown_field
                label = 'BAG'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'bag'
                validator_message = 'BAG'
                tooltip_message = 'BAG'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Lex silencio positivo'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'lex_silencio_positivo'
                validator_message = 'Lex silencio positivo'
                tooltip_message = 'Lex silencio positivo'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Opschorten mogelijk'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'opschorten_mogelijk'
                validator_message = 'Opschorten mogelijk'
                tooltip_message = 'Opschorten mogelijk'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Verlenging mogelijk'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'verlenging_mogelijk'
                validator_message = 'Verlenging mogelijk'
                tooltip_message = 'Verlenging mogelijk'
            %]

            [% PROCESS generic_field
                label = 'Verlengingstermijn'
                fieldname = 'verlengingstermijn'
                validator_message = 'Verlengingstermijn'
                tooltip_message = 'Verlengingstermijn'
            %]

            [% PROCESS generic_field
                label = 'Verdagingstermijn'
                fieldname = 'verdagingstermijn'
                validator_message = 'Verdagingstermijn'
                tooltip_message = 'Verdagingstermijn'
            %]

            [% PROCESS generic_dropdown_field
                label = 'Wet dwangsom'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'wet_dwangsom'
                validator_message = 'Wet dwangsom'
                tooltip_message = 'Wet dwangsom'
            %]

            [% PROCESS generic_dropdown_field
                label = 'WKPB'
                dropdown_options = ['Nee', 'Ja']
                fieldname = 'wkpb'
                validator_message = 'WKPB'
                tooltip_message = 'WKPB'
            %]

            [% PROCESS generic_field
                label = 'e-Formulier'
                fieldname = 'e_formulier'
                validator_message = 'e-Formulier'
                tooltip_message = 'e-Formulier'
            %]

            
            <tr>
                <td class="td300">Extra informatie (magic strings)</td>
                <td class="td310">
                    <input
                    name="definitie.extra_informatie"
                    value="[% params.definitie.extra_informatie %]"
                    type="text" class="input_large" /></td>
                <td class="tdvar">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span>
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">
                            Maak hier eventueel gebruik van extra informatie van een zaak door gebruik te maken van een magic string.
                        </div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="td300">Trefwoorden</td>
                <td class="td310">
                    <input
                        type="text"
                        name="node.zaaktype_trefwoorden"
                        class="input_large"
                        value="[% params.node.zaaktype_trefwoorden %]"
                    />
                </td>
                <td class="tdvar">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span> De url van dit zaaktype is verplicht.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">Geef trefwoorden op zodat je er later op kunt zoeken om bij dit zaaktype uit kan komen</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td300">Omschrijving of toelichting</td>
                <td class="td310">
                    <input
                        type="text"
                        name="node.zaaktype_omschrijving"
                        class="input_large"
                        value="[% params.node.zaaktype_omschrijving %]"
                    />
                </td>
                <td class="tdvar">
                    <div class="validator rounded">
                        <div class="validate-tip"></div>
                        <div class="validate-content rounded-right">
                            <span></span> De url van dit zaaktype is verplicht.
                        </div>
                    </div>
                    <div class="tooltip-test-wrap">
                        <div class="tooltip-test rounded">Geef een omschrijving van dit zaaktype</div>
                        <div class="tooltip-test-tip"></div>
                    </div>
                </td>
            </tr>


                <tr>
                    <td>Wettelijke grondslag</td>
                    <td>
                        <input type="text" name="definitie.grondslag" class="input_large" value="[% params.definitie.grondslag %]" />
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                De grondslag geeft aan op welke gronden dit zaaktype bestaat, bijvoorbeeld een bepaalde Wet of verordening.
                            </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>

            [% PROCESS generic_field
                label = 'Lokale grondslag'
                fieldname = 'lokale_grondslag'
                validator_message = 'Lokale grondslag'
                tooltip_message = 'Lokale grondslag'
            %]

                
                <tr>
                    <th colspan="3" class="th_16px blue tussenkop">Monitoring</th>
                </tr>
                 
                <tr
                    class="ignore-field-definitie.afhandeltermijn_type">
                    <td>Doorlooptijd wettelijk</td>
                    <td>
                        [% PROCESS widgets/general/terms.tt
                            terms_name  = "definitie.afhandeltermijn"
                            terms_value = params.definitie.afhandeltermijn
                            terms_name_type = "definitie.afhandeltermijn_type"
                            terms_name_type_value = params.definitie.afhandeltermijn_type
                        %]
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Wettelijke afhandeltermijn. Deze termijn wordt toegepast voor het bepalen van de dagen die nog over zijn.
                            </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>
                               
                <tr
                    class="ignore-field-definitie.servicenorm_type">
                    <td>Doorlooptijd service</td>
                    <td>
                        [% PROCESS widgets/general/terms.tt
                            terms_name  = "definitie.servicenorm"
                            terms_value = params.definitie.servicenorm
                            terms_name_type = "definitie.servicenorm_type"
                            terms_name_type_value = params.definitie.servicenorm_type
                        %]
                    </td>
                    <td>
                        <div class="validator rounded">
                            <div class="validate-tip"></div>
                            <div class="validate-content rounded-right">
                                <span></span>
                            </div>
                        </div>
                        <div class="tooltip-test-wrap">
                            <div class="tooltip-test rounded">
                                Eigen gewenste afhandeltermijn van de organisatie. Deze kan dus afwijken van de wettelijke termijn.
                             </div>
                            <div class="tooltip-test-tip"></div>
                        </div>
                    </td>
                </tr>

                
            </tbody>
        </table>

  
        <div class="form-actions clearfix">
            <input type="button" name="goback" value="Annuleren" class="go_back button140 left" />
            
            <input type="submit" value="Volgende" class="button140 right" />
            <input name="destination" type="hidden" value="" />
            [% UNLESS params.create %]
            <input name="direct_finish" type="hidden" value="" />
            <input class="button140 grijs right ezra_direct_finish" value="Afronden" type="button" />
            [% END %]
        </div>


    </div>
</div>
</form>
</div>
