[% BLOCK import_dependency_group %]
    <div class="import_dependency import_group ezra_[% dependency_type %]">
        <div class="ezra_import_dependency_group_inner">
            <div class="import_title">
                <h3 class="[% dependency_type %]">[% dependency_titles.$dependency_type || dependency_type %]<span></span></h3>
            </div>
            <div class="import_group_inner">
                <div class="spinner-groot"><div></div></div>
                [% ids = import_dependencies.$dependency_type %]
                [% FOREACH id = ids.keys %]
                    [% dependency_item = ids.$id %]
                    <div class="import_dependency_item  import_item">
                    [% PROCESS beheer/zaaktypen/import/item.tt %]
                    </div>
                [% END %]
            </div>
        </div>
    </div>
[% END %]

<style>

.import_dependency_adjustment {
    display: none;
}
.ajaxreturncontainer { 
    display: none; 
}
.import_mintloader {
    width: 400px;
}
</style>

<div class="block clearfix import">
    <div class="header">Zaaktype importeren
        <a href="/beheer/zaaktypen/import/flush" class="knop no-icon in-header">Ander bestand importeren</a>
    </div>
    <div class="blockcontent">
        [% IF !zaaktype %]
        <form method="POST" enctype="multipart/form-data" class="zaaktype_import" action="/beheer/zaaktypen/import/upload">
            <input type="hidden" name="upload" value="1"/>
            <table class="marginbottom">
                <tr>
                <td class="td250">
                <strong>Selecteer een [% IF zaaktype %]ander [% END %]zaaktype bestand (.ztb):</strong>
                </td>
            
                <td><strong style="color:red;">[% dependency_error %]</strong>
                    [% PROCESS widgets/general/mintloader.tt 
                        veldoptie_name = 'file'
                        send_to_upload = 1
                    %]
                </td>

                
                
                <td>
                <div class="validator rounded invalid" [% IF error %]style="display:block;"[% END %]>
                
                    <div class="validate-tip"></div>
                    <div class="validate-content rounded-right">
                        <span></span>[% error %]
                    </div>
                
                </div>
                </td>
                </tr>
                </table>

                <div class="form-actions clearfix">
                 <input type="submit" class="ezra_import_do_upload button140 right" value="Volgende"/>
                </div>
                
            </div>
        [% ELSE %]
        <form method="POST" enctype="multipart/form-data" class="zaaktype_import" action="/beheer/zaaktypen/import">
        <br/>                
            <div style="font-size:24px;">
                Geselecteerd zaaktype: <strong>[% zaaktype.filename %]</strong>
                
            </div>
            <br/>

            <div class="import-uitleg"><div>Een zaaktype maakt gebruik van een aantal elementen zoals kenmerken en sjablonen. Om te voorkomen dat bij een import elementen dubbel in het systeem komen kun je gebruik maken van elementen die al aanwezig zijn.
            Hierdoor zijn er meer zoekmogelijkheden en blijft het systeem overzichtelijk. 
            Per element hoef je maar &eacute;&eacute;n keer op te geven hoe het geimporteerd moet worden.
            Hieronder staat een overzicht van alle elementen die het zaaktype gebruikt. Geef per element op of er een bestaand element of het meegeleverde nieuwe element gebruikt moet worden.
            </div>
            </div>
            <br/>

            [% USE Dumper %]
            [% dependency_titles = {
                BibliotheekSjablonen => 'Sjablonen',
                BibliotheekCategorie => 'Categorieen',
                BibliotheekKenmerken => 'Kenmerken',
                LdapRole => 'LDAP Rol',
                LdapOu => 'LDAP Organisatorische eenheid',
                Zaaktype => 'Zaaktypen',
            } %]

            [% PROCESS import_dependency_group
                dependency_type = 'Zaaktype'
            %]
            [% FOREACH dependency_type = import_dependencies.keys.sort %]
                [% UNLESS dependency_type == 'Zaaktype' || dependency_type == 'BibliotheekCategorie' %]
                    [% PROCESS import_dependency_group %]
                [% END %]
            [% END %]
            <div class="form-actions clearfix">
                <input type="submit" name="import" class="button140 right" value="Importeren"/>
            </div>
        [% END %]


        </form> 
    </div>
</div>
