[% IF c.debug && !invoke_assets_minified_request %]
    <!-- Served Template: [% c.stash.template %] -->
[% END %]
[%
    page_stylesheets = [];
    page_stylesheets.push('jquery.ui.css');
    page_stylesheets.push('jquery.treeTable.css');          # deelzaken tabel
    page_stylesheets.push('jquery.ui.selectmenu.css');      # custom select form element
    page_stylesheets.push('jquery.ui.multiselect.css');     # zaken zoeken kolommen selecteren
    page_stylesheets.push('jquery.qtip.css');               # tooltips
    page_stylesheets.push('jquery.layout.css');             # medewerkers & contact dashboard

    page_stylesheets.push('base.css');
    #page_stylesheets.push('helpers.css');
    page_stylesheets.push('grid.css');
    page_stylesheets.push('tables.css');
    page_stylesheets.push('forms.css');
    page_stylesheets.push('buttons.css');
    page_stylesheets.push('icons.css');
    #page_stylesheets.push('font-awesome.css');
    #page_stylesheets.push('spinners.css');
    #page_stylesheets.push('paginering.css');
    page_stylesheets.push('timeline.css');
    #page_stylesheets.push('zaakintake.css');
    page_stylesheets.push('zaaktypebeheer.css');
    page_stylesheets.push('zaakdossier.css');
    page_stylesheets.push('zaken-tabel.css');
    page_stylesheets.push('import.css');
    page_stylesheets.push('zaken-zoeken.css');
    page_stylesheets.push('contact.css');
    page_stylesheets.push('kennisbank.css');
    page_stylesheets.push('kcc.css');
    page_stylesheets.push('medewerkers.css');
    #page_stylesheets.push('kenmerken.css');
    page_stylesheets.push('config.css');
    page_stylesheets.push('media-queries.css');
-%]


    <link rel="stylesheet" type="text/css" href="/css/docs.css" />

[% IF c.debug && !invoke_assets_minified_request %]
<!-- Stylesheets -->
[% END %]

[% USE date %]
[% BLOCK css_invocation -%]
    [% IF !invoke_assets_minified -%]
        <link rel="stylesheet" href="[% c.uri_for('/tpl/zaak_v1/nl_NL') _
        '/css/' _ page_stylesheet _ '?' _
        c.config.SVN_VERSION %]" type="text/css" media="screen" />

    [%- ELSIF invoke_assets_minified_request %]
        [% minified_script_name = 'css/' _ page_stylesheet %]
        [% minified_script_name = minified_script_name %]
        [% INSERT $minified_script_name %]

    [%- END %]
[%- END %]

[% IF !invoke_assets_minified || invoke_assets_minified_request -%]
    [% FOREACH page_stylesheet IN page_stylesheets -%]
        [%- PROCESS css_invocation %]
    [%- END %]
[%- ELSE %]
        <link rel="stylesheet" href="[% c.uri_for('/tpl/zaak_v1/nl_NL/css/' _ PREFIX_MD5 _ '-common.css')
        %]" type="text/css" media="screen" />
[% END -%]
