<div class="noscript-notification jshide"><i></i><span>Javscript is uitgeschakeld. Schakel Javascript in voor een betere ervaring.</span></div>

<div class="custom_overlay">
    <div class="custom_overlay_loader"><img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/spinner-apple.gif" alt="Een ogenblik geduld..." /></div>
</div>
<div id="dialog">
    <div class="dialog-title"></div>
    <div class="dialog-content"></div>
</div>
