<!-- WIDGET: betrokkene/natuurlijk_persoon_create -->
[% IF wgt_config.post_button %]
<form
    method="POST"
    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
    class="submitWaiter zvalidate"
    >
    <input type="hidden" name="referer" value="[% c.req.uri %]" />
    [% IF betrokkene_edit %]
    <input type="hidden" name="betrokkene_edit" value="1" />
    <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
    [% END %]
[% END %]
<div class="wgt-betrokkene-natuurlijk_persoon_create">
    <table class="table_zaakinformatie">
        [% IF betrokkene_edit %]
        <tr class="table_zaakinformatie_tr">
            <td class="td300">Authentiek:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    <img src="/images/icon-betrokkene_gm.png" width="16" height="16">
                [% ELSE %]
                    <img src="/images/icon-betrokkene_zs.png" width="16" height="16">
                [% END %]
            </td>
            <td class="td300"></td>
        </tr>
        <tr class="table_zaakinformatie_tr">
            <td>Bron:</td>
            <td>
                [% IF betrokkene.authenticated %]
                    GBA
                [% ELSE %]
                    [% betrokkene.authenticatedby %]
                [% END %]
            </td>
            <td></td>
        </tr>
        [% END %]
        <tr>
            <td>BSN:</td>
            <td>
                <input
                    type="text"
                    name="np-burgerservicenummer"
                    class="input_medium"
                    value="[% betrokkene.burgerservicenummer %]">
                
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Voornamen:</td>
            <td>
                <input
                    type="text"
                    name="np-voornamen"
                    class="input_medium"
                    value="[% betrokkene.voornamen %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Tussenvoegsel:</td>
            <td>
                <input
                    type="text"
                    name="np-voorvoegsel"
                    class="input_mini"
                    value="[% betrokkene.voorvoegsel %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Achternaam:</td>
            <td>
                <input
                    type="text"
                    name="np-geslachtsnaam"
                    class="input_medium"
                    value="[% betrokkene.geslachtsnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Geslacht:</td>
            <td>
                <div class="clearfix">
                    <label>
                        <input
                            type="radio"
                            name="np-geslachtsaanduiding"
                            value="M"
                            [% (betrokkene.geslachtsaanduiding == 'M'
                                ? 'checked="checked"'
                                : ''
                                )
                            %]> Man
                    </label><br/>
                    <label>
                        <input
                            type="radio"
                            name="np-geslachtsaanduiding"
                            value="V"
                            [% (betrokkene.geslachtsaanduiding == 'V'
                                ? 'checked="checked"'
                                : ''
                                )
                            %]> Vrouw
                    </label>
                </div>
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Straat:</td>
            <td>
                <input
                    type="text"
                    name="np-straatnaam"
                    class="input_medium"
                    value="[% betrokkene.straatnaam %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Huisnummer:</td>
            <td>
                <input  type="text"
                        name="np-huisnummer"
                        class="input_medium"
                        value="[% betrokkene.huisnummer %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Huisnummer toevoeging:</td>
            <td>
                <input  type="text"
                        name="np-huisnummertoevoeging"
                        class="input_mini"
                        value="[% betrokkene.huisnummertoevoeging %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Postcode:</td>
            <td>
                <input  type="text"
                        name="np-postcode"
                        class="input_mini"
                        value="[% betrokkene.postcode %]"> 1234AZ
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Woonplaats:</td>
            <td>
                <input  type="text"
                        name="np-woonplaats"
                        class="input_medium"
                        value="[% betrokkene.woonplaats %]">
            </td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <!--
        <tr>
            <td>Telefoonnummer:</td>
            <td><input type="text" name="npc-telefoonnummer" class="input_medium">[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="npc-email" class="input_medium">[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Mobiel:</td>
            <td><input type="text" name="npc-mobiel" class="input_medium">[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        -->
        <tr>
            <td>Telefoonnummer:</td>
            <td><input type="text" name="npc-telefoonnummer" class="input_medium" value="[% betrokkene.telefoonnummer %]"></td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>Mobielnummer:</td>
            <td><input type="text" name="npc-mobiel" class="input_medium" value="[% betrokkene.mobiel %]"></td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input type="text" name="npc-email" class="input_medium" value="[% betrokkene.email %]"></td>
            <td>[% PROCESS widgets/general/validator.tt %]</td>
        </tr>
        
    </table>
    [% IF wgt_config.post_button %]
        <div class="form-actions">
            
           <input type="submit" value="Bijwerken" class="button140"/>
        </div>
    [% END %]
</div>
[% IF wgt_config.post_button %]
</form>
[% END %]
<!-- END WIDGET: betrokkene/natuurlijk_persoon_create -->
