<div class="checklist">
    <div class="inner">
        <ul>
            <li data-ng-repeat="item in checklistItems" class="checklist-item dossier-sidebar-item <[item.user_defined&&'user-defined-checklist-item'||'']> <[item.id==-1&&'checklist-item-pending'||'']> <[item.checked&&'checklist-item-checked'||'']>">
                <label>
                    <input type="checkbox" data-ng-model="item.checked" data-ng-change="$parent.updateItem(item)"
                    /><[item.label]>
                    <button data-ng-click="$parent.removeItem(item)" data-ng-show="!closed&&item.user_defined" class="icon icon-del"
                    title="Verwijder taak">
                        x
                    </button>
                </label>
            </li>
        </ul>
        <form data-ng-submit="$parent.addItem(label);label=''" data-ng-show="!closed">
            <input type="text" data-ng-model="label" data-ng-required="true" data-zs-placeholder="'Voeg hier een taak toe aan de checklist...'" />
        </form>
    </div>
</div>
