 
/* @group base */ 


.basic #logo {
    float: left;
    height: 71px;
    margin: 20px 0 20px 38px;
    width: 201px;
}
 

 /* @end */
 
 /* @group block */
 

 .blockcontent{
 	padding: 30px;
 }

 .block > .header,
 .pip-header {
 	background: #455560;
 	color: #fff;
 	height: 40px;
 	line-height: 1.9;
 }

	
.block.succes > .header{
	padding: 9px 30px;
	background: #455560;
	margin: 0;
	font-size: 22px;
	color: #fff;
}
 	
 		
 /* @end */
 
 
 
 
 
  
 /* @group Knoppen */
 
 /* @group knop */
  
 .knop{
 	border-color: #666;
 }
 
 .knop:hover{
 	border-color: #000;
 }
 
.webform_inner .knop{
 	border: 1px solid #BBBBBB;
 	border-bottom-color:#999;
 	border-top-color:#ccc;
 }
 
 
 
 /* @end */
   
 /* @group button140 */
 
/*
 .button140{background: #2c96d2;}
 .button140:hover{background: #32aff6;}
 .button140-prev{background: #455560;}
 .button140-prev:hover{background: #4f6574;}
*/
 
 
 /* @end */
 
 
 /* @group rci-ID */
 
 .id-knop.id-knop-testid{
 	border: 1px solid #222222;
 }
 
 
 .id-knop.id-knop-testid:hover{
 	background: rgb(85,85,85);
 	background: -moz-linear-gradient(top,  rgb(85,85,85) 0%, rgb(34,34,34) 100%);
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(85,85,85)), color-stop(100%,rgb(34,34,34)));
 	background: -webkit-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
 	background: -o-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
 	background: -ms-linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
 	background: linear-gradient(top,  rgb(85,85,85) 0%,rgb(34,34,34) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#222222',GradientType=0 );
 }
 
 .id-knop.id-knop-testid:active{
 	background: rgb(34,34,34);
 	background: -moz-linear-gradient(top,  rgb(34,34,34) 0%, rgb(68,68,68) 100%);
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(34,34,34)), color-stop(100%,rgb(68,68,68)));
 	background: -webkit-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
 	background: -o-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
 	background: -ms-linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
 	background: linear-gradient(top,  rgb(34,34,34) 0%,rgb(68,68,68) 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#444444',GradientType=0 );
 }
 
  
 /* @end */
 
 
 /* @end */
 
 /* @group pip */

.pip{
	padding: 20px 30px 25px;
}

.pip-header{
	display: block;
}

/* @end */
 

 
/* @group stappen  */
	
.stap.active {
	border-bottom-color: #2c96d2;
}

/* @end */


/* @group rci specific */

.rci-clear:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    width: 0;
}
#rci-list-logo {
    float: right;
    padding-top: 16px;
    padding-right:16px;
    list-style: none;
}

#rci-list-logo li {
    float: left;
    height: 53px;
    margin-right: 10px;
    width: 53px;
}

.rci-logo-infiniti {
    margin: 5px 30px 0 0 !important;
}

/* @end */