<div class="action ezra_objectsearch_product">
    <input type="hidden" name="existing.product_id" value="" />
    <label>
        Selecteer een product
        <input hidden-field="existing.product_id" type="text" name="existing.product_name" value="" placeholder="Type hier uw zoekterm" />
    </label>
</div>
