[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]


[% layout_type = 'simple' %]
<div class="block done">
    <div class="header"><h1>[% zaaktype.titel %]</h1></div>
    <div class="blockcontent">
        <div class="row">
            <div class="column large-12">
                <h2>Uw aanvraag is opgeslagen, maar nog niet ingediend.</h2>
            </div>
        </div>
        <div class="row">
            <div class="column large-7">        
                <p>
		    U kunt op een later moment uw aanvraag afronden door in te loggen in "Mijn [% c.config.gemeente.naam %]". Nog niet afgeronde aanvragen blijven maximaal 30 dagen bewaard.
                </p>
                
                <br/>
		<a href="[% c.uri_for('/pip') %]" title="Annuleren" class="button140 button140-anchor">Ga naar Mijn [% c.config.gemeente.naam %]</a>

            </div>
            
        </div>
    
    </div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]
