<div class="block">
    <div class="header">Toevoegen document</div>
    <div class="blockcontent">
        <input type="hidden" name="doc_intake_update" value="1" />
        <table class="no_margin form">
            <tbody>
            <tr>
                <td>Document:</td>
                <td>
                    <a href="[% c.uri_for('/zaak/intake/' _ dropdocument.id _ '/download') %]">
                        [% dropdocument.filename %]
                    </a>
                </td>
            </tr>

            <tr>
                <td>Zaakdocument:</td>
                <td>
                    <select name="intake_document_catalogus" class="select_zt_document zaakdefinitie_[% definitie.zaaktype_id.zaaktype_node_id.id %]">
                        <option value="">Geen</option>
                            [% documenten = definitie.zaaktype_kenmerken.scalar.search(
                                {
                                    'bibliotheek_kenmerken_id.value_type'    => 'file'
                                },
                                {
                                    'join'          => 'bibliotheek_kenmerken_id',
                                    'order_by'      => 'id',
                                }
                            ) %]
                        [% WHILE (cdocument = documenten.next) %]
                            <option value="[% cdocument.id %]" class="[% (cdocument.value_mandatory ? 'verplicht_document' : "") %][% (cdocument.pip ? ' pip_document' : '') %]"
                            [% (doc_intake.document_catalogus == cdocument.id ? ' selected="selected"' : '') %]
                            >
                                [% cdocument.naam %]
                            </option>
                        [% END %]
                    </select>
                </td>
            </tr>

            <tr class="table_zaakinformatie_tr">
                <td class="table_td_left_zaakinformatie">Omschrijving:</td>
                <td class="table_td_right_zaakinformatie">
                    <textarea cols="60" name="intake_document_help">[% doc_intake.document_help %]</textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
