Objectsearch test page

<br/>
<br/>
<form>
[% IF value %]
[% adres_object = c.model('DB::BagNummeraanduiding').search %]
[% adres_object.count %]
[% text_value = adres_object.first.woonplaats %]
[% END %]
<div class="ezra_objectsearch_address" style="border: 1px solid gray; padding:20px;">
	Adres:
	<input type="text" name="_helper_address_search" class="searchbox" style="width:300px;" value="[% text_value %]"/>
	<div class="error"></div>
	<!--input type="text" name="_helper_address_search_woonplaats" readonly="readonly"/-->
	<br/>
	<br/>
	<br/>
	<input type="text" name="address" style="width:300px; font-size:9px;" value="[% value %]"/>
</div>
<br/>

<div class="ezra_objectsearch_betrokkene" style="border: 1px solid gray; padding:20px;">
    Betrokkene:<br/>
	<input type="radio" name="betrokkene_type" value="natuurlijk_persoon" checked="checked"/> Natuurlijk persoon<br/>
	<input type="radio" name="betrokkene_type" value="bedrijf"/> Bedrijf<br/>
	<input type="text" name="_helper_betrokkene_search" class="searchbox" style="width:300px;" value="[% text_value %]"/>
	<span class="error"></span>
	<!--input type="text" name="_helper_address_search_woonplaats" readonly="readonly"/-->
	<br/>
	<br/>
	<br/>
	<input type="text" name="ztc_aanvrager_id" style="width:300px; font-size:9px;" value="[% value %]"/>
</div>


</form>