[% PROCESS beheer/zaaktypen/breadcrumb.tt %]

<div class="block mijlpaal_definitie form" id="mijlpalen_configureren">
    <form method="POST" action="[% formaction %]" class="ezra_zaaktypebeheer">
        <input type="hidden" name="zaaktype_update" value="1" />
        <input type="hidden" name="definitie_update" value="1" />

        <p class="header ztb-header">
        [% IF(zaaktype_id) %]
            <strong>[% params.node.titel %]</strong> -  
        [% ELSE %]
            Zaaktype aanmaken
        [% END %]
        Mijlpalen benoemen
        </p>
        <div class="blockcontent">
            <div class="ezra_ajax_widget">
                [%
                    PROCESS beheer/zaaktypen/milestone_definitie/ajax_table.tt
                %]
            </div>
            <div class="form-actions clearfix">
                <input type="submit" name="goback" class="button140 left" value="Vorige" />
                <input type="submit" class="button140 right" value="Volgende" />
                <input name="destination" type="hidden" value="" />
                [% UNLESS params.create %]
                <input name="direct_finish" type="hidden" value="" />
                <input class="button140 grijs right ezra_direct_finish" value="Afronden" type="button" />
                [% END %]
            </div>
            <a
            href="[% formaction %]"
            class="knop in-header ezra_ajax_action knop-bootstrap"
            rel="action: add"
            ><i class="icon icon-add"></i> Fase toevoegen</a>
        </div>
    </form>
</div>
