<div class="modal">
	<div class="modal-backdrop">
	</div>
	<div class="modal-body">
		<div class="modal-header clearfix">
			<div class="modal-title"><[title]></div>
			<button class="modal-close" data-ng-click="closePopup()">%%Sluit%%</button>
		</div>
		<div class="modal-content" data-ng-transclude></div>
	</div>
</div>