

[% BLOCK allocation_fields %]
    <tr>
        <td class="td-label">Huidige behandelaar</td>
        <td colspan="2">    
            [% IF selection == 'one_case' %]
                [% IF zaak.behandelaar && zaak.behandelaar.naam %]
                    [% zaak.behandelaar.naam %] 
                [% ELSE %]
                    [Niet in behandeling genomen]
                [% END %]
            [% ELSE %]
                [verschillende]
            [% END %]
        </td>
    </tr>
    <tr>
        <td class="td-label">Type toewijzing:</td>
        <td colspan="2">
            <input type="radio" name="change_allocation" class="ezra_change_allocation" value="behandelaar" checked="checked" /> <label for="ezra_change_allocation_behandelaar">Specifieke behandelaar</label>
            <br/>
            <input type="radio" name="change_allocation" class="ezra_change_allocation" value="group" /> <label for="ezra_change_allocation_group">Rol of afdeling</label>
            <br/>
        </td>
    </tr>
    [% behandelaar_label = BLOCK  %]
    [% END %]
    [% PROCESS widgets/search_betrokkene.tt
        label = 'Nieuwe behandelaar: '
        input_name = 'betrokkene_id'
        ezra_id         = 'ezra_id_behandelaar'
        selector_input  = 'behandelaar_type'
        input_name      = 'betrokkene_id'
    %]
        </td>
    </tr>
    
    <tr id="ezra_allocation_group" style="display:none;">
        <td class="td-label">Rol of afdeling:</td>
        <td colspan="2">
            <div class="ezra_allocation_settings ou_id role_id">
            [% PROCESS widgets/general/auth_select.tt
                AUTH_SELECT_OU_NAME             = 'ou_id'
                AUTH_SELECT_ROLE_NAME           = 'role_id'
                AUTH_SELECT_NO_GLOBAL           = 1
            %]
            </div>
        </td>
        <td>[% PROCESS widgets/general/validator.tt %]</td>
    </tr>
    [% IF selection == 'one_case' && template_available %]
    <tr id="ezra_send_notification">
        <td class="td-label">Verstuur e-mail:</td>
        <td colspan="2">
            <input type="checkbox" name="notify" value="1" checked="checked" />
        </td>
    </tr>
    [% END %]

    [% IF context %]
    <input type="hidden" name="context" value="[% context %]" />
    [% END %]

    [% IF context %]
    <input type="hidden" name="context" value="[% context %]" />
    [% END %]
[% END %]


[% BLOCK verlengen_fields %]
    <tr>
        <td class="td-label td200">Reden verlenging:</td>
        <td><input type="text" class="input_large" name="reden"/></td>
        <td>[% PROCESS widgets/general/validator.tt %]</td>
    </tr>
    <tr>
        <td class="td-label td200">Selecteer nieuwe streefafhandeldatum:</td>
        <td><input type="text" name="datum" value="[% veldoptie_value %]" class="veldoptie_datepicker" id="dp_[% veldoptie_name %]" /></td>
        <td>[% PROCESS widgets/general/validator.tt %]</td>
    </tr>
[% END %]


[% BLOCK opschorten_fields %]
    <tr>
    [% IF action == 'resume' || is_opgeschort %]
        <td class="td-label td200">Reden hervatten</td>
        <td>
            <input type="text" class="input_large" name="reden" />
        </td>
    [% ELSE %]
        <td class="td-label td200">Reden opschorting</td>
        <td>
            <input type="text" class="input_large" name="reden" />
        </td>
    [% END %]
        <td>[% PROCESS widgets/general/validator.tt %]</td>
    </tr>
[% END %]


[% BLOCK owner_fields %]
<!-- no params -->
[% END %]


[% BLOCK destroy_fields %]
    <tr style="display:none;">
        <td class="td-label td200">Meer info:</td>
        <td>
            <div class="ezra_selection_extra"></div>
        </td>
        <td></td>
    </tr>
[% END %]


[% BLOCK resume_fields %]
    [% PROCESS opschorten_fields %]
[% END %]


[% BLOCK relatie_fields %]
    <tr>
        <td class="td-label td250">Zaak zoeken</td>
        
        <td class="ezra_objectsearch_case">
            <input type="hidden" value="" class="ezra_selected_zaak_id" name="zaaknr"/>
            <input type="text" value="" class="searchbox input_large" placeholder="Type hier uw zoekterm"/>
        </td>
        <td>[% PROCESS widgets/general/validator.tt %]</td>
    </tr>
[% END %]



[% BLOCK set_settings_fields %]
    [% PROCESS zaak/widgets/set_settings_bulk.tt %]
[% END %]



<form action="[% IF zaak.id %]/zaak/[% zaak.id %]/update/[% action %][% ELSE %]/bulk/update/[% action %][% END %]" class="zvalidate ezra_listactions_form">
<input type="hidden" name="selected_case_ids" value="[% selected_case_ids %]"/>
<input type="hidden" name="search_query_id" value="[% search_query_id %]"/>
    <table class="opties beheeracties ">
        <tr class="vertical-align-top">
            <td class="td-label td200">Wijziging heeft betrekking op</td>
            <td>
                <input type="hidden" name="selection" value="[% selection %]"/>
                [% IF selection == 'one_case' %]
                    Zaak [% selected_case_ids %]
                [% ELSIF selection == 'selected_cases' %]
                    Geselecteerde zaken: [% selected_case_ids.split(',').join(', ')  | truncate(64) %]
                [% ELSIF selection == 'search_results' %]
                    [% IF search_query_id %]
                        Alle zaken in zoekselectie '<strong>[% search_query_name %]</strong>'
                    [% ELSE %]
                        Alle zaken in huidige zoekselectie 
                    [% END %]
                    ([% search_query.pager.total_entries %] zaken)
                [% END %]
            </td>
            <td>
                [% PROCESS widgets/general/validator.tt %]
            </td>
        </tr>
        [% blockname = action _ '_fields' %]
        [% PROCESS $blockname %]
    </table>
    <div class="form-actions">
        <input type="submit" name="commit" value="[% IF action == 'destroy' %]Vernietigen[% ELSIF action == 'relatie' %]Toevoegen[%ELSE %]Wijzigen[% END %]" class="button140">
    </div>
</form>
