/* @group base */

.documents {
	font-size: 1.077em !important;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.documents.ui-tabs-panel{
	padding: 0;
}

h3.document-list-title{
	margin-top: 15px;
	dibaselay: none;
}

.documents .document-component{
	padding: 1.5em;
	position: relative;
}

.documents button {
	padding: 0;
	margin: 0;
	cursor: pointer;
	font-family: helvetica,'helvetica neue',arial,sans-serif;
	color: #444;
	font-size: 0.786em;
}

.documents input[type="text"] {
	padding: 0;
	margin: 0;
	font: inherit;
	color: #444;
}

/* @end */

/* @group shiny button */

.shiny-btn{
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #aaa;
	background-color: #f5f5f5;
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 48%, #efefef 53%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(48%,#ffffff), color-stop(53%,#efefef), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 48%,#efefef 53%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 48%,#efefef 53%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 48%,#efefef 53%,#ededed 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 48%,#efefef 53%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	display: inline-block;
	margin-left: 4px;
}

.shiny-btn:hover{
	border-color: #888;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.shiny-btn:active{
	background: #e0e0e0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
}

/* @end */


/* @group top buttons */

.document-list:first-child {
	margin-top: 0;
}

.document-list-actions {
	margin: 0px 0 10px 0;
}

.document-list-actions > ul {
	list-style: none;
	text-align: right;
	width: 50%;
	display: inline-block;
	margin-right: -4px;
	vertical-align: middle;
}

.document-list-actions > ul:first-child {
	text-align: left;
}

.document-list-action:first-child {
	margin-left: 0;
}

.document-list-actions > ul > li > button{
	line-height: 27px;
	padding: 0 8px;
	width: 36px;
	height: 27px;
	border: none;
}

.document-list-actions > ul > li > form{
	margin: 0;
	padding: 0;
}

.document-list-search.document-list-action{
	background: none;
	box-shadow: none;
	border: none;
}

.document-list-actions button{
	background: url('../images/icons-docs.png') 3px -35px no-repeat;
	font-weight: bold;
}

.document-list-actions-left > li{
	float: left;
	margin: 0 0 0 -1px;
}

.document-list-actions-left > li:first-child{
	margin: 0;
	border-radius: 3px 0 0 3px;
}

.document-list-actions-left > li:last-child{
	border-radius: 0 3px 3px 0;
}

.document-list-actions-left > li > button{
	text-indent: -9999px;
	padding: 0 14px !important;	
}

.document-list-create-folder > button{
	background-position: -30px -35px;
}

.document-list-create-from-template > button{
	background-position: -62px -35px;
}

.document-list-trash,
.document-list-list{
	border-radius: 2px;
}

.document-list-trash button{
	padding-left: 28px !important;
	background-position: -97px -36px;
	width: auto !important;
}

.document-list-list button{
	padding-left: 25px !important;
	background-position: 0px -66px;
	width: auto !important;
}

.document-list-search input{
    background: url("../images/icon-filter.png") no-repeat scroll 8px center #fff;
    border-color: #bbb;
    color: #212121;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    padding: 0 6px 0 26px !important;
    text-decoration: none;
    box-shadow: 0 1px 1px #E6E6E6 inset, 0 1px 0 #F8F8F8;
    width: 140px;
    height: 27px !important;
    line-height: 27px !important;
    vertical-align: middle;
}

.document-list-search input:focus{
    background-color: #fff;
    border-color: #aaa;
    box-shadow: 0 0 2px #bbb;
}

/* @end */

/* @group action bar */

.action-bar {
	list-style: none;
	height: 48px;
	vertical-align: middle;
	/*display:;*/
}

.action-bar > li {
	display: inline-block;
	position: relative;
	/*padding: 9px 0 0;*/
	display: table-cell;
	vertical-align: middle;
	height: 48px;
}

.action-bar > li > button {
	border-radius:2px;
}

.action-bar > li > button,
.action-bar > li > div {
	margin-right: 6px;
	}

.action-bar > li > .action-bar-dropdown-menu {
	background: white;
	position: absolute;
	top: 39px;
	left: 0;
	min-width: 230px;
	z-index: 2;
}

.action-bar > li > div > ul{
	list-style: none;
	border: 1px solid #aaa;
	box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
}

.action-bar-dropdown-menu li {
	margin: 0;
	padding: 4px;
}

.action-bar-dropdown-menu li > button {
	line-height: 2.4;
	padding: 0 8px;
	font-size: 0.929em;
	white-space: nowrap;
	width: 100%;
	text-align: left;
}

.action-bar-dropdown-menu li > button:hover{
	background: #eee;
	cursor: pointer;
}

.action-bar-select {
	height: 32px;
	width: 40px;
	text-align: center;
	position:relative;
}

.action-bar-select input{
	position: relative;
}

.action-bar-dropdown-menu > ul {
	display: none;
}

.action-bar-dropdown-menu > ul.menu-open {
	display: block;
}

.action-bar-open-dropdown{
	width: 7px;
	height: 4px;
	background: url(../images/icons-docs.png) no-repeat -203px -79px;
	display: inline-block;
	margin: 0px 0 0 4px;
	vertical-align: middle;
	position: relative;
}

.action-bar-button{
	margin-right: 4px;
	font-size: 0;
}

.action-bar > li > button,
.action-bar > li > div > button,
.action-bar > li > div > a {
	vertical-align: middle;
	font-weight: bold;
	border:1px solid #b9b9b9;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e9e9e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e9e9e9));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e9e9e9 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0 );
	padding: 0 8px;
	color: #444;
	font-size: 11px;
	height: 30px;
}

.action-bar > li > button:hover,
.action-bar > li > div > button:hover,
.action-bar > li > div > a:hover {
	background: #f5f5f5;
	background: -moz-linear-gradient(top,  #f5f5f5 0%, #e0e0e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e0e0e0));
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -o-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: -ms-linear-gradient(top,  #f5f5f5 0%,#e0e0e0 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=0 );
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	border-color: #999;
}

.action-bar > li > button:active,
.action-bar > li > div > button:active,
.action-bar > li > div > button:active {
	background: #e0e0e0;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	border-color: #999;
}

.action-bar-dropdown-menu button{
	font-size: 0.929em;
	line-height: 1.6;
	font-family: helvetica;
}

.action-bar-dropdown-split-button > div{
}

.action-bar-dropdown-split-button > div > div:hover{
	cursor: pointer;
}

.action-bar-dropdown-split-button > div .action-bar-open-dropdown{
	margin-left: 0;
}

.action-bar-dropdown-toggle{
	border-left: 1px solid #BBBBBB;
	display: inline-block;
	width: 22px;
	border-radius: 0 2px 2px 0;
	margin-left: -1px !important;
	padding: 0 !important;
}

.action-bar-dropdown-toggle > .action-bar-open-dropdown{
	margin: 0;
}

.action-bar-button .action-bar-button-label {
	display: inline-block;
	border-radius: 2px 0 0 2px;
	margin: 0;
}

/* @end */



/* @group row */

.list-view {
	font-size: 1em;
	list-style: none;
}

.list-view-col-state-desc,
.list-view-col-state-asc{
	font-size: 0.571em;
	line-height: 1;
}

.list-view-table-header {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.list-view-col {
	cursor: pointer;
}

.list-view-table-header > .list-view-entity-highlight {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;	
}

.list-view-table-header > div {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-view-list {
	list-style: none;
	width: 100%;
}

.list-view-entity-highlight,
.new-entity-options-row {
	display: table;
	table-layout: fixed;
	width: 100%;
	cursor: pointer;
	border-collapse: collapse;
}

.list-view-entity-highlight > div,
.new-entity-options-row > div {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.list-view-entity-options {
	width: 24px;
	text-align: center;
}

.list-view-depth-padding {
	width: 5px;
}

.list-view-entity-title {
	width: 100%;
	padding: 0 8px 0 0;
}

.list-view-entity-name > span,
.list-view-entity-name > input {
	display: inline;
}

.list-view-entity-name > span {
	padding-bottom: 2px;
	border-bottom: 2px solid transparent;
}

.list-view-entity-name > span:hover {
	text-decoration: underline;
}

.list-view-entity-edit, .list-view-entity-type{
	font-size: 0.929em;
}

.list-view-entity-type {
	width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-view-entity-type-ext{
	color: #aaa;
}

.list-view-entity-edit {
	width: 220px;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list-view-entity-edit .list-view-entity-label > span{
	margin: 0;
}

.list-view-entity-edit .list-view-entity-label > span:hover{
	cursor: pointer !important;
}

.list-view-entity-edit-revised {}

.list-view-entity-edit-revised:hover {
	text-decoration: none;
}

.list-view-entity-actions {
	width: 85px;
}

.list-view-entity-highlight > div{
	height: 48px;
	padding: 0 8px;
}

.list-view-list > li{
	display: block;
	margin: 0;
	padding: 0;
}

.list-view-entity-info{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin: 0 0 -1px 0;
	font-size:1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-view-entity-info:hover,
.list-view-entity-info.entity-selected  {
	border-color: #c6d8e4;
	background: #f7fcff;
}

.list-view-entity-info:hover,
.list-view-entity-info.entity-selected{
	z-index: 1;
	position: relative;	
}

.list-view-entity-title > .list-view-entity-title-text > div,
.list-view-entity-title > .list-view-entity-icon{
	display: inline;
	line-height: 48px;
	margin-right: 4px;
}

.list-view-entity-title-text .list-view-entity-label span{
	margin: 0;
}

.list-view-table-header {
	font-size: 0.929em;
	font-weight: bold;
}

.action-bar,
.list-view-table-header,
.list-view-root.list-view-entity-info {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background: #f9fafa;
	border: 1px solid #a9a9a9;
	border-right: none;
	border-left: none;
	position: relative;
	z-index: 3;
	margin: 0 0 -1px;
}

.list-view-root.list-view-entity-info {
	z-index: 2;
}

.list-view-root.list-view-entity-info .list-view-entity-title {
	padding-left: 12px;
}

/*.entity-accepted .list-view-entity-info {
	background: rgb(255, 255, 204);
}*/

.list-view-sort:hover{
	background: #eee;
}

.list-view-entity-desc{
	color: #999;
	font-size: 0.929em;
}

.list-view-entity-title{}

.list-view-entity-title > .list-view-entity-title-text{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-view-entity-title input{
	padding: 4px !important;
	width: 50%;
	height: auto !important;
	line-height: 14px !important;
}

.file-list-empty-notice{
	height: 48px;
	line-height: 48px;
	color: #999;
	font-style: italic;
	text-indent: 15px;
	margin: 1px 0 0;
	/*border-bottom: 1px solid #eee;*/
}

.list-view-list > li > ul > .file-list-empty-notice{
	text-indent: 45px;
}

.list-view-entity-edit-user{
	color: #aaa;
}

.object-type > .list-view-row > .list-view-entity-highlight {
	-webkit-transition: background 0.5s 0.5s ease;
	-moz-transition: background 0.5s 0.5s ease;
	-o-transition: background 0.5s 0.5s ease;
	-ms-transition: background 0.5s 0.5s ease;
	transition: background 0.5s 0.5s ease;
}

.object-type-updating > .list-view-row > .list-view-entity-highlight {
	border-color: rgba(0,0,0,0.15);
	background: #ffffcc;
	-webkit-transition: background 0.15s ease;
	-moz-transition: background 0.15s ease;
	-o-transition: background 0.15s ease;
	-ms-transition: background 0.15s ease;
	transition: background 0.15s ease;
}

.object-type > .list-view-row:hover {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}


/* @end */



/* @group drag & drop */

.documents .drag-over.document-component{
	padding: 1em;
	border: 0.5em solid #5b696f;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.drop-zone-feedback{
	display: none;
	background: #5b696f;
	color: #fff;
	padding: 0 12px 8px 12px;
	position: absolute;
	top: 0;
	left: 50%;
	min-width: 250px;
	text-align: center;
	margin-left: -125px;
	font-size:0.786em;
	font-weight: bold;
	z-index: 100;
}

.drag-over .drop-zone-feedback{
	display: block;
}

.drag-over > div.list-view-row,
.drag-over.list-view-root{
	background: #e5fdd0;
	border-color: #76A477;
	z-index: 1;
	position: relative;
}

.as-drag-image {
	position: fixed;
	z-index: 100;
}

.drag-image {
	border: 1px solid #ababab;
	background-color: #d9eefb;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	position: fixed;
	z-index: 100;
	padding: 0 10px 0 5px;
}

.drag-mimetype-icon[data-mimetype],
.drag-mimetype-icon {
	display: inline-block;
	background: url(../images/icons-docs.png) no-repeat;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	line-height: 32px;
}

.drag-label {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
}

.drag-mimetype-icon[data-mimetype="text/plain"],
.drag-mimetype-icon[data-mimetype="rtf"] { background-position: -32px 0; }
.drag-mimetype-icon[data-mimetype="vnd.ms-word"],
.drag-mimetype-icon[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] { background-position: -64px 0; }
.drag-mimetype-icon[data-mimetype="vnd.oasis.opendocument.text"] { background-position: -96px 0; }
.drag-mimetype-icon[data-mimetype="pdf"] { background-position: -128px 0; }
.drag-mimetype-icon[data-mimetype="jpg"],
.drag-mimetype-icon[data-mimetype="jpeg"] { background-position: -160px 0; }
.drag-mimetype-icon[data-mimetype="png"] { background-position: -192px 0; }
.drag-mimetype-icon[data-mimetype="gif"] { background-position: -224px 0; }
.drag-mimetype-icon[data-mimetype="vnd.ms-excel"],
.drag-mimetype-icon[data-mimetype="vnd.openxmlformats-officedocument.spreadsheetml.sheet"] {background-position: -384px 0;}

/* @end */

/* @group intake */

.document-list-intake-header h4{
	margin-bottom: 0;
}

.document-list-intake-header p{
	margin-bottom: 5px 0 10px;
}

.document-list-intake{
	border-bottom: 1px dashed #CCCCCC;
	margin: 0 -1.5em 1.5em;
	padding: 0 1.5em 25px;
}

.global-document-intake .document-list-intake{
	border: none;
	margin: 0 -1.5em;
}

.new-entity-options .button140{
	margin:0px 0 20px 175px;
}

.document-list-intake .list-view-entity-info{
	border-color: rgba(0,0,0,0.15);
	background: #ffffcc;
}

.list-view-entity-actions button{
	text-indent: -9999px;
	width: 28px;
	height: 26px;
	position: relative;
	float: left;
	margin: 0 0 0 -1px;
}

.list-view-entity-actions button:first-child{
	border-radius: 2px 0 0 2px;
}

.list-view-entity-actions button:last-child{
	border-radius: 0 2px 2px 0;
}

.list-view-entity-actions button:hover{
	z-index: 1;
}

.list-view-entity-actions button span{
	background: url(../images/icons-docs.png) no-repeat;
	background-position: -356px -36px;
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -12px;
}

.list-view-entity-actions .intake-document-reject span{
	background-position: -388px -36px;
}

.list-view-entity-actions .intake-document-edit span{
	background-position: -420px -36px;
}

.list-view-entity-actions .intake-document-register span{
	background-position: -324px -68px;
}

.list-view-entity-actions .intake-document-assign span{
	background-position: -356px -68px;
}

.document-list-intake .list-view-entity-info:hover{
	background: #ffffac;
	border-color: #c8c857;
}

.icon-integrity-ok{background-position: -201px -105px;}
.icon-integrity-not-ok{background-position: -233px -105px;}

/* @group nieuw document opties */

.new-entity-options{
	position: relative;
	background: #ffffe2;
	border: 1px solid #c4c4bd;
	border-right: none;
	border-left: none;
}

.new-entity-options .inner{
	padding: 10px;
	overflow: hidden;
}

.new-entity-options-row{
	font-size: 0.929em;
	margin: 18px 0;
}

.new-entity-options-row-version{
	margin: 0;
}

.new-entity-options-row > div{
	vertical-align: top;
	height: auto;
}

.new-entity-options-label{
	width: 160px;
	text-align: right;
	padding: 0 15px 0 0;
	font-weight: bold;
}

.modal .new-entity-options-field{
	width: 350px;
}

.modal .new-entity-options-field label{
	display: block;
}

.new-entity-options label > input{
	margin: 6px 7px 6px 0;
}

.new-entity-options label{
	display: block;
}

.new-entity-options input[type=text]{
	padding: 5px;
	width:300px;
}

.new-entity-active{
	width: 16px;
	height: 8px;
	background: url(../images/icons-docs.png) no-repeat -233px -78px;
	position: absolute;
	right: 17px;
	top: -1px;
	z-index: 3;
}


/* @end */


/* @end */


/* @group icons */

.list-view-entity-icon{
	margin-right: 10px !important;
	float: left;
	position: relative;
	height: 48px;
	line-height: 48px;
}

.list-view-entity-icon > div{
	background: url(../images/icons-docs.png) no-repeat;
	width: 32px;
	height: 32px;
	position: relative;
	margin-top: -16px;
	top: 50%;
}

.icon-docs{
	background-image: url(../images/icons-docs.png);
	background-repeat: no-repeat;
}

.object-type-file .the-icon{background-position: 0 0;}
.object-type-folder .the-icon{background-position: -320px 0;}
.object-type-folder .folder-collapsed .the-icon{background-position: -288px 0;}
.object-type-folder .object-type-file .folder-collapsed .the-icon,
.object-type-folder .object-type-file .the-icon{background-position: 0 0;}


.object-type-file[data-mimetype="text/plain"] .the-icon,
.object-type-file[data-mimetype="rtf"] .the-icon { background-position: -32px 0; }
.object-type-file[data-mimetype="vnd.ms-word"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] .the-icon { background-position: -64px 0; }
.object-type-file[data-mimetype="vnd.oasis.opendocument.text"] .the-icon{ background-position: -96px 0; }
.object-type-file[data-mimetype="vnd.oasis.opendocument.spreadsheet"] .the-icon {background-position: -448px 0; }
.object-type-file[data-mimetype="pdf"] .the-icon { background-position: -128px 0; }
.object-type-file[data-mimetype="jpg"] .the-icon,
.object-type-file[data-mimetype="jpeg"] .the-icon { background-position: -160px 0; }
.object-type-file[data-mimetype="png"] .the-icon { background-position: -192px 0; }
.object-type-file[data-mimetype="gif"] .the-icon { background-position: -224px 0; }
.object-type-file[data-mimetype="vnd.ms-excel"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.spreadsheetml.sheet"] .the-icon{background-position: -384px 0;}
.object-type-file[data-mimetype="vnd.ms-powerpoint"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.presentationml.presentation"] .the-icon{background-position: -416px 0;}



.object-type-folder .open .the-icon { background-position: -320px 0; }
.object-type-folder .collapsed .the-icon { background-position: -288px 0; }



/* @end */


/* @group preview */

.list-view-entity-icon > div.the-eye{
	background-position: -288px -32px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 32px;
	height: 32px;
	z-index: 100;
}

.document-list-intake .list-view-entity-icon > div.the-eye{
	background-position: -320px -32px;
}

.file-preview {
	position: fixed;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.15s 0.25s ease;
	-moz-transition: opacity 0.15s 0.25s ease;
	-o-transition: opacity 0.15s 0.25s ease;
	-ms-transition: opacity 0.15s 0.25s ease;
	transition: opacity 0.15s 0.25s ease;
	height: 324px;
	width: 249px;
	margin-left: -14px;
	padding-bottom: 4px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] {
	margin-left: 14px;
}

.file-preview-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.15s 0s ease;
	-moz-transition: opacity 0.15s 0s ease;
	-o-transition: opacity 0.15s 0s ease;
	-ms-transition: opacity 0.15s 0s ease;
	transition: opacity 0.15s 0s ease;
}

.file-preview-content {
	width: 220px;
	padding: 8px;
	height: 304px;
	background: #fff;
	border: 1px solid #aaa;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	position: absolute;
	z-index: 0;
	left: 0;
}

.file-preview-arrow {
	position: absolute;
	z-index: 1;
	width: 13px;
	height: 20px;
	background: url(../images/icons-docs.png) no-repeat -266px -38px;
	right: 0;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] > .file-preview-content {
	left: 13px;
}

.file-preview[data-zs-file-preview-horizontal-orientation="right"] > .file-preview-arrow {
	left: 5px;
	background: url(../images/icons-docs.png) no-repeat -234px -38px;
}

/* @end */


/* @group label */

.case-documents-bar{
	padding: 6px 5px 2px;
	background: #f2f2f2;
	border-top: 1px solid #bbb;
}

.case-documents-bar > ul{
	float: left;
}

.case-documents-bar > ul > li.case-documents-bar-title{
	display: inline-block;
}

.case-documents-bar > ul > li > small{
	font-size: 0.786em;
	font-weight: bold;
	color: #888;
	margin: 0 5px;
}

.case-documents-bar > ul{
	list-style: none;
}

.list-view-entity-label,
.list-view-entity-title div.list-view-entity-label{
	display: inline-block;
	line-height: 1;
}

/*.ie8 .case-documents-bar .list-view-entity-label{
	float: left;
}*/

.list-view-entity-label span{
	background: #5b696f;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 0.786em;
	font-weight: bold;
	display: inline-block;
	line-height: 14px;
	margin-right: 4px;
	margin-bottom: 4px;
}

.list-view-entity-label span.new,
.list-view-entity-label.list-view-entity-label-revision span,
.list-view-entity-label.list-view-entity-label-revision span:hover{
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.35);
}	

.list-view-entity-label span:hover{
	background: #414b4f;
	cursor:move;
}

.list-view-entity-label span button{
	border: none;
	background: none;
	text-align: center;
}

.list-view-entity-label span button i{
	font-style: normal;
	opacity: 0.5;
	margin: 0 0 0 5px;
	padding:0 3px;
	font-weight: normal;
	font-size:1.3em;
	color: #fff;
}

.list-view-entity-label span button:hover i{
	opacity: 1;
}

/*.case-doc-type-assigned span, .case-doc-type-assigned span:hover{
	background: #d5d5d5;
	color: #888;
}*/


/* @end */









/* @group progress bar */

.document-upload-component {
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	-moz-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	-ms-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	-o-transition: opacity 0.5s 10s ease, visibility 0s 10s;
	transition: opacity 0.5s 10s ease, visibility 0s 10s;
	position: fixed;
	width: 534px;
	height: 3.5em;
	background: #d1eafc;
	border: 1px solid #7d93a2;
	bottom: -1px;
	left: 50%;
	margin-left: -275px;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	padding: 1em;
	font-size: 0.786em;
	font-weight: bold;
	color: #515e63;
	z-index: 100;
}

.document-upload-component.document-upload-component-error{
	height: auto;
}

.document-upload-component-visible {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	-ms-transition: opacity 0.25s ease;
	-o-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;
}

.doc-ul-progress-bar{
	border: 1px solid #7d93a2;
	background: #fff;
	padding: 1px;
	height: 0.929em;
	margin-bottom: 4px;
}

.doc-ul-progress-bar-inner{
	background: #328fce url(../images/doc-ul-progress-bar-bg.png);
	background-position: 0 -10px;
	height: 0.929em;
	-webkit-transition: width 0.15s ease, background-position;
	-moz-transition: width 0.15s ease;
	-ms-transition: width 0.15s ease;
	-o-transition: width 0.15s ease;
	transition: width 0.15s ease;
}

.doc-ul-progress-info{
	padding: 0 2px;
}

.doc-ul-progress-result{
	height: 4em;
	display: table-cell;
	vertical-align: middle;
}

.doc-ul-progress-result.doc-ul-progress-result-error{
	height: auto;
}

.doc-ul-progress-result > div{
	padding: 0 10px 0 5px;
}

.doc-ul-progress-result > div > i{
	vertical-align: middle;
	margin-right: 2px;
	background-image:url("../images/icons-docs.png");
	display: inline-block;
	width: 24px;
	height: 24px;
}

.doc-ul-progress-done > i{
	background-position: -356px -36px;
}

.doc-ul-progress-error > span{
	color: red;
}

.doc-ul-progress-error > i{
	background-position: -388px -68px;
}


/* @end */



/* @group version control popup */

.version-control{
	width: 820px;
}

.version-control ul{
	height: 180px;
	overflow: auto;
	border: 1px solid #bbb;
	background: #f9f9f9;
}

.version-control h3{
	font-size: 1em;
	color: #444;
	line-height: 2;
	margin-top: 10px;
}

.version-control h3:first-child{
	margin-top: 0;
}

.version-control li{
	padding: 11px;
	border-bottom: 1px solid #ddd;
	list-style: none;
	line-height: 22px;
}

.version-control li span{
	color: #aaa;
}

.version-control li span .divide{
	margin: 0 2px;
}

.version-control li:hover{
	background: #f2f2f2;
	cursor: pointer;
}

.version-control span.current-version-message{
	margin:0 5px;
	color: #000;
	font-weight: bold;
}

/* @end */

/* @group context menu */

.doc-dropdown-menu {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	color: black;
	z-index: 100 !important;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.25);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	padding: 6px 0;
	min-width: 230px;
}

.doc-dropdown-menu ul {
	list-style: none;
}

.doc-dropdown-menu li {
	padding: 0;
	margin: 0;
}

.doc-dropdown-menu .doc-dropdown-menu-item{
	border: none;
	padding: 6px 0 6px 14px;
	background: transparent;
	line-height: 1.4;
	width: 100%;
	font-size: 12px;
	text-align: left;
	font-family: helvetica;
	color:#333;
	display: inline-block;
	box-sizing:border-box;
}

.doc-dropdown-menu span.doc-dropdown-menu-item{
	background: url(../images/icons-docs.png) no-repeat 204px -99px;
}

.doc-dropdown-menu .doc-dropdown-menu-item:hover,
.doc-dropdown-menu .element-menu-open > .doc-dropdown-menu-item {
	color: #fff;
	background: rgb(92,106,112);
	cursor: pointer;
}

.doc-dropdown-menu > ul > hr {
	border: 0;
	height: 1px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #ebebeb;
}

.case-type-doc button{
	padding-left: 35px !important;
	position: relative;
}

.case-type-doc.case-type-doc-active button i{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 10px;
	background:url(../images/icons-docs.png) no-repeat -360px -40px;
}

.case-type-doc.case-type-doc-active button{
	background: #f0f0f0;
}


/* @end */

/* @group helpers */

/*.notification-count{
	position: absolute;
	top: -5px;
	right: -5px;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #ff2b25;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	text-align: center;
	font-weight: bold;
	z-index: 1;
	line-height: 19px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}*/

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2999;
	text-align: center;
	
}

.modal-backdrop{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:#000;
	opacity: 0.5;
	filter:Alpha(Opacity=50);
	position: fixed;
}

.modal-body {
	background-color: white;
	display: inline-block;
	text-align: left;
	box-shadow: 0 0 20px #222;
	-webkit-box-shadow: 0 0 20px #222;
	position: relative;
	z-index: 1;
	top: 70px;
}

.modal-header{
	background-color: #f7f7f7;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	position: relative;
}

.modal-title{
	margin: 1.15em 45px 1.15em 1.3em;
	float: left;
	font-size: 1.231em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.modal-content{
	padding: 10px 20px 20px;
	max-height: 450px;
	overflow: auto;
}

.modal-close{
	position: absolute;
	right: 14px;
	top: 50%;
	width: 24px;
	margin: -12px 0 0;
	height: 24px;
	border: none;
	background: none;
	background: url(../images/dialog-close.png) no-repeat center center;
	text-indent: -9999px;
}

.modal-close:hover{
	cursor: pointer;
	background-color: #eee;
}

.title-tooltip {
	z-index: 4000;
	position: relative;
}

.title-tooltip[data-zs-title-registration="top"] {
	margin-top: -8px;
}

.title-tooltip-content{
	background: black;
	color: white;
	padding:3px 10px;
	border-radius: 3px;	
	white-space: nowrap;
	font-size: 0.846em;
}

.title-tooltip-arrow{
	position: absolute;
	width: 7px;
	height: 4px;
	background: url(../images/icons-docs.png) no-repeat -173px -79px;
	left: 50%;
}

.tooltip-hidden {
	opacity: 0;
	filter: alpha(opacity = 0);
	-webkit-transition: opacity 0.15s ease;
	-moz-transition: opacity 0.15s ease;
	-o-transition: opacity 0.15s ease;
	-ms-transition: opacity 0.15s ease;
	transition: opacity 0.15s ease;
}

.tooltip-visible {
	opacity: 1;
	filter: alpha(opacity = 100);
}

[data-zs-dropdown-menu] > ul {
	display: none;
}

[data-zs-dropdown-menu] > ul.menu-open {
	display: block;
}

[data-zs-hover-menu] {
	position: relative;
}

[data-zs-hover-menu] > ul {
	display: none;
	list-style: none;
	position: absolute;
	width: 100%;
}

[data-zs-hover-menu] > ul.menu-open {
	display: block;
}

.doc-context-menu [data-zs-hover-menu] ul {
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.25);
	background: white;
	padding: 4px 0;
	border: 1px solid #ccc;
}

.context-menu-overlay{
	z-index: 99;
}

.docs-inner-scroll-inner > div{
	position: absolute;
	top: 36px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.inline-form {
	display: inline;
}

.modal-content form{
	width: 550px;
}

[data-ng-upload] {
	position: relative;
	overflow: hidden;
}

[data-ng-upload] > form {
	opacity: 0;
	filter: alpha(opacity = 0);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

[data-ng-upload] > form > input[type="file"] {
	height: 100%;
	width: 100%;
}

.action-bar-button[data-ng-upload] > form {
	top: 8px;
}

.doc-context-menu [data-zs-file-api-supported="false"] {
	display: none;
}


/* @end */