<div data-ng-controller="nl.mintlab.core.crud.CrudInterfaceController" class="crud">

	<table data-ng-controller="nl.mintlab.core.crud.CrudTableController" class="crud-table">

		

		<thead data-ng-class="{ 'crud-hidden': selectedItems.length }" class="crud-header">
			<tr class="crud-table-head-row">
				<th class="crud-table-select-cell">
					<input type="checkbox" data-ng-click="handleSelectAllClick($event)" data-ng-checked="isAllSelected(item)"/>
				</th>

				<th class="crud-table-column-header" data-ng-repeat="column in columns">
					<button data-ng-click="sortOn(column)">
						<span class="column-label"><[column.label]></span>
						<span class="column-sort-asc column-sort" data-ng-show="isSortedOn(column)&&reversed">&#9650;</span>
						<span class="column-sort-desc column-sort" data-ng-show="isSortedOn(column)&&!reversed">&#9660;</span>
					</button>
				</th>
			</tr>
		</thead>

		<thead data-ng-class="{ 'crud-hidden': !selectedItems.length }" class="crud-actions">
			<tr class="crud-table-head-row">
				<th class="crud-table-select-cell">
					<input type="checkbox" data-ng-click="handleSelectAllClick($event)" data-ng-checked="isAllSelected()"/>
				</th>
				<th class="crud-table-action-cell" colspan="<[columns.length]>">
					<ul data-ng-include="'/html/core/crud/action-menu.html'">
					</ul>
				</th>
				
			</tr>
		</thead>

		<tbody data-zs-selectable-list="options.select">
			<tr class="crud-table-item-row" data-ng-repeat="item in items | orderBy:getSortValue:reversed" data-zs-selectable data-zs-select-data="item" data-zs-contextmenu="'/html/core/crud/context-menu.html'">
				<td class="crud-table-select-cell" data-ng-show="options.select">
					<input type="checkbox" data-ng-checked="isSelected(item)"/>
				</td>
				<td class="crud-table-value-cell" data-ng-repeat="column in columns" data-ng-include="'/html/core/crud/col-display-' + (column.template && 'template' || 'default' ) + '.html'">
				</td>
			</tr>
		</tbody>
	</table>

</div>

<script type="text/ng-template" id="/html/core/crud/action-menu.html">
	<li class="crud-action" data-ng-repeat="action in actions" data-ng-include="'/html/core/crud/action-type-' + action.type + '.html'" data-ng-show="<[action.when||'true']>">
	</li>
</script>

<script type="text/ng-template" id="/html/core/crud/action-type-delete.html">
	<button data-ng-click="delete()">
		<[action.label]>
	</button>
</script>

<script type="text/ng-template" id="/html/core/crud/action-type-popup.html">
	<button data-zs-popup="'/html/core/crud/popup-modal.html'" data-ng-click="openPopup()">
		<[action.label]>
	</button>
</script>

<script type="text/ng-template" id="/html/core/crud/popup-modal.html">
	<div data-zs-modal data-zs-init="title=action.data.title">
		<div data-ng-include="action.data.url">
		</div>
	</div>
</script>

<script type="text/ng-template" id="/html/core/crud/col-display-default.html">
	<div>
		<[getColumnValue(column, item)]>
	</div>
</script>

<script type="text/ng-template" id="/html/core/crud/col-display-template.html">
	<div data-zs-template="column.template">
	</div>
</script>

<script type="text/ng-template" id="/html/core/crud/context-menu.html">
	<ul class="context-menu crud-context-menu" data-ng-include="'/html/core/crud/action-menu.html'">
	</ul>
</script>