[% IF
    veldoptie_type == 'bag_adres' ||
    veldoptie_type == 'bag_adressen' ||
    veldoptie_type == 'bag_straat_adres' ||
    veldoptie_type == 'bag_straat_adressen' ||
    veldoptie_type == 'bag_openbareruimte' ||
    veldoptie_type == 'bag_openbareruimtes'
%]
    [% IF !veldoptie_value %]-[% END %]
    [% FOREACH value IN veldoptie_value %]
        [%
            c.model('Gegevens::Bag').bag_human_view_by_id(value)
            %]
        <!--([% value %])--><br />
    [% END %]
[% ELSIF veldoptie_type == 'image_from_url' %]
    [% UNLESS veldoptie_value.length %]
    <span>-</span>
    [% ELSE %]
    <img src="[% veldoptie_value %]" />
    [% END %]
[% ELSE %]
    [% IF veldoptie_value.0.defined %]
        <ul>
        [% FOREACH veldvalue IN veldoptie_value %]
            [% IF veldoptie_type.match('^valuta') %]
                [% veldvalue = veldvalue.replace(',','.') %]
                [% veldvalue = veldvalue | format('%01.2f') %]
                [% veldvalue = veldvalue.replace('\.',',') %]
            [% END %]

            [% IF veldoptie_type == 'file' %]
                [% veldvalue = veldvalue.filename %]
            [% END %]

            [% UNLESS veldvalue.length %]
                [% veldvalue = '-' %]
            [% END %]

            <li>[% veldvalue | html_line_break %]</li>
        [% END %]
        </ul>
    [% ELSIF veldoptie_type == 'richtext' %]
        [% IF veldoptie_value.length == 0 %]
            <span>[% veldoptie_value = '-' %]</span>
        [% END %]
        <div class="rijke-tekst">
            [% veldoptie_value %]
        </div>
    [% ELSE %]
        [% IF veldoptie_type.match('^valuta') %]
            [% veldoptie_value = veldoptie_value.replace(',','.') %]
            [% veldoptie_value = veldoptie_value | format('%01.2f') %]
            [% veldoptie_value = veldoptie_value.replace('\.',',') %]
        [% END %]

        [% UNLESS veldoptie_value.length && veldoptie_value.defined %]
            <span>-</span>
        [% ELSIF veldoptie_value.length > 64 %]
            <span title="[% veldoptie_value %]" class="add-tooltip">
                [% veldoptie_value | truncate(64) | html_line_break %]
            </span>
        [% ELSE %]
            <span>[% veldoptie_value | html_line_break %]</span>
        [% END %]
    [% END %]
[% END %]

